tmp-active-render.json
[{"updatedAt":"2026-05-02T23:20:13.312Z","createdAt":"2026-05-02T13:57:29.602Z","id":"SAn6Iepn4rCpkHJg","name":"render-template-video-with-callback","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"render-template-video","responseMode":"responseNode","options":{}},"id":"9044aad2-f308-4dd1-bd9a-c5258ec3be51","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[4096,448],"webhookId":"07de69a3-9a99-452f-aaad-0731131ff530"},{"parameters":{"assignments":{"assignments":[{"name":"contentIdeaId","value":"={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}","type":"number"},{"name":"topic","value":"={{ String($json.body.topic || $json.topic || '').trim() }}","type":"string"},{"name":"script","value":"={{ String($json.body.script || $json.script || '').trim() }}","type":"string"},{"name":"caption","value":"={{ String($json.body.caption || $json.caption || '').trim() }}","type":"string"},{"name":"keyword","value":"={{ String($json.body.keyword || $json.keyword || '').trim() }}","type":"string"},{"name":"workflowRunId","value":"={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}","type":"number"}]},"options":{}},"id":"502e972e-b86b-42ea-b4b6-598c7a9eb6d2","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4336,448]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.GROQ_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.1-8b-instant', messages: [ { role: 'user', content: 'Create one realistic visual prompt for a vertical TikTok business video about this topic: ' + $json.topic + '. Script: ' + $json.script + '. Keyword: ' + ($json.keyword || $json.topic) + '. One sentence only.' } ] }) }}","options":{}},"id":"ed08aa2d-2771-458a-a489-4e442bba5aae","name":"HTTP Request Image Prompt","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4576,448]},{"parameters":{"url":"={{ (() => { const raw = String($('Set Input').item.json.keyword || $('Set Input').item.json.topic || 'business'); const normalized = raw.replace(/[\"'&]/g, ' ').replace(/[^\\w\\s-]/g, ' ').replace(/\\s+/g, ' ').trim(); const query = (normalized || 'business').split(' ').slice(0, 4).join(' ') || 'business'; return 'https://api.pexels.com/videos/search?query=' + encodeURIComponent(query) + '&per_page=5&orientation=portrait'; })() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $env.PEXELS_API_KEY }}"}]},"options":{}},"id":"f2afd9db-a41a-4f5c-b457-eebf8dfc26a9","name":"HTTP Request Pexels","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4816,448]},{"parameters":{"jsCode":"const videos = $json.videos || [];\nif (!videos.length) throw new Error('Aucune video Pexels retournee');\nconst ALLOWED_HOSTS = ['videos.pexels.com', 'player.vimeo.com'];\nconst isAllowedLink = (link) => { try { const h = new URL(link).hostname; return ALLOWED_HOSTS.some((a) => h === a || h.endsWith('.' + a)); } catch { return false; } };\nconst preferred = [];\nconst fallback = [];\nfor (const video of videos) {\n  for (const file of video.video_files || []) {\n    if (!file?.link || file.file_type !== 'video/mp4') continue;\n    if (!isAllowedLink(file.link)) continue;\n    const width = Number(file.width || video.width || 0);\n    const height = Number(file.height || video.height || 0);\n    if (!width || !height || height <= width) continue;\n    const item = { link: file.link, width, height };\n    if ((width === 1080 && height === 1920) || (width === 720 && height === 1280) || (width === 540 && height === 960)) { preferred.push(item); } else { fallback.push(item); }\n  }\n}\nconst pick = (preferred[0] || fallback.sort((a, b) => (b.height * b.width) - (a.height * a.width))[0]);\nif (!pick) throw new Error('Aucune video portrait Pexels directe exploitable (liens tiers exclus)');\nreturn [{ json: { id: $('Set Input').item.json.contentIdeaId, workflowRunId: $('Set Input').item.json.workflowRunId, topic: $('Set Input').item.json.topic, scripts: $('Set Input').item.json.script, caption: $('Set Input').item.json.caption, image_prompt: String($('HTTP Request Image Prompt').item.json.choices?.[0]?.message?.content || '').trim(), background_video_url: pick.link } }];"},"id":"ea41d5ff-549f-4528-bb4e-78f03ef2ec25","name":"Select Portrait Media","type":"n8n-nodes-base.code","typeVersion":2,"position":[5056,448]},{"parameters":{"method":"PATCH","url":"=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_status: 'preparing', final_video_status: 'processing', render_payload: JSON.stringify($json), render_status: 'prepared', pipeline_status: 'rendering_requested' }) }}","options":{}},"id":"d75c41f6-a372-4865-97ea-ffab72b03a36","name":"Backend Update Preparing","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[5296,448]},{"parameters":{"method":"POST","url":"=http://backend:8080/api/video-ops/internal/shotstack/render","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify((() => { const cleanText = (value) => String(value || '').normalize('NFKD').replace(/[^\\x20-\\x7E]/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 120); const lines = String($json.scripts || '').split('\\n').map((line) => cleanText(line)).filter(Boolean); const fallbackTopic = cleanText($('Set Input').item.json.topic || 'Video business'); const textLines = (lines.length ? lines : [fallbackTopic]).slice(0, 3); const titleClips = textLines.filter(Boolean).map((line, index) => ({ asset: { type: 'title', text: line, style: 'minimal', color: '#ffffff', background: 'rgba(15,15,15,0.55)' }, start: index * 3, length: 3, position: 'center' })); return { timeline: { background: '#0f0f0f', tracks: [ { clips: [ { asset: { type: 'video', src: $json.background_video_url }, start: 0, length: 15, fit: 'cover' } ] }, ...(titleClips.length ? [{ clips: titleClips }] : []) ] }, output: { format: 'mp4', aspectRatio: '9:16', resolution: 'hd' } }; })()) }}","options":{}},"id":"8aff90c0-1494-49ac-b2e5-91833b9c420c","name":"HTTP Request Shotstack Render","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[5536,448]},{"parameters":{"jsCode":"const shotstackResponse = $('HTTP Request Shotstack Render').item.json || {};\nconst shotstackRenderId = String(shotstackResponse.response?.id || shotstackResponse.id || '').trim();\nif (!shotstackRenderId) {\n  throw new Error('Shotstack render id manquant dans la reponse.');\n}\nreturn [{ json: { contentIdeaId: Number($('Set Input').item.json.contentIdeaId || 0), workflowRunId: Number($('Set Input').item.json.workflowRunId || 0), shotstackRenderId, status: 'render_requested' } }];"},"id":"32e4b682-0d2a-452a-92a8-c064b943cc49","name":"Build Render Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[5776,448]},{"parameters":{"method":"PATCH","url":"=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_render_id: $json.shotstackRenderId, shotstack_status: 'queued', final_video_status: 'processing', pipeline_status: 'rendering_requested' }) }}","options":{}},"id":"ced099f9-c486-4c2a-a271-5b19f77046f3","name":"Backend Update Render Id","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[6016,448]},{"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"3686dd0d-ec6f-4529-83b9-72c06c430bd3","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[6256,448]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = 'http://backend:8080';\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Build Render Response').item.json.workflowRunId || 0);\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({ status: 'SUCCEEDED', message: 'Render Shotstack demande.', responsePayload: JSON.stringify({ contentIdeaId: Number($('Build Render Response').item.json.contentIdeaId || 0), shotstackRenderId: $('Build Render Response').item.json.shotstackRenderId || '' }) });\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\nconst sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt += 1) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({ protocol: url.protocol, hostname: url.hostname, port: url.port || (url.protocol === 'https:' ? 443 : 80), path: url.pathname + url.search, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body), 'X-Video-Ops-Callback-Secret': callbackSecret } }, (res) => { let data = ''; res.on('data', (chunk) => { data += chunk; }); res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data })); });\n      req.on('error', reject);\n      req.write(body);\n      req.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback backend refuse: ' + response.statusCode;\n    if (response.statusCode !== 404 || attempt === 6) throw new Error(lastError);\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt === 6) throw error;\n  }\n  await sleep(500 * attempt);\n}\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError || 'Callback backend refuse.');\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"},"id":"2022d6fd-e436-4238-bf7e-730afd135c18","name":"Callback Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[6496,448]}],"connections":{"Webhook":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"HTTP Request Image Prompt","type":"main","index":0}]]},"HTTP Request Image Prompt":{"main":[[{"node":"HTTP Request Pexels","type":"main","index":0}]]},"HTTP Request Pexels":{"main":[[{"node":"Select Portrait Media","type":"main","index":0}]]},"Select Portrait Media":{"main":[[{"node":"Backend Update Preparing","type":"main","index":0}]]},"Backend Update Preparing":{"main":[[{"node":"HTTP Request Shotstack Render","type":"main","index":0}]]},"HTTP Request Shotstack Render":{"main":[[{"node":"Build Render Response","type":"main","index":0}]]},"Build Render Response":{"main":[[{"node":"Backend Update Render Id","type":"main","index":0}]]},"Backend Update Render Id":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Callback Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"8b887156-cbdb-4ff9-b397-8b96c882be54","activeVersionId":"8b887156-cbdb-4ff9-b397-8b96c882be54","versionCounter":32,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T13:57:29.605Z","createdAt":"2026-05-02T13:57:29.605Z","role":"workflow:owner","workflowId":"SAn6Iepn4rCpkHJg","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":"Version 8b887156","description":""}}]
