tmp-active-init.json
[{"updatedAt":"2026-05-02T23:22:58.655Z","createdAt":"2026-05-02T14:00:15.518Z","id":"ql0Tg97q1cZ12aee","name":"init-publish-tiktok-fixed","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"init-publish-tiktok","responseMode":"responseNode","options":{}},"id":"fb3c2a77-9dec-4e5f-9c8b-44fdba8d23c7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"e6ee4c2b-55aa-4e5c-854d-429e9be288fa"},{"parameters":{"assignments":{"assignments":[{"name":"contentIdeaId","value":"={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}","type":"number"},{"name":"workflowRunId","value":"={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}","type":"number"}]},"options":{}},"id":"a2add197-6e82-4c78-b395-6607b1f99ee7","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0]},{"parameters":{"url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"options":{}},"id":"0752c61a-cb48-440e-b58b-cf181518c923","name":"Backend Get Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,0]},{"parameters":{"jsCode":"const idea = $json;\nif (!idea || !idea.id) throw new Error('contentIdea introuvable.');\nif (idea.platform && idea.platform !== 'tiktok') throw new Error('Cette contentIdea n\\'est pas prevue pour TikTok.');\nif (idea.final_video_status && idea.final_video_status !== 'ready') throw new Error('La video finale n\\'est pas encore prete. Status: ' + idea.final_video_status);\nif (!idea.shotstack_url) throw new Error('La video finale Shotstack est absente.');\nif (idea.publish_status === 'published') throw new Error('Cette video est deja marquee comme publiee.');\nconst openId = idea.tiktok_account_open_id || '';\nif (!openId) throw new Error('Aucun tiktokAccountOpenId n\\'est defini pour cette video.');\nreturn [{ json: { idea, openId } }];"},"id":"5e8955ba-167e-4963-b9d3-9f6af0baaebd","name":"Validate Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0]},{"parameters":{"url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok-accounts?openId=' + encodeURIComponent($json.openId) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"options":{}},"id":"66370994-4e5d-43c5-9c7b-d579d56bca4a","name":"Backend Get TikTok Account","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[960,0]},{"parameters":{"jsCode":"const accounts = Array.isArray($json) ? $json : [$json];\nconst account = accounts[0];\nif (!account || !account.id) throw new Error('Compte TikTok introuvable pour openId: ' + $(\\'Validate Idea\\').item.json.openId);\nif (!account.refresh_token) throw new Error('refresh_token manquant pour ce compte TikTok.');\nreturn [{ json: { accountId: account.id, openId: account.open_id, refreshToken: account.refresh_token } }];"},"id":"1b527354-530b-46af-8cfd-bcca0e0477df","name":"Extract Account","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0]},{"parameters":{"method":"POST","url":"https://open.tiktokapis.com/v2/oauth/token/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_key","value":"={{ $env.APP_VIDEO_OPS_TIKTOK_CLIENT_KEY }}"},{"name":"client_secret","value":"={{ $env.APP_VIDEO_OPS_TIKTOK_CLIENT_SECRET }}"},{"name":"grant_type","value":"refresh_token"},{"name":"refresh_token","value":"={{ $json.refreshToken }}"}]},"options":{}},"id":"f0b78eaf-83bf-4065-b11e-89edd27bf99c","name":"HTTP Request Refresh Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1440,0]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok-accounts/' + $('Extract Account').item.json.accountId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ access_token: $json.access_token, refresh_token: $json.refresh_token, open_id: $json.open_id || $('Extract Account').item.json.openId, scope: $json.scope, token_type: $json.token_type }) }}","options":{}},"id":"f83a10d3-11dc-4d9f-89cf-7b93e8808b2f","name":"Backend Update TikTok Account","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,0]},{"parameters":{"method":"POST","url":"https://open.tiktokapis.com/v2/post/publish/creator_info/query/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=UTF-8"},{"name":"Authorization","value":"={{ 'Bearer ' + $('HTTP Request Refresh Token').item.json.access_token }}"}]},"options":{}},"id":"1f46dd26-99de-4ddc-ab0d-f22c827fee6c","name":"HTTP Request Creator Info","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,0]},{"parameters":{"method":"HEAD","url":"={{ $('Backend Get Content Idea').item.json.shotstack_url }}","options":{"response":{"response":{"fullResponse":true}}}},"id":"a655a04f-14ae-4a6d-a48e-6f778d4daa0c","name":"HTTP Request Video Head","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2160,0]},{"parameters":{"method":"POST","url":"https://open.tiktokapis.com/v2/post/publish/video/init/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=UTF-8"},{"name":"Authorization","value":"={{ 'Bearer ' + $('HTTP Request Refresh Token').item.json.access_token }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json; charset=UTF-8","body":"={{ JSON.stringify({ post_info: { title: String($('Backend Get Content Idea').item.json.caption || '').trim().slice(0, 150), privacy_level: ($('HTTP Request Creator Info').item.json.data?.privacy_level_options || ['SELF_ONLY']).includes('SELF_ONLY') ? 'SELF_ONLY' : ($('HTTP Request Creator Info').item.json.data?.privacy_level_options || ['SELF_ONLY'])[0], disable_duet: true, disable_comment: false, disable_stitch: true, video_cover_timestamp_ms: 1000 }, source_info: { source: 'FILE_UPLOAD', video_size: Number($('HTTP Request Video Head').item.json.headers['content-length'] || 0), chunk_size: Number($('HTTP Request Video Head').item.json.headers['content-length'] || 0), total_chunk_count: 1 } }) }}","options":{}},"id":"ceae3010-2b20-4960-9597-bd8f1efb9443","name":"HTTP Request Init Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2400,0]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('Backend Get Content Idea').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ tiktok_publish_id: $json.data?.publish_id, tiktok_upload_url: $json.data?.upload_url, tiktok_upload_status: 'init_done', publish_status: 'draft' }) }}","options":{}},"id":"9e88f4e0-0e04-4c2f-b715-00aa579f1169","name":"Backend Update Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2640,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/workflow-runs/' + $('Set Input').item.json.workflowRunId + '/complete' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Callback-Secret","value":"={{ $env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { status: 'SUCCEEDED', message: 'Init publish TikTok termine.', responsePayload: JSON.stringify({ contentIdeaId: $('Backend Get Content Idea').item.json.id, uploadUrl: $('HTTP Request Init Publish').item.json.data?.upload_url }) } }}","options":{}},"id":"bf149218-e9ac-42c8-be8c-5b859ce68245","name":"Callback Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2880,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Backend Get Content Idea').item.json.id, publishId: $('HTTP Request Init Publish').item.json.data?.publish_id, uploadUrl: $('HTTP Request Init Publish').item.json.data?.upload_url, status: 'init_done' } }}","options":{"responseCode":200}},"id":"df135baa-bf2a-48af-8812-d42b3204a979","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3120,0]}],"connections":{"Webhook":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"Backend Get Content Idea","type":"main","index":0}]]},"Backend Get Content Idea":{"main":[[{"node":"Validate Idea","type":"main","index":0}]]},"Validate Idea":{"main":[[{"node":"Backend Get TikTok Account","type":"main","index":0}]]},"Backend Get TikTok Account":{"main":[[{"node":"Extract Account","type":"main","index":0}]]},"Extract Account":{"main":[[{"node":"HTTP Request Refresh Token","type":"main","index":0}]]},"HTTP Request Refresh Token":{"main":[[{"node":"Backend Update TikTok Account","type":"main","index":0}]]},"Backend Update TikTok Account":{"main":[[{"node":"HTTP Request Creator Info","type":"main","index":0}]]},"HTTP Request Creator Info":{"main":[[{"node":"HTTP Request Video Head","type":"main","index":0}]]},"HTTP Request Video Head":{"main":[[{"node":"HTTP Request Init Publish","type":"main","index":0}]]},"HTTP Request Init Publish":{"main":[[{"node":"Backend Update Content Idea","type":"main","index":0}]]},"Backend Update Content Idea":{"main":[[{"node":"Callback Success","type":"main","index":0}]]},"Callback Success":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"bb844247-f12c-40dc-8cdd-83e30fe407ee","activeVersionId":"bb844247-f12c-40dc-8cdd-83e30fe407ee","versionCounter":16,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T14:00:15.523Z","createdAt":"2026-05-02T14:00:15.523Z","role":"workflow:owner","workflowId":"ql0Tg97q1cZ12aee","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":"Version bb844247","description":""}}]