tmp-render-minimal.json
{
  "id": "2b6d9f7b-1a34-4ee5-9aa6-6d50d561ce31",
  "name": "render-template-video-minimal-test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-template-video-minimal-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "contentIdeaId",
              "value": "={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}",
              "type": "number"
            },
            {
              "name": "workflowRunId",
              "value": "={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        60
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $json.contentIdeaId, workflowRunId: $json.workflowRunId } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        60
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
