Backend/tools/n8n-workflows/idea-script-fused.json
[{"updatedAt":"2026-05-06T17:34:31.472Z","createdAt":"2026-05-03T19:03:31.778Z","id":"q8OpzbRoQe8W8TzY","name":"idea-script-generation-fused","description":"Generate ideas + scripts in single workflow (fused creation + script)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"fused-idea-script","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"fused-webhook"},{"parameters":{"jsCode":"const body = $json.body || {};\nconst idempotencyKey = body.idempotencyKey || null;\nconst category = String(body.category || '').trim();\nconst ideaCount = Number(body.ideaCount || 1);\nconst workflowRunId = Number(body.workflowRunId || 0);\nconst topic = String(body.topic || '').trim().slice(0, 240) || null;\nconst durationTarget = ['short', 'medium', 'long'].includes(String(body.durationTarget || '').trim()) ? String(body.durationTarget).trim() : 'medium';\nconst rawLanguage = String(body.language || 'fr').trim().toLowerCase();\nconst languageMap = {\n  fr: { code: 'fr', label: 'French', instruction: 'Write every user-facing field in natural French.' },\n  en: { code: 'en', label: 'English', instruction: 'Write every user-facing field in natural English.' },\n  es: { code: 'es', label: 'Spanish', instruction: 'Write every user-facing field in natural Spanish.' },\n  it: { code: 'it', label: 'Italian', instruction: 'Write every user-facing field in natural Italian.' },\n  de: { code: 'de', label: 'German', instruction: 'Write every user-facing field in natural German.' },\n  ar: { code: 'ar', label: 'Modern Standard Arabic', instruction: 'Write every user-facing field in Modern Standard Arabic using Arabic script.' },\n  ary: { code: 'ary', label: 'Moroccan Darija', instruction: 'Write every user-facing field in natural Moroccan Darija using Arabic script, with familiar Moroccan wording.' },\n  darija: { code: 'ary', label: 'Moroccan Darija', instruction: 'Write every user-facing field in natural Moroccan Darija using Arabic script, with familiar Moroccan wording.' },\n  ma: { code: 'ary', label: 'Moroccan Darija', instruction: 'Write every user-facing field in natural Moroccan Darija using Arabic script, with familiar Moroccan wording.' }\n};\nconst language = languageMap[rawLanguage] || languageMap.fr;\nconst temperatureInput = Number(body.temperature);\nconst temperature = Number.isFinite(temperatureInput) ? Math.min(1.2, Math.max(0.1, temperatureInput)) : 0.7;\nconst inspirationRef = String(body.inspirationRef || '').trim().slice(0, 600) || null;\nconst sceneCountInput = Number(body.sceneCount || 1);\nconst sceneCount = Number.isInteger(sceneCountInput) ? Math.min(10, Math.max(1, sceneCountInput)) : 1;\n\nif (!category) throw new Error('category is required');\nif (!Number.isInteger(ideaCount) || ideaCount < 1 || ideaCount > 5) throw new Error('ideaCount must be 1-5');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId is required and must be > 0');\n\nreturn [{ json: { idempotencyKey, category, ideaCount, workflowRunId, topic, durationTarget, language, temperature, inspirationRef, sceneCount, templateId: body.templateId || null, tiktokAccountOpenId: body.tiktokAccountOpenId || null } }];"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"jsCode":"const input = $input.first().json;\nreturn Array.from({ length: input.ideaCount }).map((_, index) => ({ json: { ...input, iteration: index + 1, ideaIndex: index } }));"},"id":"expand-ideas","name":"Expand Ideas","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.1-8b-instant', temperature: $json.temperature, max_tokens: 140, messages: [ { role: 'system', content: 'You generate concise TikTok content ideas. Return only the final idea text, no numbering, no markdown.' }, { role: 'user', content: 'Language: ' + $json.language.label + '\\nInstruction: ' + $json.language.instruction + '\\nCategory: ' + $json.category + ($json.topic ? '\\nUser topic to use as the main subject: ' + $json.topic : '') + ($json.inspirationRef ? '\\nInspiration/reference to respect: ' + $json.inspirationRef : '') + '\\n\\nGenerate exactly one unique TikTok content idea. The idea itself must be in the selected language, not English unless English was selected. Keep it specific, punchy, and under 140 characters. Return only the idea text.' } ] }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"groq-idea","name":"Call Groq for Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[720,0]},{"parameters":{"jsCode":"const topic = String($json.choices?.[0]?.message?.content || '').trim().replace(/^[-*\\d.)\\s]+/, '').slice(0, 255);\nif (!topic || topic.length < 5) throw new Error('LLM_IDEA_TOO_SHORT');\nconst input = $('Expand Ideas').item.json;\nreturn [{ json: { topic, category: input.category, workflowRunId: input.workflowRunId, templateId: input.templateId, tiktokAccountOpenId: input.tiktokAccountOpenId, ideaIndex: input.ideaIndex, durationTarget: input.durationTarget, language: input.language, temperature: input.temperature, inspirationRef: input.inspirationRef, sceneCount: input.sceneCount } }];"},"id":"normalize-idea","name":"Normalize Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ category: $json.category, topic: $json.topic, status: 'new', pipelineStatus: 'idea_created', publishStatus: 'draft', platform: 'tiktok', templateId: $json.templateId || null, tiktokAccountOpenId: $json.tiktokAccountOpenId || null }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"create-idea","name":"Backend: Create Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1200,0]},{"parameters":{"jsCode":"const idea = $json.body || $json;\nconst contentIdeaId = Number(idea.id || 0);\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('Backend did not return idea id');\nconst normalized = $('Normalize Idea').item.json;\nconst sceneCount = Number(normalized.sceneCount || 1);\nconst language = normalized.language || { label: 'French', instruction: 'Write every user-facing field in natural French.' };\nconst prompt = [\n  'Language: ' + language.label,\n  'Instruction: ' + language.instruction,\n  'Category: ' + normalized.category,\n  'Topic: ' + normalized.topic,\n  'Duration target: ' + normalized.durationTarget,\n  'Scene count: ' + sceneCount,\n  normalized.inspirationRef ? 'Inspiration/reference to respect: ' + normalized.inspirationRef : '',\n  '',\n  'Generate a professional TikTok storyboard package. Every visible/user-facing value must be in the selected language: sceneText, script, caption, hook, hashtags. Do not mix French or English unless that language was selected.',\n  'The scenes array MUST contain exactly ' + sceneCount + ' objects. Each scene is one short sentence and will become one row in the app.',\n  'Each scene must also include a specific visualKeyword for Pexels, cameraMood, and overlayPriority.',\n  'The script must be exactly the sceneText values joined in order.',\n  'Caption should be 1-2 catchy phrases with 2-3 relevant hashtags in the selected language.',\n  'Hook must be the first phrase people see in the first second.',\n  'background_keyword must be the strongest visual search keyword.',\n  'qualityReview must honestly score the package from 0 to 100 and list issues.',\n  '',\n  'Return exactly this JSON shape, with scenes containing exactly ' + sceneCount + ' objects:',\n  '{\"scenes\":[{\"sceneText\":\"...\",\"visualKeyword\":\"...\",\"cameraMood\":\"close-up dramatic\",\"overlayPriority\":\"hook\"}],\"script\":\"...\",\"caption\":\"...\",\"hook\":\"...\",\"background_keyword\":\"...\",\"qualityReview\":{\"score\":85,\"issues\":[],\"languageOk\":true,\"sceneCountOk\":true}}'\n].filter((line) => line !== '').join('\\n');\nconst groqScriptRequestBody = JSON.stringify({\n  model: 'llama-3.3-70b-versatile',\n  temperature: normalized.temperature,\n  max_tokens: 1100,\n  messages: [\n    { role: 'system', content: 'You are a TikTok content director, scene planner, and QA reviewer. Return ONLY valid JSON without markdown. Follow requested counts exactly.' },\n    { role: 'user', content: prompt }\n  ]\n});\nreturn [{ json: { contentIdeaId, topic: normalized.topic, category: normalized.category, workflowRunId: normalized.workflowRunId, ideaIndex: normalized.ideaIndex, durationTarget: normalized.durationTarget, language, temperature: normalized.temperature, inspirationRef: normalized.inspirationRef, sceneCount, groqScriptRequestBody } }];"},"id":"extract-idea-id","name":"Extract Idea ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.groqScriptRequestBody }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"groq-script","name":"Call Groq for Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,0]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\n\nconst source = $('Extract Idea ID').item.json;\nconst expectedSceneCount = Math.min(10, Math.max(1, Number(source.sceneCount || 1)));\nconst selectedLanguage = source.language || { label: 'French', instruction: 'Write every user-facing field in natural French.' };\n\nfunction stripMarkdown(raw) {\n  return String(raw || '').trim().replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n}\n\nfunction parsePackage(raw) {\n  const cleaned = stripMarkdown(raw);\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    throw new Error('LLM_SCRIPT_PARSE_ERROR: ' + e.message);\n  }\n}\n\nfunction sentenceSplit(value) {\n  return String(value || '')\n    .split(/(?<=[.!??])\\s+/)\n    .map((scene) => scene.trim())\n    .filter(Boolean);\n}\n\nfunction normalizeScene(scene, index) {\n  const raw = scene && typeof scene === 'object' ? scene : { sceneText: scene };\n  const sceneText = String(raw.sceneText || raw.text || raw.script || '').trim();\n  return {\n    sceneText,\n    visualKeyword: String(raw.visualKeyword || raw.mediaQuery || raw.keyword || source.topic || source.category || 'professional').trim(),\n    cameraMood: String(raw.cameraMood || raw.mood || raw.emotion || (index === 0 ? 'close-up dramatic' : 'dynamic vertical')).trim(),\n    overlayPriority: String(raw.overlayPriority || raw.priority || (index === 0 ? 'hook' : 'body')).trim()\n  };\n}\n\nfunction normalizePackage(parsed) {\n  let scenes = Array.isArray(parsed.scenes)\n    ? parsed.scenes.map(normalizeScene)\n    : sentenceSplit(parsed.script).map((text, index) => normalizeScene({ sceneText: text }, index));\n  scenes = scenes.filter((scene) => scene.sceneText.length > 0);\n  const qualityReview = parsed.qualityReview && typeof parsed.qualityReview === 'object'\n    ? parsed.qualityReview\n    : { score: 0, issues: ['missing_quality_review'], languageOk: null, sceneCountOk: scenes.length === expectedSceneCount };\n  return { ...parsed, scenes, qualityReview };\n}\n\nfunction sceneCountOk(pkg) {\n  return Array.isArray(pkg.scenes) && pkg.scenes.length === expectedSceneCount;\n}\n\nfunction qaScore(pkg) {\n  const score = Number(pkg.qualityReview?.score);\n  return Number.isFinite(score) ? score : 0;\n}\n\nasync function callGroqRepair(pkg, reason) {\n  const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\n  const secret = String($env.APP_VIDEO_OPS_INTERNAL_API_SECRET || '');\n  if (!baseUrl || !secret) {\n    throw new Error('LLM_REPAIR_CONFIG_MISSING');\n  }\n  const body = JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.35,\n    max_tokens: 1100,\n    messages: [\n      { role: 'system', content: 'You are a strict TikTok storyboard QA and repair agent. Return ONLY valid JSON without markdown.' },\n      { role: 'user', content: 'Repair this TikTok package. Reason: ' + reason + '\\nLanguage: ' + selectedLanguage.label + '\\nInstruction: ' + selectedLanguage.instruction + '\\nExpected scene count: ' + expectedSceneCount + '\\nTopic: ' + source.topic + '\\nCategory: ' + source.category + '\\n\\nRules: scenes MUST contain exactly ' + expectedSceneCount + ' objects. Every visible field must be in the selected language. Keep sceneText punchy and short. Keep/add visualKeyword, cameraMood, overlayPriority. qualityReview.score must be >= 80 after repair. Return the exact same JSON shape.\\n\\nPackage to repair:\\n' + JSON.stringify(pkg).slice(0, 5000) }\n    ]\n  });\n  const url = new URL(baseUrl + '/api/video-ops/internal/groq/chat-completions');\n  const client = url.protocol === 'https:' ? https : http;\n  const response = await new Promise((resolve, reject) => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Internal-Secret': secret\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n    req.on('error', reject);\n    req.setTimeout(30000, () => {\n      req.destroy();\n      reject(new Error('LLM_REPAIR_TIMEOUT'));\n    });\n    req.write(body);\n    req.end();\n  });\n  if (response.statusCode < 200 || response.statusCode >= 300) {\n    throw new Error('LLM_REPAIR_HTTP_' + response.statusCode + ': ' + String(response.body || '').slice(0, 200));\n  }\n  const json = JSON.parse(response.body);\n  return parsePackage(json.choices?.[0]?.message?.content || '');\n}\n\nlet pkg = normalizePackage(parsePackage($json.choices?.[0]?.message?.content || ''));\nlet repairReason = null;\nif (!sceneCountOk(pkg)) repairReason = 'scene_count_mismatch expected ' + expectedSceneCount + ' got ' + pkg.scenes.length;\nelse if (qaScore(pkg) < 75) repairReason = 'qa_score_too_low ' + qaScore(pkg);\n\nif (repairReason) {\n  pkg = normalizePackage(await callGroqRepair(pkg, repairReason));\n  pkg.qualityReview = { ...(pkg.qualityReview || {}), repaired: true, repairReason };\n}\n\nif (!sceneCountOk(pkg)) {\n  throw new Error('LLM_SCENE_COUNT_MISMATCH_AFTER_REPAIR: expected ' + expectedSceneCount + ', got ' + pkg.scenes.length);\n}\nif (qaScore(pkg) < 70) {\n  throw new Error('LLM_QA_SCORE_TOO_LOW_AFTER_REPAIR: ' + qaScore(pkg));\n}\n\nconst normalizeSentence = (value) => {\n  const text = String(value || '').trim();\n  if (!text) return '';\n  return /[.!??]$/.test(text) ? text : text + '.';\n};\nconst script = pkg.scenes.map((scene) => normalizeSentence(scene.sceneText)).join(' ');\nconst backgroundKeyword = String(pkg.background_keyword || pkg.backgroundKeyword || pkg.scenes[0]?.visualKeyword || source.topic || '').trim();\n\nif (!script) throw new Error('LLM_MISSING_FIELD: script');\nif (!pkg.caption) throw new Error('LLM_MISSING_FIELD: caption');\nif (!pkg.hook) throw new Error('LLM_MISSING_FIELD: hook');\n\nreturn [{ json: {\n  script,\n  planned_scenes: JSON.stringify(pkg.scenes),\n  generation_review: JSON.stringify(pkg.qualityReview || {}),\n  scene_count: expectedSceneCount,\n  caption: pkg.caption,\n  hook: pkg.hook,\n  background_keyword: backgroundKeyword,\n  contentIdeaId: source.contentIdeaId,\n  workflowRunId: source.workflowRunId\n} }];"},"id":"parse-script","name":"Parse Script Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,0]},{"parameters":{"assignments":{"assignments":[{"name":"script","value":"={{ String($json.script || '').trim().slice(0, 2200) }}","type":"string"},{"name":"scene_count","value":"={{ Number($json.scene_count || 0) }}","type":"number"},{"name":"caption","value":"={{ String($json.caption || '').trim().slice(0, 150) }}","type":"string"},{"name":"hook","value":"={{ String($json.hook || '').trim().slice(0, 100) }}","type":"string"},{"name":"background_keyword","value":"={{ String($json.background_keyword || '').trim().slice(0, 50) }}","type":"string"},{"name":"contentIdeaId","value":"={{ $json.contentIdeaId }}","type":"number"},{"name":"workflowRunId","value":"={{ $json.workflowRunId }}","type":"number"},{"name":"planned_scenes","value":"={{ String($json.planned_scenes || \"[]\") }}","type":"string"},{"name":"generation_review","value":"={{ String($json.generation_review || \"{}\") }}","type":"string"}]},"options":{}},"id":"normalize-script","name":"Normalize Script Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"script_len","leftValue":"={{ ($json.script || '').length >= 10 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"caption_len","leftValue":"={{ ($json.caption || '').length >= 5 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"validate-script-quality","name":"Validate Script Quality","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,0]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ scripts: $json.script, planned_scenes: $json.planned_scenes, generation_review: $json.generation_review, script_status: 'done', script_hook: $json.hook, caption: $json.caption, background_keyword: $json.background_keyword, pipeline_status: 'script_ready', llm_model: 'llama-3.3-70b-versatile' }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"update-idea-with-script","name":"Backend: Update Idea with Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2640,0]},{"parameters":{"jsCode":"const items = $input.all();\nconst workflowRunId = Number($('Validate Input').first().json.workflowRunId || 0);\nreturn [{ json: { workflowRunId, generatedCount: items.length, createdAt: new Date().toISOString() } }];"},"id":"summarize","name":"Summarize Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, workflowRunId: $json.workflowRunId, generatedCount: $json.generatedCount, status: 'idea_and_script_ready' } }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3120,0]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\nconst idempotencyKey = String($json.idempotencyKey || '').trim();\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Idea and script generation complete.',\n  responsePayload: JSON.stringify({ generatedCount: Number($json.generatedCount || 0) })\n});\n\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n          ...(idempotencyKey ? { 'X-Idempotency-Key': idempotencyKey } : {})\n        }\n      }, (res) => {\n        let data = '';\n        res.on('data', (chunk) => { data += chunk; });\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n      });\n\n      req.on('error', reject);\n      req.setTimeout(10000, () => {\n        req.destroy();\n        reject(new Error('Callback timeout'));\n      });\n\n      req.write(body);\n      req.end();\n    });\n\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    if (response.statusCode === 409) throw new Error('CALLBACK_OBSOLETE_REPLAY: 409 idempotency mismatch');\n    lastError = 'Callback failed: ' + response.statusCode;\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt < 3) await new Promise(r => setTimeout(r, 500 * attempt));\n    else throw error;\n  }\n}\n\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError);\nreturn [{ json: { ok: true, workflowRunId, generatedCount: $json.generatedCount, callbackStatusCode: response.statusCode } }];"},"id":"callback-success","name":"Callback Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,0]},{"parameters":{"jsCode":"let error = 'Unknown error';\nif (typeof $json === 'string') {\n  error = $json;\n} else if ($json && typeof $json === 'object') {\n  error = $json.message || $json.error || $json.toString();\n}\n\nlet contentIdeaId = 0;\ntry {\n  const extractNode = $('Extract Idea ID');\n  if (extractNode && extractNode.item && extractNode.item.json) {\n    contentIdeaId = Number(extractNode.item.json.contentIdeaId || 0);\n  }\n} catch (e) {}\n\nlet workflowRunId = 0;\ntry {\n  const validateNode = $('Validate Input');\n  if (validateNode && validateNode.first() && validateNode.first().json) {\n    workflowRunId = Number(validateNode.first().json.workflowRunId || 0);\n  }\n} catch (e) {}\n\nlet idempotencyKey = null;\ntry {\n  const validateNode = $('Validate Input');\n  if (validateNode && validateNode.first() && validateNode.first().json) {\n    idempotencyKey = validateNode.first().json.idempotencyKey || null;\n  }\n} catch (e) {}\n\nreturn [{ json: { idempotencyKey, contentIdeaId, workflowRunId, error: String(error).slice(0, 500), error_at: new Date().toISOString() } }];"},"id":"prepare-error","name":"Prepare Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\nconst idempotencyKey = String($json.idempotencyKey || '').trim();\nconst errorMsg = String($json.error || 'Unknown error');\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { ok: false, error: errorMsg } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Generation failed: ' + errorMsg.slice(0, 200),\n  responsePayload: JSON.stringify({ error: errorMsg.slice(0, 500) })\n});\n\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet response = null;\nfor (let attempt = 1; attempt <= 2; attempt++) {\n  try {\n    response = await new Promise((resolve) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n          ...(idempotencyKey ? { 'X-Idempotency-Key': idempotencyKey } : {})\n        }\n      }, (res) => {\n        res.on('data', () => {});\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0 }));\n      });\n\n      req.on('error', () => resolve({ statusCode: 0 }));\n      req.setTimeout(10000, () => {\n        req.destroy();\n        resolve({ statusCode: 0 });\n      });\n\n      req.write(body);\n      req.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n  } catch (e) {}\n}\n\nreturn [{ json: { ok: false, error: errorMsg, workflowRunId, callbackAttempted: true } }];"},"id":"callback-error","name":"Callback Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.error, action: 'check_logs' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,300]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Expand Ideas","type":"main","index":0}]]},"Expand Ideas":{"main":[[{"node":"Call Groq for Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Call Groq for Idea":{"main":[[{"node":"Normalize Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Normalize Idea":{"main":[[{"node":"Backend: Create Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Backend: Create Idea":{"main":[[{"node":"Extract Idea ID","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Extract Idea ID":{"main":[[{"node":"Call Groq for Script","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Call Groq for Script":{"main":[[{"node":"Parse Script Response","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Parse Script Response":{"main":[[{"node":"Normalize Script Output","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Normalize Script Output":{"main":[[{"node":"Validate Script Quality","type":"main","index":0}]]},"Validate Script Quality":{"main":[[{"node":"Backend: Update Idea with Script","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Backend: Update Idea with Script":{"main":[[{"node":"Summarize Results","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Summarize Results":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Respond Success":{"main":[[{"node":"Callback Success","type":"main","index":0}]]},"Callback Success":{"main":[],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Prepare Error":{"main":[[{"node":"Callback Error","type":"main","index":0}]],"error":[[{"node":"Respond Error","type":"main","index":0}]]},"Callback Error":{"main":[[{"node":"Respond Error","type":"main","index":0}]]},"Respond Error":{"main":[]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ee957b8-29f7-42e8-8f70-6486a18273f9","activeVersionId":"1ee957b8-29f7-42e8-8f70-6486a18273f9","versionCounter":46,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-03T19:03:31.785Z","createdAt":"2026-05-03T19:03:31.785Z","role":"workflow:owner","workflowId":"q8OpzbRoQe8W8TzY","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}}]