Backend/tools/n8n-workflows/idea-script-fused.json
[{"updatedAt":"2026-05-04T22:17:05.000Z","createdAt":"2026-05-03T19:03:31.778Z","id":"q8OpzbRoQe8W8TzY","name":"idea-script-generation-fused","description":"Generate ideas + scripts in single workflow (fused creation + script)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"fused-idea-script","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"fused-webhook"},{"parameters":{"jsCode":"const body = $json.body || {};\nconst category = String(body.category || '').trim();\nconst ideaCount = Number(body.ideaCount || 1);\nconst workflowRunId = Number(body.workflowRunId || 0);\n\nif (!category) throw new Error('category is required');\nif (!Number.isInteger(ideaCount) || ideaCount < 1 || ideaCount > 5) throw new Error('ideaCount must be 1-5');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId is required and must be > 0');\n\nreturn [{ json: { category, ideaCount, workflowRunId, templateId: body.templateId || null, tiktokAccountOpenId: body.tiktokAccountOpenId || null } }];"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"jsCode":"const input = $input.first().json;\nreturn Array.from({ length: input.ideaCount }).map((_, index) => ({ json: { ...input, iteration: index + 1, ideaIndex: index } }));"},"id":"expand-ideas","name":"Expand Ideas","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { model: 'llama-3.1-8b-instant', temperature: 0.7, max_tokens: 100, messages: [ { role: 'user', content: 'Generate exactly one unique TikTok content idea for category: ' + $json.category + '. Return only the idea text, no numbering.' } ] } }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"groq-idea","name":"Call Groq for Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[720,0]},{"parameters":{"jsCode":"const topic = String($json.choices?.[0]?.message?.content || '').trim().slice(0, 255);\nif (!topic || topic.length < 5) throw new Error('LLM_IDEA_TOO_SHORT');\nreturn [{ json: { topic, category: $('Expand Ideas').item.json.category, workflowRunId: $('Expand Ideas').item.json.workflowRunId, templateId: $('Expand Ideas').item.json.templateId, tiktokAccountOpenId: $('Expand Ideas').item.json.tiktokAccountOpenId, ideaIndex: $('Expand Ideas').item.json.ideaIndex } }];"},"id":"normalize-idea","name":"Normalize Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ category: $json.category, topic: $json.topic, status: 'new', pipelineStatus: 'idea_created', publishStatus: 'draft', platform: 'tiktok', templateId: $json.templateId || null, tiktokAccountOpenId: $json.tiktokAccountOpenId || null }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"create-idea","name":"Backend: Create Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1200,0]},{"parameters":{"jsCode":"const idea = $json.body || $json;\nconst contentIdeaId = Number(idea.id || 0);\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('Backend did not return idea id');\nreturn [{ json: { contentIdeaId, topic: $('Normalize Idea').item.json.topic, category: $('Normalize Idea').item.json.category, workflowRunId: $('Normalize Idea').item.json.workflowRunId, ideaIndex: $('Normalize Idea').item.json.ideaIndex } }];"},"id":"extract-idea-id","name":"Extract Idea ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.6, max_tokens: 500, messages: [ { role: 'system', content: 'You are a TikTok content expert. Generate professional, punchy scripts optimized for mobile. Return ONLY valid JSON without markdown.' }, { role: 'user', content: 'Category: ' + $json.category + '\\nTopic: ' + $json.topic + '\\n\\nGenerate a professional TikTok script:\\n- script: 1-3 short impactful sentences, natural French, conversational\\n- caption: 1-2 catchy phrases with 2-3 relevant hashtags\\n- hook: engaging first phrase to hook in 1s\\n- background_keyword: single word for background search\\n\\nReturn exactly this JSON:\\n{\"script\":\"...\",\"caption\":\"...\",\"hook\":\"...\",\"background_keyword\":\"...\"}' } ] }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"groq-script","name":"Call Groq for Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,0]},{"parameters":{"jsCode":"const raw = String($json.choices?.[0]?.message?.content || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM_SCRIPT_PARSE_ERROR: ' + e.message);\n}\n\nif (!parsed.script) throw new Error('LLM_MISSING_FIELD: script');\nif (!parsed.caption) throw new Error('LLM_MISSING_FIELD: caption');\nif (!parsed.hook) throw new Error('LLM_MISSING_FIELD: hook');\n\nreturn [{ json: { script: parsed.script, caption: parsed.caption, hook: parsed.hook, background_keyword: parsed.background_keyword || '', contentIdeaId: $('Extract Idea ID').item.json.contentIdeaId, workflowRunId: $('Extract Idea ID').item.json.workflowRunId } }];"},"id":"parse-script","name":"Parse Script Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,0]},{"parameters":{"assignments":{"assignments":[{"name":"script","value":"={{ String($json.script || '').trim().slice(0, 300) }}","type":"string"},{"name":"caption","value":"={{ String($json.caption || '').trim().slice(0, 150) }}","type":"string"},{"name":"hook","value":"={{ String($json.hook || '').trim().slice(0, 100) }}","type":"string"},{"name":"background_keyword","value":"={{ String($json.background_keyword || '').trim().slice(0, 50) }}","type":"string"},{"name":"contentIdeaId","value":"={{ $json.contentIdeaId }}","type":"number"},{"name":"workflowRunId","value":"={{ $json.workflowRunId }}","type":"number"}]},"options":{}},"id":"normalize-script","name":"Normalize Script Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"script_len","leftValue":"={{ ($json.script || '').length >= 10 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"caption_len","leftValue":"={{ ($json.caption || '').length >= 5 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"validate-script-quality","name":"Validate Script Quality","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,0]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ scripts: $json.script, script_status: 'done', script_hook: $json.hook, caption: $json.caption, background_keyword: $json.background_keyword, pipeline_status: 'script_ready', llm_model: 'llama-3.3-70b-versatile' }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"update-idea-with-script","name":"Backend: Update Idea with Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2640,0]},{"parameters":{"jsCode":"const items = $input.all();\nconst workflowRunId = Number($('Validate Input').first().json.workflowRunId || 0);\nreturn [{ json: { workflowRunId, generatedCount: items.length, createdAt: new Date().toISOString() } }];"},"id":"summarize","name":"Summarize Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, workflowRunId: $json.workflowRunId, generatedCount: $json.generatedCount, status: 'idea_and_script_ready' } }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3120,0]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Idea and script generation complete.',\n  responsePayload: JSON.stringify({ generatedCount: Number($json.generatedCount || 0) })\n});\n\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n          'X-Workflow-Contract-Version': '1'\n        }\n      }, (res) => {\n        let data = '';\n        res.on('data', (chunk) => { data += chunk; });\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n      });\n\n      req.on('error', reject);\n      req.setTimeout(10000, () => {\n        req.destroy();\n        reject(new Error('Callback timeout'));\n      });\n\n      req.write(body);\n      req.end();\n    });\n\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback failed: ' + response.statusCode;\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt < 3) await new Promise(r => setTimeout(r, 500 * attempt));\n    else throw error;\n  }\n}\n\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError);\nreturn [{ json: { ok: true, workflowRunId, generatedCount: $json.generatedCount, callbackStatusCode: response.statusCode } }];"},"id":"callback-success","name":"Callback Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,0]},{"parameters":{"jsCode":"let error = 'Unknown error';\nif (typeof $json === 'string') {\n  error = $json;\n} else if ($json && typeof $json === 'object') {\n  error = $json.message || $json.error || $json.toString();\n}\n\nlet contentIdeaId = 0;\ntry {\n  const extractNode = $('Extract Idea ID');\n  if (extractNode && extractNode.item && extractNode.item.json) {\n    contentIdeaId = Number(extractNode.item.json.contentIdeaId || 0);\n  }\n} catch (e) {}\n\nlet workflowRunId = 0;\ntry {\n  const validateNode = $('Validate Input');\n  if (validateNode && validateNode.first() && validateNode.first().json) {\n    workflowRunId = Number(validateNode.first().json.workflowRunId || 0);\n  }\n} catch (e) {}\n\nreturn [{ json: { contentIdeaId, workflowRunId, error: String(error).slice(0, 500), error_at: new Date().toISOString() } }];"},"id":"prepare-error","name":"Prepare Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\nconst errorMsg = String($json.error || 'Unknown error');\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { ok: false, error: errorMsg } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Generation failed: ' + errorMsg.slice(0, 200),\n  responsePayload: JSON.stringify({ error: errorMsg.slice(0, 500) })\n});\n\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet response = null;\nfor (let attempt = 1; attempt <= 2; attempt++) {\n  try {\n    response = await new Promise((resolve) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n          'X-Workflow-Contract-Version': '1'\n        }\n      }, (res) => {\n        res.on('data', () => {});\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0 }));\n      });\n\n      req.on('error', () => resolve({ statusCode: 0 }));\n      req.setTimeout(10000, () => {\n        req.destroy();\n        resolve({ statusCode: 0 });\n      });\n\n      req.write(body);\n      req.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n  } catch (e) {}\n}\n\nreturn [{ json: { ok: false, error: errorMsg, workflowRunId, callbackAttempted: true } }];"},"id":"callback-error","name":"Callback Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.error, action: 'check_logs' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,300]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Expand Ideas","type":"main","index":0}]]},"Expand Ideas":{"main":[[{"node":"Call Groq for Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Call Groq for Idea":{"main":[[{"node":"Normalize Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Normalize Idea":{"main":[[{"node":"Backend: Create Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Backend: Create Idea":{"main":[[{"node":"Extract Idea ID","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Extract Idea ID":{"main":[[{"node":"Call Groq for Script","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Call Groq for Script":{"main":[[{"node":"Parse Script Response","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Parse Script Response":{"main":[[{"node":"Normalize Script Output","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Normalize Script Output":{"main":[[{"node":"Validate Script Quality","type":"main","index":0}]]},"Validate Script Quality":{"main":[[{"node":"Backend: Update Idea with Script","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Backend: Update Idea with Script":{"main":[[{"node":"Summarize Results","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Summarize Results":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Respond Success":{"main":[[{"node":"Callback Success","type":"main","index":0}]]},"Callback Success":{"main":[],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Prepare Error":{"main":[[{"node":"Callback Error","type":"main","index":0}]],"error":[[{"node":"Respond Error","type":"main","index":0}]]},"Callback Error":{"main":[[{"node":"Respond Error","type":"main","index":0}]]},"Respond Error":{"main":[]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"708fede0-1fa8-4666-96d1-b83a6743844c","activeVersionId":"708fede0-1fa8-4666-96d1-b83a6743844c","versionCounter":38,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-03T19:03:31.785Z","createdAt":"2026-05-03T19:03:31.785Z","role":"workflow:owner","workflowId":"q8OpzbRoQe8W8TzY","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}}]