Backend/tools/n8n-workflows/init-publish-tiktok.json
[
  {
    "updatedAt": "2026-05-06T17:38:01.528Z",
    "createdAt": "2026-05-02T14:00:15.518Z",
    "id": "ql0Tg97q1cZ12aee",
    "name": "init-publish-tiktok-fixed",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "init-publish-tiktok",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "fb3c2a77-9dec-4e5f-9c8b-44fdba8d23c7",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "webhookId": "e6ee4c2b-55aa-4e5c-854d-429e9be288fa"
      },
      {
        "parameters": {
          "jsCode": "const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\nconst idempotencyKey = String($json.body?.idempotencyKey || $json.idempotencyKey || '').trim() || null;\nconst tiktokSoundId = String($json.body?.tiktokSoundId || $json.tiktokSoundId || '').trim() || null;\n\nif (!contentIdeaId || contentIdeaId <= 0) {\n  throw new Error('contentIdeaId invalide ou manquant: ' + contentIdeaId);\n}\nif (!workflowRunId || workflowRunId <= 0) {\n  throw new Error('workflowRunId invalide ou manquant: ' + workflowRunId);\n}\n\nreturn [{ json: { idempotencyKey, contentIdeaId, workflowRunId, tiktokSoundId } }];"
        },
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok/init-publish-context' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Video-Ops-Internal-Secret",
                "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ contentIdeaId: Number($json.contentIdeaId || 0) }) }}",
          "options": {
            "retry": {
              "maxRetries": 3,
              "delayMultiplier": 2,
              "initialDelay": 1000
            },
            "timeout": 30000,
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "get-init-context",
        "name": "HTTP: Get Init Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json.body;\nif (!data || !data.accessToken) throw new Error('accessToken manquant du contexte');\nif (!data.title) throw new Error('title manquant du contexte');\nif (!data.shotstackUrl) throw new Error('shotstackUrl manquant du contexte');\nif (!data.selectedPrivacyLevel) throw new Error('selectedPrivacyLevel manquant du contexte');\n\nreturn [{ json: { accessToken: data.accessToken, title: String(data.title).trim().slice(0, 150), shotstackUrl: data.shotstackUrl, selectedPrivacyLevel: data.selectedPrivacyLevel, contentIdeaId: $('Validate Input').item.json.contentIdeaId, tiktokSoundId: $('Validate Input').item.json.tiktokSoundId || null } }];"
        },
        "id": "validate-context",
        "name": "Validate Init Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "method": "HEAD",
          "url": "={{ $json.shotstackUrl }}",
          "options": {
            "timeout": 15000,
            "response": {
              "response": {
                "fullResponse": true
              }
            },
            "retry": {
              "maxRetries": 2,
              "delayMultiplier": 2,
              "initialDelay": 500
            }
          }
        },
        "id": "check-video-url",
        "name": "HTTP: Verify Video URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          960,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const videoSize = Number($json.headers?.['content-length'] || 0);\nif (videoSize <= 0) throw new Error('Video size invalid: ' + videoSize);\nif (videoSize > 1073741824) throw new Error('Video exceeds 1GB limit: ' + videoSize); // 1GB limit\nreturn [{ json: { videoSize } }];"
        },
        "id": "validate-video",
        "name": "Validate Video Headers",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=UTF-8"
              },
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Validate Init Context').item.json.accessToken }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json; charset=UTF-8",
          "body": "={{ (() => { const soundId = String($('Validate Init Context').item.json.tiktokSoundId || '').trim(); const postInfo = { title: $('Validate Init Context').item.json.title, privacy_level: $('Validate Init Context').item.json.selectedPrivacyLevel || 'SELF_ONLY', disable_duet: true, disable_comment: false, disable_stitch: true, video_cover_timestamp_ms: 1000 }; if (soundId) postInfo.music_info = { music_id: soundId }; return JSON.stringify({ post_info: postInfo, source_info: { source: 'FILE_UPLOAD', video_size: Number($('Validate Video Headers').item.json.videoSize), chunk_size: Number($('Validate Video Headers').item.json.videoSize), total_chunk_count: 1 } }); })() }}",
          "options": {
            "retry": {
              "maxRetries": 3,
              "delayMultiplier": 2,
              "initialDelay": 2000
            },
            "timeout": 45000,
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "init-tiktok-publish",
        "name": "HTTP: TikTok Init Publish",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1440,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json.body || $json.data;\nif ($json.statusCode >= 400) throw new Error('TikTok API error: ' + $json.statusCode + ' ' + JSON.stringify(data));\nif (!data.data?.publish_id) throw new Error('No publish_id returned from TikTok');\nif (!data.data?.upload_url) throw new Error('No upload_url returned from TikTok');\n\nreturn [{ json: { publishId: data.data.publish_id, uploadUrl: data.data.upload_url, contentIdeaId: $('Validate Init Context').item.json.contentIdeaId } }];"
        },
        "id": "extract-tiktok-response",
        "name": "Extract TikTok Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          0
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Video-Ops-Internal-Secret",
                "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ tiktok_publish_id: $json.publishId, tiktok_upload_url: $json.uploadUrl, tiktok_upload_status: 'init_done', publish_status: 'draft' }) }}",
          "options": {
            "retry": {
              "maxRetries": 2,
              "delayMultiplier": 2,
              "initialDelay": 1000
            },
            "timeout": 30000
          }
        },
        "id": "update-backend",
        "name": "HTTP: Update Backend",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1920,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nlet idempotencyKey = '';\ntry { idempotencyKey = String($('Validate Input').first().json.idempotencyKey || '').trim(); } catch (e) {}\nconst contentIdeaId = Number($('Extract TikTok Response').item.json.contentIdeaId || 0);\nconst publishId = $('Extract TikTok Response').item.json.publishId || '';\nconst uploadUrl = $('Extract TikTok Response').item.json.uploadUrl || '';\n\nif (!baseUrl) throw new Error('APP_VIDEO_OPS_BACKEND_BASE_URL manquante');\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Init publish TikTok termine.',\n  responsePayload: JSON.stringify({ contentIdeaId, publishId, uploadUrl })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 3;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        ...(idempotencyKey ? { 'X-Idempotency-Key': idempotencyKey } : {}),\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(err);\n      }\n    });\n\n    req.setTimeout(20000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(new Error('Callback timeout'));\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Callback failed: ' + response.statusCode + ' ' + response.body);\n}\n\nreturn [{ json: { ok: true, contentIdeaId, publishId, uploadUrl, callbackStatusCode: response.statusCode } }];"
        },
        "id": "callback-success",
        "name": "Callback: Success (with retry)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: true, contentIdeaId: $json.contentIdeaId, publishId: $json.publishId, uploadUrl: $json.uploadUrl, status: 'init_done' } }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-success",
        "name": "Respond: Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2400,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst contentIdeaId = Number($('Validate Input').item.json.contentIdeaId || 0);\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nlet idempotencyKey = '';\ntry { idempotencyKey = String($('Validate Input').first().json.idempotencyKey || '').trim(); } catch (e) {}\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config for error callback' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Init publish failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        ...(idempotencyKey ? { 'X-Idempotency-Key': idempotencyKey } : {}),\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed: ' + err.message });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)', statusCode: response.statusCode } }];"
        },
        "id": "callback-error",
        "name": "Callback: Error (best effort)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: false, error: $json.message || 'Unknown error' } }}",
          "options": {
            "responseCode": 500
          }
        },
        "id": "respond-error",
        "name": "Respond: Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2400,
          200
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "HTTP: Get Init Context",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Get Init Context": {
        "main": [
          [
            {
              "node": "Validate Init Context",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Init Context": {
        "main": [
          [
            {
              "node": "HTTP: Verify Video URL",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Verify Video URL": {
        "main": [
          [
            {
              "node": "Validate Video Headers",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Video Headers": {
        "main": [
          [
            {
              "node": "HTTP: TikTok Init Publish",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: TikTok Init Publish": {
        "main": [
          [
            {
              "node": "Extract TikTok Response",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract TikTok Response": {
        "main": [
          [
            {
              "node": "HTTP: Update Backend",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Update Backend": {
        "main": [
          [
            {
              "node": "Callback: Success (with retry)",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Callback: Success (with retry)": {
        "main": [
          [
            {
              "node": "Respond: Success",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Callback: Error (best effort)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Callback: Error (best effort)": {
        "main": [
          [
            {
              "node": "Respond: Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": {},
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "27c1e7ea-ac12-428d-af56-8febe3357fd0",
    "activeVersionId": "27c1e7ea-ac12-428d-af56-8febe3357fd0",
    "versionCounter": 77,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-02T14:00:15.523Z",
        "createdAt": "2026-05-02T14:00:15.523Z",
        "role": "workflow:owner",
        "workflowId": "ql0Tg97q1cZ12aee",
        "projectId": "FguAIXCXAEmDp8ri",
        "project": {
          "updatedAt": "2026-04-30T01:59:12.417Z",
          "createdAt": "2026-04-30T01:11:03.676Z",
          "id": "FguAIXCXAEmDp8ri",
          "name": "naib youssef <youssefnaib47@icloud.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "decd1a7a-b0c1-416f-86c4-a90b89c828b7"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    },
    "workflowVersion": "1.0.0"
  }
]