Backend/tools/n8n-workflows/render-template-video-remotion.json
[
  {
    "id": "renderRemotion01",
    "name": "render-template-video-remotion",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "render-template-video-remotion",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-render-remotion",
        "name": "Webhook: Render Remotion",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "webhookId": "26ec0a5e-4183-499f-9b4a-f12aa3baf745"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst contentIdeaId = Number(body.contentIdeaId || 0);\nconst workflowRunId = Number(body.workflowRunId || 0);\nconst idempotencyKey = String(body.idempotencyKey || '').trim() || null;\nconst topic = String(body.topic || '').trim();\nconst script = String(body.script || '').trim();\nconst caption = String(body.caption || '').trim();\nconst keyword = String(body.keyword || topic || '').trim();\nconst category = String(body.category || '').trim() || null;\nconst tiktokAccountOpenId = String(body.tiktokAccountOpenId || '').trim() || null;\nconst source = String(body.source || 'n8n-render-remotion').trim();\n\nconst ALLOWED_QUALITIES = ['draft', 'standard', 'high', 'premium'];\nconst rawQualityProfile = String(body.qualityProfile || '').trim();\nconst templateId = 'tiktok-scene-sequence';\nconst qualityProfile = ALLOWED_QUALITIES.includes(rawQualityProfile) ? rawQualityProfile : 'high';\nconst sceneCountInput = Number(body.sceneCount || 1);\nconst sceneCount = Number.isInteger(sceneCountInput) ? Math.min(10, Math.max(1, sceneCountInput)) : 1;\nconst minDurationSec = Math.max(15, sceneCount * 3);\nconst requestedDurationSec = Number(body.durationSec || minDurationSec);\nconst durationSec = Math.min(60, Math.max(minDurationSec, Number.isFinite(requestedDurationSec) ? requestedDurationSec : minDurationSec));\n\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('contentIdeaId invalide');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId invalide');\nif (!topic) throw new Error('topic manquant');\nif (!script) throw new Error('script manquant');\nif (!caption) throw new Error('caption manquante');\nif (!keyword) throw new Error('keyword manquant');\n\nconst hook = String(body.hook || script.split(/[.!?\\n]/)[0] || topic).trim().slice(0, 120);\nconst cta = String(body.cta || '').trim() || null;\n\nreturn [{ json: { contentIdeaId, workflowRunId, idempotencyKey, topic, script, caption, keyword, category, tiktokAccountOpenId, source, hook, cta, templateId, qualityProfile, durationSec, sceneCount } }];"
        },
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/scenes/build/' + $json.contentIdeaId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Video-Ops-Internal-Secret",
                "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ workflowRunId: Number($json.workflowRunId), source: $json.source, templateId: $json.templateId, qualityProfile: $json.qualityProfile, durationSec: Number($json.durationSec), captionMode: 'none', hook: $json.hook, cta: $json.cta }) }}",
          "options": {
            "timeout": 60000,
            "retry": {
              "maxRetries": 2,
              "delayMultiplier": 2,
              "initialDelay": 1000
            }
          }
        },
        "id": "build-scene-job",
        "name": "HTTP: Build Scene Job",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// Wrap : combine l'input validé avec le renderJob retourné par scenes/build\n// pour préserver le contrat des nodes downstream qui réfèrent à\n// $('Build Render Job').item.json.{contentIdeaId,workflowRunId,renderJob,...}.\nconst input = $('Validate Input').item.json;\nconst renderJob = $json;\nif (!renderJob || !renderJob.contractVersion) {\n  throw new Error('scenes/build n\\'a pas retourné un renderJob valide');\n}\nreturn [{ json: { ...input, renderJob } }];"
        },
        "id": "build-render-job",
        "name": "Build Render Job",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Video-Ops-Internal-Secret",
                "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ render_payload: JSON.stringify($json.renderJob), render_status: 'remotion_preparing', shotstack_status: 'preparing', final_video_status: 'processing', pipeline_status: 'rendering_requested', template_id: $json.renderJob.render.templateId, quality_profile: $json.renderJob.render.qualityProfile, render_engine: 'remotion' }) }}",
          "options": {
            "timeout": 20000
          }
        },
        "id": "update-preparing",
        "name": "HTTP: Update Preparing",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          960,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/render-video/render' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Video-Ops-Internal-Secret",
                "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($('Build Render Job').item.json.renderJob) }}",
          "options": {
            "timeout": 900000,
            "retry": {
              "maxRetries": 2,
              "delayMultiplier": 2,
              "initialDelay": 30000
            }
          }
        },
        "id": "render-video",
        "name": "HTTP: RenderVideo Render",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1200,
          0
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('Build Render Job').item.json.contentIdeaId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Video-Ops-Internal-Secret",
                "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ shotstack_render_id: $json.renderId, shotstack_status: 'done', shotstack_url: $json.outputUrl, thumbnail_url: $json.thumbnailUrl || null, final_video_status: 'ready', render_status: 'remotion_rendered', pipeline_status: 'render_ready', render_engine: 'remotion', quality_profile: $json.qualityProfile || $('Build Render Job').item.json.renderJob.render.qualityProfile, template_id: $('Build Render Job').item.json.renderJob.render.templateId }) }}",
          "options": {
            "timeout": 20000
          }
        },
        "id": "update-rendered",
        "name": "HTTP: Update Rendered",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1440,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst input = $('Build Render Job').item.json;\nconst render = $('HTTP: RenderVideo Render').item.json;\nconst idempotencyKey = String(input.idempotencyKey || '').trim();\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Remotion render completed.',\n  responsePayload: JSON.stringify({ contentIdeaId: input.contentIdeaId, renderId: render.renderId, outputUrl: render.outputUrl, engine: 'remotion' })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + input.workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\nconst response = await new Promise((resolve, reject) => {\n  const req = client.request({\n    protocol: url.protocol,\n    hostname: url.hostname,\n    port: url.port || (url.protocol === 'https:' ? 443 : 80),\n    path: url.pathname + url.search,\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Content-Length': Buffer.byteLength(body),\n      'X-Video-Ops-Callback-Secret': callbackSecret,\n      ...(idempotencyKey ? { 'X-Idempotency-Key': idempotencyKey } : {}),\n      'X-Request-Timestamp': Date.now().toString()\n    }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n  });\n  req.on('error', reject);\n  req.setTimeout(20000, () => req.destroy(new Error('Callback timeout')));\n  req.write(body);\n  req.end();\n});\n\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Callback failed: ' + response.statusCode + ' ' + response.body);\n}\n\nreturn [{ json: { ok: true, callbackStatusCode: response.statusCode } }];"
        },
        "id": "callback-success",
        "name": "Callback: Success",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: true, contentIdeaId: $('Build Render Job').item.json.contentIdeaId, workflowRunId: $('Build Render Job').item.json.workflowRunId, status: 'rendered', engine: 'remotion', shotstackRenderId: $('HTTP: RenderVideo Render').item.json.renderId, outputUrl: $('HTTP: RenderVideo Render').item.json.outputUrl } }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-success",
        "name": "Respond: Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1920,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: false, error: $json.message || $json.error?.message || 'Render failed' } }}",
          "options": {
            "responseCode": 500
          }
        },
        "id": "respond-error",
        "name": "Respond: Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1920,
          220
        ]
      }
    ],
    "connections": {
      "Webhook: Render Remotion": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "HTTP: Build Scene Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Build Scene Job": {
        "main": [
          [
            {
              "node": "Build Render Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Render Job": {
        "main": [
          [
            {
              "node": "HTTP: Update Preparing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Update Preparing": {
        "main": [
          [
            {
              "node": "HTTP: RenderVideo Render",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: RenderVideo Render": {
        "main": [
          [
            {
              "node": "HTTP: Update Rendered",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Update Rendered": {
        "main": [
          [
            {
              "node": "Respond: Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond: Success": {
        "main": [
          [
            {
              "node": "Callback: Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": {},
    "pinData": {},
    "active": true
  }
]