Backend/tools/n8n-workflows/render-template-video.json
[{"updatedAt":"2026-05-04T23:34:38.239Z","createdAt":"2026-04-30T02:10:00.000Z","id":"SAn6Iepn4rCpkHJg","name":"render-professional-quality","description":"Professional quality video rendering with quality gates and advanced media selection","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"render-template-video","responseMode":"responseNode","options":{}},"id":"97649029-e0be-41ce-8960-d3c062e64071","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[864,864],"webhookId":"48909e15-39e6-4400-9fa9-b7d5945904d7"},{"parameters":{"jsCode":"const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst topic = String($json.body?.topic || $json.topic || '').trim();\nconst script = String($json.body?.script || $json.script || '').trim();\nconst derivedHook = String(script.split(/[.!?\\n]/)[0] || topic || '').trim();\nconst hook = String($json.body?.hook || $json.hook || derivedHook).trim().slice(0, 100);\nconst caption = String($json.body?.caption || $json.caption || '').trim();\nconst keyword = String($json.body?.keyword || $json.keyword || topic).trim();\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\n\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('contentIdeaId invalide');\nif (!script) throw new Error('script manquant');\nif (!hook) throw new Error('hook manquant');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId invalide');\n\nif (script.length > 500) throw new Error('script trop long');\n\nreturn [{ json: { contentIdeaId, topic, script, hook, caption, keyword, workflowRunId } }];"},"id":"bc7446dc-cfd7-4e7e-8e6c-68544809c8ac","name":"Validate Input1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,864]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.5, max_tokens: 150, messages: [ { role: 'system', content: 'Tu generes des descriptions visuelles professionnelles pour des videos TikTok business. Une seule phrase, concrete, prete pour synthese visuelle.' }, { role: 'user', content: 'Topic: ' + $json.topic + '\\nScript: ' + $json.script.slice(0, 100) + '\\nKeyword: ' + $json.keyword + '\\n\\nGenere UNE SEULE ligne descriptive de l\\'aesthetic visuel (modern, corporate, lifestyle, tech, etc) pour cette video.' } ] }) }}","options":{"timeout":20000}},"id":"9b5f3c1b-57e8-4c4b-9559-abd8270658f4","name":"HTTP: LLM Visual Description1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,864]},{"parameters":{"jsCode":"const aesthetic = String($json.choices?.[0]?.message?.content || '').trim().slice(0, 100);\nif (!aesthetic) throw new Error('Aesthetic description failed');\nreturn [{ json: { aesthetic } }];"},"id":"cc44736c-28cf-4900-9012-6c035acf6938","name":"Validate Aesthetic1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,864]},{"parameters":{"url":"={{ (() => {\n  const raw = String($('Validate Input1').item.json.keyword || $('Validate Input1').item.json.topic || 'business');\n  const normalized = raw.replace(/[\"'&]/g, ' ').replace(/[^\\w\\s-]/g, ' ').replace(/\\s+/g, ' ').trim();\n  const query = (normalized || 'business').split(' ').slice(0, 4).join(' ') || 'business';\n  return 'https://api.pexels.com/videos/search?query=' + encodeURIComponent(query) + '&per_page=50&orientation=portrait';\n})() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $env.PEXELS_API_KEY }}"}]},"options":{"timeout":20000}},"id":"345f1b86-3d01-499a-a0d9-1f6ee69bee7f","name":"HTTP: Pexels Search1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1808,864]},{"parameters":{"jsCode":"const videos = $json.videos || [];\nif (!videos.length) throw new Error('Aucune video Pexels trouvee');\n\nconst PEXELS_HOST = 'videos.pexels.com';\nconst MIN_DURATION = 5; // 5 secondes min\nconst MAX_DURATION = 60; // 60 secondes max\n\nconst extractHostname = (value) => {\n  const match = String(value || '').match(/^https?:\\/\\/([^\\/?#]+)/i);\n  return match ? match[1].toLowerCase() : '';\n};\n\nconst scoreVideo = (video, file) => {\n  const width = Number(file.width || video.width || 0);\n  const height = Number(file.height || video.height || 0);\n  const duration = Number(video.duration || 0);\n  const hostname = extractHostname(file.link);\n  \n  let score = 0;\n  \n  // Host preference (Pexels direct = +100)\n  if (hostname === PEXELS_HOST) score += 100;\n  else score += 30;\n  \n  // Portrait format (height > width)\n  if (height > width) score += 50;\n  else return 0; // Reject landscape\n  \n  // Resolution preference (1080x1920 ideal)\n  if (width === 1080 && height === 1920) score += 150;\n  else if (width === 720 && height === 1280) score += 100;\n  else if (width === 540 && height === 960) score += 50;\n  else if (width > 1080) score += 80;\n  else if (width > 540) score += 60;\n  else score += 20;\n  \n  // Duration preference (8-20 secondes = optimal)\n  if (duration >= MIN_DURATION && duration <= MAX_DURATION) {\n    const ideal = duration <= 15 ? 150 : duration <= 30 ? 120 : 80;\n    score += ideal;\n  } else return 0; // Reject too short or too long\n  \n  // File type (mp4 is standard)\n  if (file.file_type === 'video/mp4') score += 40;\n  \n  return score;\n};\n\nconst candidates = [];\nfor (const video of videos) {\n  for (const file of video.video_files || []) {\n    if (!file?.link) continue;\n    const score = scoreVideo(video, file);\n    if (score > 0) {\n      candidates.push({\n        link: file.link,\n        width: Number(file.width || video.width || 0),\n        height: Number(file.height || video.height || 0),\n        duration: Number(video.duration || 0),\n        photographer: video.user?.name || 'Unknown',\n        score\n      });\n    }\n  }\n}\n\nif (!candidates.length) throw new Error('Aucune video portrait de qualite trouvee');\n\ncandidates.sort((a, b) => b.score - a.score);\n\nconst selected = candidates[0];\nif (selected.score < 50) throw new Error('Media quality too low (score: ' + selected.score + ')');\n\nreturn [{ json: {\n  id: $('Validate Input1').item.json.contentIdeaId,\n  workflowRunId: $('Validate Input1').item.json.workflowRunId,\n  topic: $('Validate Input1').item.json.topic,\n  script: $('Validate Input1').item.json.script,\n  hook: $('Validate Input1').item.json.hook,\n  caption: $('Validate Input1').item.json.caption,\n  aesthetic: $('Validate Aesthetic1').item.json.aesthetic,\n  background_video_url: selected.link,\n  media_score: selected.score,\n  media_quality: selected.score > 200 ? 'premium' : selected.score > 100 ? 'high' : 'standard',\n  media_duration: selected.duration,\n  media_resolution: selected.width + 'x' + selected.height\n} }];"},"id":"80ba4959-6bb0-4186-9ef0-0863533f3b34","name":"Select Media (Scored)1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,864]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_status: 'preparing', final_video_status: 'processing', render_payload: JSON.stringify($json), render_status: 'prepared', pipeline_status: 'rendering_requested', media_quality: $json.media_quality, media_score: $json.media_score }) }}","options":{"timeout":20000}},"id":"97c4b38e-2dc4-4543-a6b0-7479d0a5e11b","name":"HTTP: Update Preparing1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2304,864]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/shotstack/render' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify((() => {\n  const selected = $('Select Media (Scored)1').item.json;\n  const cleanText = (value) => String(value || '').normalize('NFKD').replace(/[^\\x20-\\x7E]/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 120);\n  const scriptLines = String(selected.script || '').split('\\n').map((line) => cleanText(line)).filter(Boolean);\n  const fallbackTopic = cleanText(selected.topic || 'Video business');\n  const textLines = [];\n  if (selected.hook) textLines.push(cleanText(selected.hook));\n  for (const line of scriptLines) {\n    if (!textLines.includes(line)) textLines.push(line);\n  }\n  const finalLines = (textLines.length ? textLines : [fallbackTopic]).slice(0, 3);\n  const titleClips = finalLines.map((line, index) => ({\n    asset: {\n      type: 'title',\n      text: line,\n      style: 'minimal',\n      color: '#ffffff',\n      background: 'rgba(15,15,15,0.55)'\n    },\n    start: index * 3,\n    length: 3,\n    position: 'center'\n  }));\n\n  return {\n    timeline: {\n      background: '#0f0f0f',\n      tracks: [\n        {\n          clips: [\n            {\n              asset: {\n                type: 'video',\n                src: selected.background_video_url\n              },\n              start: 0,\n              length: 15,\n              fit: 'cover'\n            }\n          ]\n        },\n        ...(titleClips.length ? [{ clips: titleClips }] : [])\n      ]\n    },\n    output: {\n      format: 'mp4',\n      aspectRatio: '9:16',\n      resolution: 'hd'\n    }\n  };\n})()) }}","options":{"timeout":45000}},"id":"84b38530-72bc-449c-9c12-98ae79ef7a1b","name":"HTTP: Shotstack Render1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2544,864]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('Select Media (Scored)1').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_render_id: $json.response?.id || $json.id, shotstack_status: 'queued', final_video_status: 'processing', pipeline_status: 'rendering_requested', render_quality: 'professional' }) }}","options":{"timeout":20000}},"id":"61164fc5-c8f1-4608-9073-f2ba3ce50249","name":"HTTP: Update Render ID1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2784,864]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Select Media (Scored)1').item.json.id, workflowRunId: $('Select Media (Scored)1').item.json.workflowRunId, status: 'rendering_requested', media_quality: $('Select Media (Scored)1').item.json.media_quality, shotstackRenderId: $('HTTP: Shotstack Render1').item.json.response?.id || $('HTTP: Shotstack Render1').item.json.id } }}","options":{"responseCode":200}},"id":"211e22c4-5a92-4fe1-b307-9fdac2f1ecde","name":"Respond: Success1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3024,864]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Select Media (Scored)1').item.json.workflowRunId || 0);\nconst contentIdeaId = $('Select Media (Scored)1').item.json.id;\nconst shotstackRenderId = $('HTTP: Shotstack Render1').item.json.response?.id || $('HTTP: Shotstack Render1').item.json.id || '';\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Professional render requested from Shotstack.',\n  responsePayload: JSON.stringify({\n    contentIdeaId,\n    shotstackRenderId,\n    mediaQuality: $('Select Media (Scored)1').item.json.media_quality,\n    mediaScore: $('Select Media (Scored)1').item.json.media_score\n  })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\nconst sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));\n\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt += 1) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n          'X-Workflow-Contract-Version': '1',\n          'X-Request-Timestamp': Date.now().toString()\n        }\n      }, (res) => {\n        let data = '';\n        res.on('data', (chunk) => { data += chunk; });\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n      });\n\n      req.on('error', reject);\n      req.setTimeout(20000, () => req.destroy(new Error('Callback timeout')));\n      req.write(body);\n      req.end();\n    });\n\n    if (response.statusCode >= 200 && response.statusCode < 300) {\n      break;\n    }\n\n    lastError = 'Callback failed: ' + response.statusCode;\n    if (response.statusCode !== 404 || attempt === 6) {\n      throw new Error(lastError);\n    }\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt === 6) {\n      throw error;\n    }\n  }\n\n  await sleep(500 * attempt);\n}\n\nif (!response || response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error(lastError || 'Callback failed');\n}\n\nreturn [{ json: { ok: true, contentIdeaId, shotstackRenderId, mediaQuality: $('Select Media (Scored)1').item.json.media_quality, callbackStatusCode: response.statusCode } }];"},"id":"86d8368f-bcc6-401a-a7d1-ade0399768f4","name":"Callback: Success (with retry)1","type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,864]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst contentIdeaId = Number($('Validate Input1').item.json.contentIdeaId || 0);\nconst workflowRunId = Number($('Validate Input1').item.json.workflowRunId || 0);\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Render failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n          'X-Workflow-Contract-Version': '1',\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', () => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed' });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)' } }];"},"id":"6df3a863-a0f7-4490-84cd-03edd80bed8d","name":"Callback: Error (best effort)1","type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,1072]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.message || 'Unknown error' } }}","options":{"responseCode":500}},"id":"48c9da2a-efa9-4dac-b9e7-46d8b79b643b","name":"Respond: Error1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3504,1072]}],"connections":{"Webhook1":{"main":[[{"node":"Validate Input1","type":"main","index":0}]]},"Validate Input1":{"main":[[{"node":"HTTP: LLM Visual Description1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"HTTP: LLM Visual Description1":{"main":[[{"node":"Validate Aesthetic1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"Validate Aesthetic1":{"main":[[{"node":"HTTP: Pexels Search1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"HTTP: Pexels Search1":{"main":[[{"node":"Select Media (Scored)1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"Select Media (Scored)1":{"main":[[{"node":"HTTP: Update Preparing1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"HTTP: Update Preparing1":{"main":[[{"node":"HTTP: Shotstack Render1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"HTTP: Shotstack Render1":{"main":[[{"node":"HTTP: Update Render ID1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"HTTP: Update Render ID1":{"main":[[{"node":"Respond: Success1","type":"main","index":0},{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"Respond: Success1":{"main":[[{"node":"Callback: Success (with retry)1","type":"main","index":0}]]},"Callback: Success (with retry)1":{"main":[[{"node":"Callback: Error (best effort)1","type":"main","index":0}]]},"Callback: Error (best effort)1":{"main":[[{"node":"Respond: Error1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f0cb55a-a9e5-4ce4-86fa-0a9eab4d1a1a","activeVersionId":"5f0cb55a-a9e5-4ce4-86fa-0a9eab4d1a1a","versionCounter":115,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T13:57:29.605Z","createdAt":"2026-05-02T13:57:29.605Z","role":"workflow:owner","workflowId":"SAn6Iepn4rCpkHJg","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":"Version 5f0cb55a","description":""}}]