n8n-local/_creation-export.json
[{"updatedAt":"2026-04-30T13:53:29.000Z","createdAt":"2026-04-30T01:59:00.930Z","id":"7d540770-0aa9-419f-a5ed-618d6bccb605","name":"creation-ideas","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"creation-ideas","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1080,120]},{"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst category = String(body.category || '').trim();\nconst ideaCount = Number(body.ideaCount || 1);\nif (!category) throw new Error('category est obligatoire');\nif (!Number.isInteger(ideaCount) || ideaCount < 1 || ideaCount > 5) throw new Error('ideaCount doit etre entre 1 et 5');\nreturn [{ json: { category, ideaCount, workflowRunId: Number(body.workflowRunId || 0), template_id: body.templateId || null, tiktok_account_open_id: body.tiktokAccountOpenId || null } }];"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,120]},{"parameters":{"jsCode":"const input = $input.first().json;\nreturn Array.from({ length: input.ideaCount }).map((_, index) => ({ json: { ...input, iteration: index + 1 } }));"},"id":"expand","name":"Expand Ideas","type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,120]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.GROQ_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { model: 'llama-3.1-8b-instant', messages: [ { role: 'user', content: 'Generate exactly one TikTok content idea for category ' + $json.category + '. Return only the idea text, no numbering, no explanation.' } ] } }}","options":{}},"id":"groq","name":"HTTP Request Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-340,120]},{"parameters":{"jsCode":"return [{ json: { topic: String($json.choices?.[0]?.message?.content || '').trim(), category: $('Expand Ideas').item.json.category, workflowRunId: $('Expand Ideas').item.json.workflowRunId, template_id: $('Expand Ideas').item.json.template_id, tiktok_account_open_id: $('Expand Ideas').item.json.tiktok_account_open_id } }];"},"id":"normalize","name":"Normalize Topic","type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,120]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_SUPABASE_URL || '') + '/rest/v1/content_ideas' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"new"},{"name":"topic","value":"={{ $json.topic }}"},{"name":"pipeline_status","value":"idea_created"},{"name":"publish_status","value":"draft"},{"name":"platform","value":"tiktok"},{"name":"template_id","value":"={{ $json.template_id }}"},{"name":"tiktok_account_open_id","value":"={{ $json.tiktok_account_open_id }}"},{"name":"category","value":"={{ $json.category }}"}]},"options":{}},"id":"create-row","name":"HTTP Request Create Row","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[140,120]},{"parameters":{"jsCode":"const items = $input.all();\nconst workflowRunId = Number($('Validate Input').first().json.workflowRunId || 0);\nreturn [{ json: { workflowRunId, createdCount: items.length } }];"},"id":"summarize","name":"Summarize","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,120]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/workflow-runs/' + $json.workflowRunId + '/complete' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Callback-Secret","value":"={{ $env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { status: 'SUCCEEDED', message: 'Creation ideas terminee.', responsePayload: JSON.stringify({ createdCount: $json.createdCount }) } }}","options":{}},"id":"callback","name":"Callback Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[620,120]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, workflowRunId: $json.workflowRunId, createdCount: $json.createdCount, status: 'idea_created' } }}","options":{"responseCode":200}},"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[860,120]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Expand Ideas","type":"main","index":0}]]},"Expand Ideas":{"main":[[{"node":"HTTP Request Idea","type":"main","index":0}]]},"HTTP Request Idea":{"main":[[{"node":"Normalize Topic","type":"main","index":0}]]},"Normalize Topic":{"main":[[{"node":"HTTP Request Create Row","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Callback Success","type":"main","index":0}]]},"Callback Success":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request Create Row":{"main":[[{"node":"Summarize","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97a189d8-74df-4bc7-b8f2-dadfc4400aac","activeVersionId":"97a189d8-74df-4bc7-b8f2-dadfc4400aac","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-30T01:59:00.933Z","createdAt":"2026-04-30T01:59:00.933Z","role":"workflow:owner","workflowId":"7d540770-0aa9-419f-a5ed-618d6bccb605","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}}]