n8n-local/all-workflows-export.json
[{"updatedAt":"2026-05-04T00:38:43.000Z","createdAt":"2026-04-30T02:10:00.000Z","id":"SAn6Iepn4rCpkHJg","name":"render-professional-quality","description":"Professional quality video rendering with quality gates and advanced media selection","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"render-template-video","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-980,100]},{"parameters":{"jsCode":"const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst topic = String($json.body?.topic || $json.topic || '').trim();\nconst script = String($json.body?.script || $json.script || '').trim();\nconst derivedHook = String(script.split(/[.!?\\n]/)[0] || topic || '').trim();\nconst hook = String($json.body?.hook || $json.hook || derivedHook).trim().slice(0, 100);\nconst caption = String($json.body?.caption || $json.caption || '').trim();\nconst keyword = String($json.body?.keyword || $json.keyword || topic).trim();\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\n\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('contentIdeaId invalide');\nif (!script) throw new Error('script manquant');\nif (!hook) throw new Error('hook manquant');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId invalide');\n\nif (script.length > 500) throw new Error('script trop long');\n\nreturn [{ json: { contentIdeaId, topic, script, hook, caption, keyword, workflowRunId } }];"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,100]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.5, max_tokens: 150, messages: [ { role: 'system', content: 'Tu generes des descriptions visuelles professionnelles pour des videos TikTok business. Une seule phrase, concrete, prete pour synthese visuelle.' }, { role: 'user', content: 'Topic: ' + $json.topic + '\\nScript: ' + $json.script.slice(0, 100) + '\\nKeyword: ' + $json.keyword + '\\n\\nGenere UNE SEULE ligne descriptive de l\\'aesthetic visuel (modern, corporate, lifestyle, tech, etc) pour cette video.' } ] }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"groq-visual-prompt","name":"HTTP: LLM Visual Description","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-500,100]},{"parameters":{"jsCode":"const aesthetic = String($json.choices?.[0]?.message?.content || '').trim().slice(0, 100);\nif (!aesthetic) throw new Error('Aesthetic description failed');\nreturn [{ json: { aesthetic } }];"},"id":"validate-aesthetic","name":"Validate Aesthetic","type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,100]},{"parameters":{"url":"={{ (() => {\n  const raw = String($('Validate Input').item.json.keyword || $('Validate Input').item.json.topic || 'business');\n  const normalized = raw.replace(/[\"'&]/g, ' ').replace(/[^\\w\\s-]/g, ' ').replace(/\\s+/g, ' ').trim();\n  const query = (normalized || 'business').split(' ').slice(0, 4).join(' ') || 'business';\n  return 'https://api.pexels.com/videos/search?query=' + encodeURIComponent(query) + '&per_page=50&orientation=portrait';\n})() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $env.PEXELS_API_KEY }}"}]},"options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"pexels-search","name":"HTTP: Pexels Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-40,100]},{"parameters":{"jsCode":"const videos = $json.videos || [];\nif (!videos.length) throw new Error('Aucune video Pexels trouvee');\n\nconst PEXELS_HOST = 'videos.pexels.com';\nconst MIN_DURATION = 5; // 5 secondes min\nconst MAX_DURATION = 60; // 60 secondes max\n\nconst extractHostname = (value) => {\n  const match = String(value || '').match(/^https?:\\/\\/([^\\/?#]+)/i);\n  return match ? match[1].toLowerCase() : '';\n};\n\nconst scoreVideo = (video, file) => {\n  const width = Number(file.width || video.width || 0);\n  const height = Number(file.height || video.height || 0);\n  const duration = Number(video.duration || 0);\n  const hostname = extractHostname(file.link);\n  \n  let score = 0;\n  \n  // Host preference (Pexels direct = +100)\n  if (hostname === PEXELS_HOST) score += 100;\n  else score += 30;\n  \n  // Portrait format (height > width)\n  if (height > width) score += 50;\n  else return 0; // Reject landscape\n  \n  // Resolution preference (1080x1920 ideal)\n  if (width === 1080 && height === 1920) score += 150;\n  else if (width === 720 && height === 1280) score += 100;\n  else if (width === 540 && height === 960) score += 50;\n  else if (width > 1080) score += 80;\n  else if (width > 540) score += 60;\n  else score += 20;\n  \n  // Duration preference (8-20 secondes = optimal)\n  if (duration >= MIN_DURATION && duration <= MAX_DURATION) {\n    const ideal = duration <= 15 ? 150 : duration <= 30 ? 120 : 80;\n    score += ideal;\n  } else return 0; // Reject too short or too long\n  \n  // File type (mp4 is standard)\n  if (file.file_type === 'video/mp4') score += 40;\n  \n  return score;\n};\n\nconst candidates = [];\nfor (const video of videos) {\n  for (const file of video.video_files || []) {\n    if (!file?.link) continue;\n    const score = scoreVideo(video, file);\n    if (score > 0) {\n      candidates.push({\n        link: file.link,\n        width: Number(file.width || video.width || 0),\n        height: Number(file.height || video.height || 0),\n        duration: Number(video.duration || 0),\n        photographer: video.user?.name || 'Unknown',\n        score\n      });\n    }\n  }\n}\n\nif (!candidates.length) throw new Error('Aucune video portrait de qualite trouvee');\n\ncandidates.sort((a, b) => b.score - a.score);\n\nconst selected = candidates[0];\nif (selected.score < 50) throw new Error('Media quality too low (score: ' + selected.score + ')');\n\nreturn [{ json: {\n  id: $('Validate Input').item.json.contentIdeaId,\n  workflowRunId: $('Validate Input').item.json.workflowRunId,\n  topic: $('Validate Input').item.json.topic,\n  script: $('Validate Input').item.json.script,\n  hook: $('Validate Input').item.json.hook,\n  caption: $('Validate Input').item.json.caption,\n  aesthetic: $('Validate Aesthetic').item.json.aesthetic,\n  background_video_url: selected.link,\n  media_score: selected.score,\n  media_quality: selected.score > 200 ? 'premium' : selected.score > 100 ? 'high' : 'standard',\n  media_duration: selected.duration,\n  media_resolution: selected.width + 'x' + selected.height\n} }];"},"id":"select-media-scored","name":"Select Media (Scored)","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,100]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_status: 'preparing', final_video_status: 'processing', render_payload: JSON.stringify($json), render_status: 'prepared', pipeline_status: 'rendering_requested', media_quality: $json.media_quality, media_score: $json.media_score }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"update-preparing","name":"HTTP: Update Preparing","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[460,100]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/shotstack/render' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify((() => {\n  const selected = $('Select Media (Scored)').item.json;\n  const cleanText = (value) => String(value || '').normalize('NFKD').replace(/[^\\x20-\\x7E]/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 120);\n  const scriptLines = String(selected.script || '').split('\\n').map((line) => cleanText(line)).filter(Boolean);\n  const fallbackTopic = cleanText(selected.topic || 'Video business');\n  const textLines = [];\n  if (selected.hook) textLines.push(cleanText(selected.hook));\n  for (const line of scriptLines) {\n    if (!textLines.includes(line)) textLines.push(line);\n  }\n  const finalLines = (textLines.length ? textLines : [fallbackTopic]).slice(0, 3);\n  const titleClips = finalLines.map((line, index) => ({\n    asset: {\n      type: 'title',\n      text: line,\n      style: 'minimal',\n      color: '#ffffff',\n      background: 'rgba(15,15,15,0.55)'\n    },\n    start: index * 3,\n    length: 3,\n    position: 'center'\n  }));\n\n  return {\n    timeline: {\n      background: '#0f0f0f',\n      tracks: [\n        {\n          clips: [\n            {\n              asset: {\n                type: 'video',\n                src: selected.background_video_url\n              },\n              start: 0,\n              length: 15,\n              fit: 'cover'\n            }\n          ]\n        },\n        ...(titleClips.length ? [{ clips: titleClips }] : [])\n      ]\n    },\n    output: {\n      format: 'mp4',\n      aspectRatio: '9:16',\n      resolution: 'hd'\n    }\n  };\n})()) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":2000},"timeout":45000}},"id":"shotstack-render","name":"HTTP: Shotstack Render","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[700,100]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('Select Media (Scored)').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_render_id: $json.response?.id || $json.id, shotstack_status: 'queued', final_video_status: 'processing', pipeline_status: 'rendering_requested', render_quality: 'professional' }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"update-render-id","name":"HTTP: Update Render ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[940,100]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Select Media (Scored)').item.json.id, workflowRunId: $('Select Media (Scored)').item.json.workflowRunId, status: 'rendering_requested', media_quality: $('Select Media (Scored)').item.json.media_quality, shotstackRenderId: $('HTTP: Shotstack Render').item.json.response?.id || $('HTTP: Shotstack Render').item.json.id } }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond: Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1180,100]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Select Media (Scored)').item.json.workflowRunId || 0);\nconst contentIdeaId = $('Select Media (Scored)').item.json.id;\nconst shotstackRenderId = $('HTTP: Shotstack Render').item.json.response?.id || $('HTTP: Shotstack Render').item.json.id || '';\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Professional render requested from Shotstack.',\n  responsePayload: JSON.stringify({\n    contentIdeaId,\n    shotstackRenderId,\n    mediaQuality: $('Select Media (Scored)').item.json.media_quality,\n    mediaScore: $('Select Media (Scored)').item.json.media_score\n  })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\nconst sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));\n\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt += 1) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n          'X-Request-Timestamp': Date.now().toString()\n        }\n      }, (res) => {\n        let data = '';\n        res.on('data', (chunk) => { data += chunk; });\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n      });\n\n      req.on('error', reject);\n      req.setTimeout(20000, () => req.destroy(new Error('Callback timeout')));\n      req.write(body);\n      req.end();\n    });\n\n    if (response.statusCode >= 200 && response.statusCode < 300) {\n      break;\n    }\n\n    lastError = 'Callback failed: ' + response.statusCode;\n    if (response.statusCode !== 404 || attempt === 6) {\n      throw new Error(lastError);\n    }\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt === 6) {\n      throw error;\n    }\n  }\n\n  await sleep(500 * attempt);\n}\n\nif (!response || response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error(lastError || 'Callback failed');\n}\n\nreturn [{ json: { ok: true, contentIdeaId, shotstackRenderId, mediaQuality: $('Select Media (Scored)').item.json.media_quality, callbackStatusCode: response.statusCode } }];"},"id":"callback-success","name":"Callback: Success (with retry)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,100]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst contentIdeaId = Number($('Validate Input').item.json.contentIdeaId || 0);\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Render failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', () => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed' });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)' } }];"},"id":"callback-error","name":"Callback: Error (best effort)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.message || 'Unknown error' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond: Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1660,300]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"HTTP: LLM Visual Description","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: LLM Visual Description":{"main":[[{"node":"Validate Aesthetic","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Validate Aesthetic":{"main":[[{"node":"HTTP: Pexels Search","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Pexels Search":{"main":[[{"node":"Select Media (Scored)","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Select Media (Scored)":{"main":[[{"node":"HTTP: Update Preparing","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Update Preparing":{"main":[[{"node":"HTTP: Shotstack Render","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Shotstack Render":{"main":[[{"node":"HTTP: Update Render ID","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Update Render ID":{"main":[[{"node":"Respond: Success","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Respond: Success":{"main":[[{"node":"Callback: Success (with retry)","type":"main","index":0}]]},"Callback: Success (with retry)":{"main":[],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Callback: Error (best effort)":{"main":[[{"node":"Respond: Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"871bce9a-6ee7-46dd-af32-3416d1dd3f77","activeVersionId":"871bce9a-6ee7-46dd-af32-3416d1dd3f77","versionCounter":103,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T13:57:29.605Z","createdAt":"2026-05-02T13:57:29.605Z","role":"workflow:owner","workflowId":"SAn6Iepn4rCpkHJg","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-03T23:34:44.000Z","createdAt":"2026-05-02T00:00:00.000Z","id":"FVCRU7rTMuMCR1J3","name":"check-shotstack-fixed","description":"Robust Shotstack render status check with error handling, retry, and idempotence","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"check-shotstack","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-840,100]},{"parameters":{"jsCode":"const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\n\nif (!contentIdeaId || contentIdeaId <= 0) {\n  throw new Error('contentIdeaId invalide ou manquant: ' + contentIdeaId);\n}\nif (!workflowRunId || workflowRunId <= 0) {\n  throw new Error('workflowRunId invalide ou manquant: ' + workflowRunId);\n}\n\nreturn [{ json: { contentIdeaId, workflowRunId } }];"},"id":"set-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,100]},{"parameters":{"method":"GET","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000,"response":{"response":{"fullResponse":true}}}},"id":"get-idea","name":"HTTP: Get Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-360,100]},{"parameters":{"jsCode":"const idea = $json.body || $json;\nif (!idea || !idea.id) throw new Error('contentIdea introuvable ou invalide');\nif (idea.id !== Number($('Validate Input').item.json.contentIdeaId)) {\n  throw new Error('Mismatch: contentIdeaId does not match');\n}\nif (!idea.shotstack_render_id) throw new Error('Aucun shotstack_render_id pour cette contentIdea');\n\nconst status = String(idea.shotstack_status || '').toLowerCase();\nconst validStatuses = ['queued', 'rendering', 'preparing', 'done', 'failed', 'timeout'];\nif (!validStatuses.includes(status)) {\n  throw new Error('Invalid shotstack_status: ' + status);\n}\n\nif (!['queued', 'rendering', 'preparing'].includes(status)) {\n  return [{ json: { skip: true, reason: 'shotstack_status=' + status + ' — rien a faire', idea } }];\n}\n\nreturn [{ json: { skip: false, renderId: idea.shotstack_render_id, ideaId: idea.id, ideaStatus: idea.pipeline_status, idea } }];"},"id":"validate-render","name":"Validate Render State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-120,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-skip","name":"Skip if not pending","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[120,100]},{"parameters":{"method":"GET","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/shotstack/render/' + $json.renderId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000,"response":{"response":{"fullResponse":true}}}},"id":"shotstack-status","name":"HTTP: Get Shotstack Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[360,100]},{"parameters":{"jsCode":"const statusData = $json.body || $json;\nif (!statusData || !statusData.response) throw new Error('Invalid Shotstack response');\n\nconst status = String(statusData.response?.status || '').toLowerCase();\nconst ideaId = $('Validate Render State').item.json.ideaId;\nconst validStatuses = ['queued', 'rendering', 'preparing', 'done', 'failed', 'timeout'];\n\nif (!validStatuses.includes(status)) {\n  throw new Error('Invalid Shotstack status: ' + status);\n}\n\nif (status === 'done') {\n  if (!statusData.response?.url) throw new Error('No video URL in completed Shotstack response');\n  return [{ json: {\n    noUpdate: false,\n    ideaId,\n    patch: {\n      shotstack_status: 'done',\n      shotstack_url: statusData.response.url,\n      final_video_status: 'ready',\n      pipeline_status: 'render_ready'\n    },\n    callbackStatus: 'SUCCEEDED',\n    callbackMessage: 'Render Shotstack termine.'\n  } }];\n}\n\nif (status === 'failed' || status === 'timeout') {\n  return [{ json: {\n    noUpdate: false,\n    ideaId,\n    patch: {\n      shotstack_status: status,\n      final_video_status: 'failed',\n      pipeline_status: 'failed'\n    },\n    callbackStatus: 'FAILED',\n    callbackMessage: 'Render Shotstack en echec (' + status + ').'\n  } }];\n}\n\nreturn [{ json: {\n  noUpdate: true,\n  ideaId,\n  shotstackStatus: status,\n  message: 'Render Shotstack toujours en cours.'\n} }];"},"id":"map-update","name":"Build Update Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"pending-check","leftValue":"={{ $json.noUpdate }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-pending","name":"Pending without update?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,100]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.ideaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.patch) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"update-row","name":"HTTP: Update Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1080,100]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Validate Input').item.json.contentIdeaId, shotstackStatus: $('Build Update Payload').item.json.patch.shotstack_status } }}","options":{"responseCode":200}},"id":"respond","name":"Respond: Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1320,100]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Validate Input').item.json.contentIdeaId, pending: true, shotstackStatus: $json.shotstackStatus, message: $json.message } }}","options":{"responseCode":200}},"id":"respond-pending","name":"Respond: Pending","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1080,280]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst status = $json.callbackStatus;\nconst message = $json.callbackMessage;\nconst contentIdeaId = $json.ideaId;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing config for callback');\n}\n\nconst body = JSON.stringify({\n  status: status,\n  message: message,\n  responsePayload: JSON.stringify({\n    contentIdeaId: contentIdeaId,\n    shotstackStatus: $json.patch?.shotstack_status\n  })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 3;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(err);\n      }\n    });\n\n    req.setTimeout(20000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(new Error('Callback timeout'));\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Callback failed: ' + response.statusCode + ' ' + response.body);\n}\n\nreturn [{ json: { ok: true, callbackStatusCode: response.statusCode } }];"},"id":"callback","name":"Callback: Backend (with retry)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,100]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Validate Input').item.json.contentIdeaId, skipped: true, reason: $('Validate Render State').item.json.reason } }}","options":{"responseCode":200}},"id":"respond-skip","name":"Respond: Skipped","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[360,300]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst contentIdeaId = Number($('Validate Input').item.json.contentIdeaId || 0);\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config for error callback' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Shotstack check failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed: ' + err.message });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)', statusCode: response.statusCode } }];"},"id":"callback-error","name":"Callback: Error (best effort)","type":"n8n-nodes-base.code","typeVersion":2,"position":[360,500]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.message || 'Unknown error' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond: Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[600,500]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"HTTP: Get Content Idea","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Get Content Idea":{"main":[[{"node":"Validate Render State","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Validate Render State":{"main":[[{"node":"Skip if not pending","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Skip if not pending":{"main":[[{"node":"Respond: Skipped","type":"main","index":0}],[{"node":"HTTP: Get Shotstack Status","type":"main","index":0}]]},"HTTP: Get Shotstack Status":{"main":[[{"node":"Build Update Payload","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Build Update Payload":{"main":[[{"node":"Pending without update?","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Pending without update?":{"main":[[{"node":"Respond: Pending","type":"main","index":0}],[{"node":"HTTP: Update Content Idea","type":"main","index":0}]]},"HTTP: Update Content Idea":{"main":[[{"node":"Respond: Success","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Respond: Success":{"main":[[{"node":"Callback: Backend (with retry)","type":"main","index":0}]]},"Callback: Backend (with retry)":{"main":[],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Respond: Skipped":{"main":[]},"Callback: Error (best effort)":{"main":[[{"node":"Respond: Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c63e0310-ccab-4e29-88e6-1f7fa8baa6fc","activeVersionId":"c63e0310-ccab-4e29-88e6-1f7fa8baa6fc","versionCounter":56,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T13:58:29.041Z","createdAt":"2026-05-02T13:58:29.041Z","role":"workflow:owner","workflowId":"FVCRU7rTMuMCR1J3","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-03T23:34:53.000Z","createdAt":"2026-05-02T14:00:15.518Z","id":"ql0Tg97q1cZ12aee","name":"init-publish-tiktok-fixed","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"init-publish-tiktok","responseMode":"responseNode","options":{}},"id":"fb3c2a77-9dec-4e5f-9c8b-44fdba8d23c7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"e6ee4c2b-55aa-4e5c-854d-429e9be288fa"},{"parameters":{"jsCode":"const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\n\nif (!contentIdeaId || contentIdeaId <= 0) {\n  throw new Error('contentIdeaId invalide ou manquant: ' + contentIdeaId);\n}\nif (!workflowRunId || workflowRunId <= 0) {\n  throw new Error('workflowRunId invalide ou manquant: ' + workflowRunId);\n}\n\nreturn [{ json: { contentIdeaId, workflowRunId } }];"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok/init-publish-context' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contentIdeaId: Number($json.contentIdeaId || 0) }) }}","options":{"retry":{"maxRetries":3,"delayMultiplier":2,"initialDelay":1000},"timeout":30000,"response":{"response":{"fullResponse":true}}}},"id":"get-init-context","name":"HTTP: Get Init Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,0]},{"parameters":{"jsCode":"const data = $json.body;\nif (!data || !data.accessToken) throw new Error('accessToken manquant du contexte');\nif (!data.title) throw new Error('title manquant du contexte');\nif (!data.shotstackUrl) throw new Error('shotstackUrl manquant du contexte');\nif (!data.selectedPrivacyLevel) throw new Error('selectedPrivacyLevel manquant du contexte');\n\nreturn [{ json: { accessToken: data.accessToken, title: String(data.title).trim().slice(0, 150), shotstackUrl: data.shotstackUrl, selectedPrivacyLevel: data.selectedPrivacyLevel, contentIdeaId: $('Validate Input').item.json.contentIdeaId } }];"},"id":"validate-context","name":"Validate Init Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0]},{"parameters":{"method":"HEAD","url":"={{ $json.shotstackUrl }}","options":{"timeout":15000,"response":{"response":{"fullResponse":true}},"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":500}}},"id":"check-video-url","name":"HTTP: Verify Video URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[960,0]},{"parameters":{"jsCode":"const videoSize = Number($json.headers?.['content-length'] || 0);\nif (videoSize <= 0) throw new Error('Video size invalid: ' + videoSize);\nif (videoSize > 1073741824) throw new Error('Video exceeds 1GB limit: ' + videoSize); // 1GB limit\nreturn [{ json: { videoSize } }];"},"id":"validate-video","name":"Validate Video Headers","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0]},{"parameters":{"method":"POST","url":"https://open.tiktokapis.com/v2/post/publish/video/init/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=UTF-8"},{"name":"Authorization","value":"={{ 'Bearer ' + $('Validate Init Context').item.json.accessToken }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json; charset=UTF-8","body":"={{ JSON.stringify({ post_info: { title: $('Validate Init Context').item.json.title, privacy_level: $('Validate Init Context').item.json.selectedPrivacyLevel || 'SELF_ONLY', disable_duet: true, disable_comment: false, disable_stitch: true, video_cover_timestamp_ms: 1000 }, source_info: { source: 'FILE_UPLOAD', video_size: Number($('Validate Video Headers').item.json.videoSize), chunk_size: Number($('Validate Video Headers').item.json.videoSize), total_chunk_count: 1 } }) }}","options":{"retry":{"maxRetries":3,"delayMultiplier":2,"initialDelay":2000},"timeout":45000,"response":{"response":{"fullResponse":true}}}},"id":"init-tiktok-publish","name":"HTTP: TikTok Init Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1440,0]},{"parameters":{"jsCode":"const data = $json.body || $json.data;\nif ($json.statusCode >= 400) throw new Error('TikTok API error: ' + $json.statusCode + ' ' + JSON.stringify(data));\nif (!data.data?.publish_id) throw new Error('No publish_id returned from TikTok');\nif (!data.data?.upload_url) throw new Error('No upload_url returned from TikTok');\n\nreturn [{ json: { publishId: data.data.publish_id, uploadUrl: data.data.upload_url, contentIdeaId: $('Validate Init Context').item.json.contentIdeaId } }];"},"id":"extract-tiktok-response","name":"Extract TikTok Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,0]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ tiktok_publish_id: $json.publishId, tiktok_upload_url: $json.uploadUrl, tiktok_upload_status: 'init_done', publish_status: 'draft' }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"update-backend","name":"HTTP: Update Backend","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,0]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst contentIdeaId = Number($('Extract TikTok Response').item.json.contentIdeaId || 0);\nconst publishId = $('Extract TikTok Response').item.json.publishId || '';\nconst uploadUrl = $('Extract TikTok Response').item.json.uploadUrl || '';\n\nif (!baseUrl) throw new Error('APP_VIDEO_OPS_BACKEND_BASE_URL manquante');\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Init publish TikTok termine.',\n  responsePayload: JSON.stringify({ contentIdeaId, publishId, uploadUrl })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 3;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(err);\n      }\n    });\n\n    req.setTimeout(20000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(new Error('Callback timeout'));\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Callback failed: ' + response.statusCode + ' ' + response.body);\n}\n\nreturn [{ json: { ok: true, contentIdeaId, publishId, uploadUrl, callbackStatusCode: response.statusCode } }];"},"id":"callback-success","name":"Callback: Success (with retry)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $json.contentIdeaId, publishId: $json.publishId, uploadUrl: $json.uploadUrl, status: 'init_done' } }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond: Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2400,0]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst contentIdeaId = Number($('Validate Input').item.json.contentIdeaId || 0);\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config for error callback' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Init publish failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed: ' + err.message });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)', statusCode: response.statusCode } }];"},"id":"callback-error","name":"Callback: Error (best effort)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,200]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.message || 'Unknown error' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond: Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2400,200]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"HTTP: Get Init Context","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Get Init Context":{"main":[[{"node":"Validate Init Context","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Validate Init Context":{"main":[[{"node":"HTTP: Verify Video URL","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Verify Video URL":{"main":[[{"node":"Validate Video Headers","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Validate Video Headers":{"main":[[{"node":"HTTP: TikTok Init Publish","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: TikTok Init Publish":{"main":[[{"node":"Extract TikTok Response","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Extract TikTok Response":{"main":[[{"node":"HTTP: Update Backend","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Update Backend":{"main":[[{"node":"Callback: Success (with retry)","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Callback: Success (with retry)":{"main":[[{"node":"Respond: Success","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Callback: Error (best effort)":{"main":[[{"node":"Respond: Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f22250c-f180-4dc3-96ce-766cd124d9f4","activeVersionId":"3f22250c-f180-4dc3-96ce-766cd124d9f4","versionCounter":64,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T14:00:15.523Z","createdAt":"2026-05-02T14:00:15.523Z","role":"workflow:owner","workflowId":"ql0Tg97q1cZ12aee","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-03T23:54:25.000Z","createdAt":"2026-05-03T19:03:31.778Z","id":"q8OpzbRoQe8W8TzY","name":"idea-script-generation-fused","description":"Generate ideas + scripts in single workflow (fused creation + script)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"fused-idea-script","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"fused-webhook"},{"parameters":{"jsCode":"const body = $json.body || {};\nconst category = String(body.category || '').trim();\nconst ideaCount = Number(body.ideaCount || 1);\nconst workflowRunId = Number(body.workflowRunId || 0);\n\nif (!category) throw new Error('category is required');\nif (!Number.isInteger(ideaCount) || ideaCount < 1 || ideaCount > 5) throw new Error('ideaCount must be 1-5');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId is required and must be > 0');\n\nreturn [{ json: { category, ideaCount, workflowRunId, templateId: body.templateId || null, tiktokAccountOpenId: body.tiktokAccountOpenId || null } }];"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"jsCode":"const input = $input.first().json;\nreturn Array.from({ length: input.ideaCount }).map((_, index) => ({ json: { ...input, iteration: index + 1, ideaIndex: index } }));"},"id":"expand-ideas","name":"Expand Ideas","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { model: 'llama-3.1-8b-instant', temperature: 0.7, max_tokens: 100, messages: [ { role: 'user', content: 'Generate exactly one unique TikTok content idea for category: ' + $json.category + '. Return only the idea text, no numbering.' } ] } }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"groq-idea","name":"Call Groq for Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[720,0]},{"parameters":{"jsCode":"const topic = String($json.choices?.[0]?.message?.content || '').trim().slice(0, 255);\nif (!topic || topic.length < 5) throw new Error('LLM_IDEA_TOO_SHORT');\nreturn [{ json: { topic, category: $('Expand Ideas').item.json.category, workflowRunId: $('Expand Ideas').item.json.workflowRunId, templateId: $('Expand Ideas').item.json.templateId, tiktokAccountOpenId: $('Expand Ideas').item.json.tiktokAccountOpenId, ideaIndex: $('Expand Ideas').item.json.ideaIndex } }];"},"id":"normalize-idea","name":"Normalize Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ category: $json.category, topic: $json.topic, status: 'new', pipelineStatus: 'idea_created', publishStatus: 'draft', platform: 'tiktok', templateId: $json.templateId || null, tiktokAccountOpenId: $json.tiktokAccountOpenId || null }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"create-idea","name":"Backend: Create Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1200,0]},{"parameters":{"jsCode":"const idea = $json.body || $json;\nconst contentIdeaId = Number(idea.id || 0);\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('Backend did not return idea id');\nreturn [{ json: { contentIdeaId, topic: $('Normalize Idea').item.json.topic, category: $('Normalize Idea').item.json.category, workflowRunId: $('Normalize Idea').item.json.workflowRunId, ideaIndex: $('Normalize Idea').item.json.ideaIndex } }];"},"id":"extract-idea-id","name":"Extract Idea ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,0]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.6, max_tokens: 500, messages: [ { role: 'system', content: 'You are a TikTok content expert. Generate professional, punchy scripts optimized for mobile. Return ONLY valid JSON without markdown.' }, { role: 'user', content: 'Category: ' + $json.category + '\\nTopic: ' + $json.topic + '\\n\\nGenerate a professional TikTok script:\\n- script: 1-3 short impactful sentences, natural French, conversational\\n- caption: 1-2 catchy phrases with 2-3 relevant hashtags\\n- hook: engaging first phrase to hook in 1s\\n- background_keyword: single word for background search\\n\\nReturn exactly this JSON:\\n{\"script\":\"...\",\"caption\":\"...\",\"hook\":\"...\",\"background_keyword\":\"...\"}' } ] }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"groq-script","name":"Call Groq for Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,0]},{"parameters":{"jsCode":"const raw = String($json.choices?.[0]?.message?.content || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM_SCRIPT_PARSE_ERROR: ' + e.message);\n}\n\nif (!parsed.script) throw new Error('LLM_MISSING_FIELD: script');\nif (!parsed.caption) throw new Error('LLM_MISSING_FIELD: caption');\nif (!parsed.hook) throw new Error('LLM_MISSING_FIELD: hook');\n\nreturn [{ json: { script: parsed.script, caption: parsed.caption, hook: parsed.hook, background_keyword: parsed.background_keyword || '', contentIdeaId: $('Extract Idea ID').item.json.contentIdeaId, workflowRunId: $('Extract Idea ID').item.json.workflowRunId } }];"},"id":"parse-script","name":"Parse Script Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,0]},{"parameters":{"assignments":{"assignments":[{"name":"script","value":"={{ String($json.script || '').trim().slice(0, 300) }}","type":"string"},{"name":"caption","value":"={{ String($json.caption || '').trim().slice(0, 150) }}","type":"string"},{"name":"hook","value":"={{ String($json.hook || '').trim().slice(0, 100) }}","type":"string"},{"name":"background_keyword","value":"={{ String($json.background_keyword || '').trim().slice(0, 50) }}","type":"string"},{"name":"contentIdeaId","value":"={{ $json.contentIdeaId }}","type":"number"},{"name":"workflowRunId","value":"={{ $json.workflowRunId }}","type":"number"}]},"options":{}},"id":"normalize-script","name":"Normalize Script Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"script_len","leftValue":"={{ ($json.script || '').length >= 10 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"caption_len","leftValue":"={{ ($json.caption || '').length >= 5 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"validate-script-quality","name":"Validate Script Quality","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,0]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ scripts: $json.script, script_status: 'done', script_hook: $json.hook, caption: $json.caption, background_keyword: $json.background_keyword, pipeline_status: 'script_ready', llm_model: 'llama-3.3-70b-versatile' }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"update-idea-with-script","name":"Backend: Update Idea with Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2640,0]},{"parameters":{"jsCode":"const items = $input.all();\nconst workflowRunId = Number($('Validate Input').first().json.workflowRunId || 0);\nreturn [{ json: { workflowRunId, generatedCount: items.length, createdAt: new Date().toISOString() } }];"},"id":"summarize","name":"Summarize Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, workflowRunId: $json.workflowRunId, generatedCount: $json.generatedCount, status: 'idea_and_script_ready' } }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3120,0]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Idea and script generation complete.',\n  responsePayload: JSON.stringify({ generatedCount: Number($json.generatedCount || 0) })\n});\n\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret\n        }\n      }, (res) => {\n        let data = '';\n        res.on('data', (chunk) => { data += chunk; });\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n      });\n\n      req.on('error', reject);\n      req.setTimeout(10000, () => {\n        req.destroy();\n        reject(new Error('Callback timeout'));\n      });\n\n      req.write(body);\n      req.end();\n    });\n\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback failed: ' + response.statusCode;\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt < 3) await new Promise(r => setTimeout(r, 500 * attempt));\n    else throw error;\n  }\n}\n\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError);\nreturn [{ json: { ok: true, workflowRunId, generatedCount: $json.generatedCount, callbackStatusCode: response.statusCode } }];"},"id":"callback-success","name":"Callback Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,0]},{"parameters":{"jsCode":"let error = 'Unknown error';\nif (typeof $json === 'string') {\n  error = $json;\n} else if ($json && typeof $json === 'object') {\n  error = $json.message || $json.error || $json.toString();\n}\n\nlet contentIdeaId = 0;\ntry {\n  const extractNode = $('Extract Idea ID');\n  if (extractNode && extractNode.item && extractNode.item.json) {\n    contentIdeaId = Number(extractNode.item.json.contentIdeaId || 0);\n  }\n} catch (e) {}\n\nlet workflowRunId = 0;\ntry {\n  const validateNode = $('Validate Input');\n  if (validateNode && validateNode.first() && validateNode.first().json) {\n    workflowRunId = Number(validateNode.first().json.workflowRunId || 0);\n  }\n} catch (e) {}\n\nreturn [{ json: { contentIdeaId, workflowRunId, error: String(error).slice(0, 500), error_at: new Date().toISOString() } }];"},"id":"prepare-error","name":"Prepare Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\nconst errorMsg = String($json.error || 'Unknown error');\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { ok: false, error: errorMsg } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Generation failed: ' + errorMsg.slice(0, 200),\n  responsePayload: JSON.stringify({ error: errorMsg.slice(0, 500) })\n});\n\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet response = null;\nfor (let attempt = 1; attempt <= 2; attempt++) {\n  try {\n    response = await new Promise((resolve) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret\n        }\n      }, (res) => {\n        res.on('data', () => {});\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0 }));\n      });\n\n      req.on('error', () => resolve({ statusCode: 0 }));\n      req.setTimeout(10000, () => {\n        req.destroy();\n        resolve({ statusCode: 0 });\n      });\n\n      req.write(body);\n      req.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n  } catch (e) {}\n}\n\nreturn [{ json: { ok: false, error: errorMsg, workflowRunId, callbackAttempted: true } }];"},"id":"callback-error","name":"Callback Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.error, action: 'check_logs' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,300]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Expand Ideas","type":"main","index":0}]]},"Expand Ideas":{"main":[[{"node":"Call Groq for Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Call Groq for Idea":{"main":[[{"node":"Normalize Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Normalize Idea":{"main":[[{"node":"Backend: Create Idea","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Backend: Create Idea":{"main":[[{"node":"Extract Idea ID","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Extract Idea ID":{"main":[[{"node":"Call Groq for Script","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Call Groq for Script":{"main":[[{"node":"Parse Script Response","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Parse Script Response":{"main":[[{"node":"Normalize Script Output","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Normalize Script Output":{"main":[[{"node":"Validate Script Quality","type":"main","index":0}]]},"Validate Script Quality":{"main":[[{"node":"Backend: Update Idea with Script","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Backend: Update Idea with Script":{"main":[[{"node":"Summarize Results","type":"main","index":0}]],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Summarize Results":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Respond Success":{"main":[[{"node":"Callback Success","type":"main","index":0}]]},"Callback Success":{"main":[],"error":[[{"node":"Prepare Error","type":"main","index":0}]]},"Prepare Error":{"main":[[{"node":"Callback Error","type":"main","index":0}]],"error":[[{"node":"Respond Error","type":"main","index":0}]]},"Callback Error":{"main":[[{"node":"Respond Error","type":"main","index":0}]]},"Respond Error":{"main":[]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94235ab6-f5e7-42db-876f-e0310d9b048b","activeVersionId":"94235ab6-f5e7-42db-876f-e0310d9b048b","versionCounter":33,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-03T19:03:31.785Z","createdAt":"2026-05-03T19:03:31.785Z","role":"workflow:owner","workflowId":"q8OpzbRoQe8W8TzY","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-04T00:42:30.924Z","createdAt":"2026-04-30T02:10:00.000Z","id":"0d1fe204-62f0-4ba5-9fd1-20a405e8d300","name":"render","description":"Professional quality video rendering with quality gates and advanced media selection","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"render-template-video","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-976,112],"webhookId":"f43da055-76a9-4b85-b968-bcfddded5d9e"},{"parameters":{"jsCode":"const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst topic = String($json.body?.topic || $json.topic || '').trim();\nconst script = String($json.body?.script || $json.script || '').trim();\nconst derivedHook = String(script.split(/[.!?\\n]/)[0] || topic || '').trim();\nconst hook = String($json.body?.hook || $json.hook || derivedHook).trim();\nconst caption = String($json.body?.caption || $json.caption || '').trim();\nconst keyword = String($json.body?.keyword || $json.keyword || topic).trim();\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\n\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('contentIdeaId invalide');\nif (!script) throw new Error('script manquant');\nif (!hook) throw new Error('hook manquant');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId invalide');\n\nif (script.length > 500) throw new Error('script trop long');\nif (hook.length > 100) throw new Error('hook trop long');\n\nreturn [{ json: { contentIdeaId, topic, script, hook, caption, keyword, workflowRunId } }];"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,112]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.5, max_tokens: 150, messages: [ { role: 'system', content: 'Tu generes des descriptions visuelles professionnelles pour des videos TikTok business. Une seule phrase, concrete, prete pour synthese visuelle.' }, { role: 'user', content: 'Topic: ' + $json.topic + '\\nScript: ' + $json.script.slice(0, 100) + '\\nKeyword: ' + $json.keyword + '\\n\\nGenere UNE SEULE ligne descriptive de l\\'aesthetic visuel (modern, corporate, lifestyle, tech, etc) pour cette video.' } ] }) }}","options":{"timeout":20000}},"id":"groq-visual-prompt","name":"HTTP: LLM Visual Description","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-496,112]},{"parameters":{"jsCode":"const aesthetic = String($json.choices?.[0]?.message?.content || '').trim().slice(0, 100);\nif (!aesthetic) throw new Error('Aesthetic description failed');\nreturn [{ json: { aesthetic } }];"},"id":"validate-aesthetic","name":"Validate Aesthetic","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,112]},{"parameters":{"url":"={{ (() => {\n  const raw = String($('Validate Input').item.json.keyword || $('Validate Input').item.json.topic || 'business');\n  const normalized = raw.replace(/[\"'&]/g, ' ').replace(/[^\\w\\s-]/g, ' ').replace(/\\s+/g, ' ').trim();\n  const query = (normalized || 'business').split(' ').slice(0, 4).join(' ') || 'business';\n  return 'https://api.pexels.com/videos/search?query=' + encodeURIComponent(query) + '&per_page=50&orientation=portrait';\n})() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $env.PEXELS_API_KEY }}"}]},"options":{"timeout":20000}},"id":"pexels-search","name":"HTTP: Pexels Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-48,112]},{"parameters":{"jsCode":"const videos = $json.videos || [];\nif (!videos.length) throw new Error('Aucune video Pexels trouvee');\n\nconst PEXELS_HOST = 'videos.pexels.com';\nconst MIN_DURATION = 5; // 5 secondes min\nconst MAX_DURATION = 60; // 60 secondes max\n\nconst extractHostname = (value) => {\n  const match = String(value || '').match(/^https?:\\/\\/([^\\/?#]+)/i);\n  return match ? match[1].toLowerCase() : '';\n};\n\nconst scoreVideo = (video, file) => {\n  const width = Number(file.width || video.width || 0);\n  const height = Number(file.height || video.height || 0);\n  const duration = Number(video.duration || 0);\n  const hostname = extractHostname(file.link);\n  \n  let score = 0;\n  \n  // Host preference (Pexels direct = +100)\n  if (hostname === PEXELS_HOST) score += 100;\n  else score += 30;\n  \n  // Portrait format (height > width)\n  if (height > width) score += 50;\n  else return 0; // Reject landscape\n  \n  // Resolution preference (1080x1920 ideal)\n  if (width === 1080 && height === 1920) score += 150;\n  else if (width === 720 && height === 1280) score += 100;\n  else if (width === 540 && height === 960) score += 50;\n  else if (width > 1080) score += 80;\n  else if (width > 540) score += 60;\n  else score += 20;\n  \n  // Duration preference (8-20 secondes = optimal)\n  if (duration >= MIN_DURATION && duration <= MAX_DURATION) {\n    const ideal = duration <= 15 ? 150 : duration <= 30 ? 120 : 80;\n    score += ideal;\n  } else return 0; // Reject too short or too long\n  \n  // File type (mp4 is standard)\n  if (file.file_type === 'video/mp4') score += 40;\n  \n  return score;\n};\n\nconst candidates = [];\nfor (const video of videos) {\n  for (const file of video.video_files || []) {\n    if (!file?.link) continue;\n    const score = scoreVideo(video, file);\n    if (score > 0) {\n      candidates.push({\n        link: file.link,\n        width: Number(file.width || video.width || 0),\n        height: Number(file.height || video.height || 0),\n        duration: Number(video.duration || 0),\n        photographer: video.user?.name || 'Unknown',\n        score\n      });\n    }\n  }\n}\n\nif (!candidates.length) throw new Error('Aucune video portrait de qualite trouvee');\n\ncandidates.sort((a, b) => b.score - a.score);\n\nconst selected = candidates[0];\nif (selected.score < 50) throw new Error('Media quality too low (score: ' + selected.score + ')');\n\nreturn [{ json: {\n  id: $('Validate Input').item.json.contentIdeaId,\n  workflowRunId: $('Validate Input').item.json.workflowRunId,\n  topic: $('Validate Input').item.json.topic,\n  script: $('Validate Input').item.json.script,\n  hook: $('Validate Input').item.json.hook,\n  caption: $('Validate Input').item.json.caption,\n  aesthetic: $('Validate Aesthetic').item.json.aesthetic,\n  background_video_url: selected.link,\n  media_score: selected.score,\n  media_quality: selected.score > 200 ? 'premium' : selected.score > 100 ? 'high' : 'standard',\n  media_duration: selected.duration,\n  media_resolution: selected.width + 'x' + selected.height\n} }];"},"id":"select-media-scored","name":"Select Media (Scored)","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,112]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_status: 'preparing', final_video_status: 'processing', render_payload: JSON.stringify($json), render_status: 'prepared', pipeline_status: 'rendering_requested', media_quality: $json.media_quality, media_score: $json.media_score }) }}","options":{"timeout":20000}},"id":"update-preparing","name":"HTTP: Update Preparing","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[464,112]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/shotstack/render' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify((() => {\n  const selected = $('Select Media (Scored)').item.json;\n  const cleanText = (value) => String(value || '').normalize('NFKD').replace(/[^\\x20-\\x7E]/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 120);\n  \n  // Text layers from hook + script\n  const textLines = [];\n  if (selected.hook) textLines.push(cleanText(selected.hook));\n  const scriptLines = (selected.script || '').split('\\n').map(l => cleanText(l)).filter(Boolean);\n  textLines.push(...scriptLines.slice(0, 2));\n  \n  // Professional gradient background colors based on aesthetic\n  const bgColors = {\n    'modern': { gradient: '#0f1419 to #1a1f2e', text: '#ffffff' },\n    'corporate': { gradient: '#1c2841 to #2d3a4f', text: '#ffffff' },\n    'creative': { gradient: '#2a1635 to #3d1f47', text: '#ffffff' },\n    'tech': { gradient: '#0d1b2a to #1e3a5f', text: '#00d9ff' },\n    'lifestyle': { gradient: '#1a1a1a to #3a3a3a', text: '#ffffff' }\n  };\n  const theme = bgColors['modern']; // Could be enhanced with aesthetic detection\n  \n  // Text clips with professional styling\n  const titleClips = textLines.filter(Boolean).map((line, index) => ({\n    asset: {\n      type: 'title',\n      text: line,\n      style: 'bold',\n      fontFamily: 'Arial',\n      fontSize: 48,\n      color: theme.text,\n      background: 'rgba(15, 15, 15, 0.65)',\n      padding: 16,\n      align: 'center',\n      weight: 700\n    },\n    start: index * 3.5,\n    length: 3,\n    position: 'center',\n    opacity: 1\n  }));\n  \n  return {\n    timeline: {\n      background: theme.gradient.split(' to ')[0],\n      tracks: [\n        {\n          clips: [\n            {\n              asset: {\n                type: 'video',\n                src: selected.background_video_url\n              },\n              start: 0,\n              length: 15,\n              fit: 'cover',\n              opacity: 0.85\n            }\n          ]\n        },\n        ...(titleClips.length ? [{\n          clips: titleClips\n        }] : [])\n      ]\n    },\n    output: {\n      format: 'mp4',\n      aspectRatio: '9:16',\n      resolution: 'hd',\n      quality: 'high',\n      fps: 30,\n      bitrate: '6000k'\n    }\n  };\n})()) }}","options":{"timeout":45000}},"id":"shotstack-render","name":"HTTP: Shotstack Render","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[704,112]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('Select Media (Scored)').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_render_id: $json.response?.id || $json.id, shotstack_status: 'queued', final_video_status: 'processing', pipeline_status: 'rendering_requested', render_quality: 'professional' }) }}","options":{"timeout":20000}},"id":"update-render-id","name":"HTTP: Update Render ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[944,112]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Select Media (Scored)').item.json.id, workflowRunId: $('Select Media (Scored)').item.json.workflowRunId, status: 'rendering_requested', media_quality: $('Select Media (Scored)').item.json.media_quality, shotstackRenderId: $('HTTP: Shotstack Render').item.json.response?.id || $('HTTP: Shotstack Render').item.json.id } }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond: Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1184,112]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Select Media (Scored)').item.json.workflowRunId || 0);\nconst contentIdeaId = $('Select Media (Scored)').item.json.id;\nconst shotstackRenderId = $('HTTP: Shotstack Render').item.json.response?.id || $('HTTP: Shotstack Render').item.json.id || '';\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Professional render requested from Shotstack.',\n  responsePayload: JSON.stringify({\n    contentIdeaId,\n    shotstackRenderId,\n    mediaQuality: $('Select Media (Scored)').item.json.media_quality,\n    mediaScore: $('Select Media (Scored)').item.json.media_score\n  })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 3;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(err);\n      }\n    });\n\n    req.setTimeout(20000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(new Error('Callback timeout'));\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Callback failed: ' + response.statusCode);\n}\n\nreturn [{ json: { ok: true, callbackStatusCode: response.statusCode } }];"},"id":"callback-success","name":"Callback: Success (with retry)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,112]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst contentIdeaId = Number($('Validate Input').item.json.contentIdeaId || 0);\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Render failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', () => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed' });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)' } }];"},"id":"callback-error","name":"Callback: Error (best effort)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,304]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.message || 'Unknown error' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond: Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1664,304]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"HTTP: LLM Visual Description","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: LLM Visual Description":{"main":[[{"node":"Validate Aesthetic","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Validate Aesthetic":{"main":[[{"node":"HTTP: Pexels Search","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Pexels Search":{"main":[[{"node":"Select Media (Scored)","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Select Media (Scored)":{"main":[[{"node":"HTTP: Update Preparing","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Update Preparing":{"main":[[{"node":"HTTP: Shotstack Render","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Shotstack Render":{"main":[[{"node":"HTTP: Update Render ID","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"HTTP: Update Render ID":{"main":[[{"node":"Respond: Success","type":"main","index":0}]],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Respond: Success":{"main":[[{"node":"Callback: Success (with retry)","type":"main","index":0}]]},"Callback: Success (with retry)":{"main":[],"error":[[{"node":"Callback: Error (best effort)","type":"main","index":0}]]},"Callback: Error (best effort)":{"main":[[{"node":"Respond: Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"485277e9-4c51-40c9-bb14-f41ea274693c","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-03T23:58:47.954Z","createdAt":"2026-05-03T23:58:47.954Z","role":"workflow:owner","workflowId":"0d1fe204-62f0-4ba5-9fd1-20a405e8d300","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}}]