n8n-local/backup-check-before-import.json
[{"updatedAt":"2026-05-02T23:21:46.047Z","createdAt":"2026-05-02T13:58:29.038Z","id":"FVCRU7rTMuMCR1J3","name":"check-shotstack-fixed","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"check-shotstack","responseMode":"responseNode","options":{}},"id":"b0ec90ff-21e7-43ea-af35-2b3cd9aab4de","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[2592,320],"webhookId":"74ddbd45-e45c-47d4-8cbb-cd4523820fa2"},{"parameters":{"assignments":{"assignments":[{"name":"contentIdeaId","value":"={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}","type":"number"},{"name":"workflowRunId","value":"={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}","type":"number"}]},"options":{}},"id":"69d2f3d8-2829-438b-8e1e-ca3dfa8c7233","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2832,320]},{"parameters":{"url":"=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Video-Ops-Internal-Secret","value":"2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"}]},"options":{}},"id":"8968ab72-790e-4c2a-8583-e0461287583f","name":"Backend Get Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3072,320]},{"parameters":{"jsCode":"const idea = $json;\nif (!idea || !idea.id) throw new Error('contentIdea introuvable.');\nif (!idea.shotstack_render_id) throw new Error('Aucun shotstack_render_id pour cette contentIdea.');\nconst status = String(idea.shotstack_status || '').toLowerCase();\nif (!['queued','rendering','preparing'].includes(status)) {\n  return [{ json: { skip: true, reason: 'shotstack_status=' + status + ' — rien a faire.', idea } }];\n}\nreturn [{ json: { skip: false, renderId: idea.shotstack_render_id, ideaId: idea.id, idea } }];"},"id":"210ca51d-411f-498b-b853-a61b7601317b","name":"Validate Render State","type":"n8n-nodes-base.code","typeVersion":2,"position":[3312,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"14050228-5e07-4267-8a91-03231bfc2746","name":"Skip if not pending","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3552,320]},{"parameters":{"url":"=http://backend:8080/api/video-ops/internal/shotstack/render/{{ $json.renderId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Video-Ops-Internal-Secret","value":"2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"}]},"options":{}},"id":"3475cbd9-2696-4c84-8d7a-a9abb8c297ad","name":"Backend Get Shotstack Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3792,320]},{"parameters":{"jsCode":"const status = String($json.response?.status || '').toLowerCase();\nconst ideaId = $('Validate Render State').item.json.ideaId;\nif (status === 'done') {\n  return [{ json: { ideaId, patch: { shotstack_status: 'done', shotstack_url: $json.response?.url || '', final_video_status: 'ready', pipeline_status: 'render_ready' }, callbackStatus: 'SUCCEEDED', callbackMessage: 'Render Shotstack termine.' } }];\n}\nif (status === 'failed') {\n  return [{ json: { ideaId, patch: { shotstack_status: 'failed', final_video_status: 'failed', pipeline_status: 'failed' }, callbackStatus: 'FAILED', callbackMessage: 'Render Shotstack en echec.' } }];\n}\nreturn [];"},"id":"0d6ce879-c5e0-42f8-ac19-54ec090b76c1","name":"Build Update Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[4032,320]},{"parameters":{"method":"PATCH","url":"=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.ideaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.patch) }}","options":{}},"id":"f67ac5b9-2b91-470f-bcca-832136b9f392","name":"Backend Update Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4272,320]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Set Input').item.json.contentIdeaId, shotstackStatus: $('Build Update Payload').item.json.patch.shotstack_status } }}","options":{"responseCode":200}},"id":"be8028a6-c393-4f1d-b329-0bb3455b5e1e","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[4512,320]},{"parameters":{"method":"POST","url":"=http://backend:8080/api/video-ops/workflow-runs/{{ $('Set Input').item.json.workflowRunId }}/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Callback-Secret","value":"={{ $env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: $('Build Update Payload').item.json.callbackStatus, message: $('Build Update Payload').item.json.callbackMessage, responsePayload: JSON.stringify({ contentIdeaId: $('Set Input').item.json.contentIdeaId, shotstackStatus: $('Build Update Payload').item.json.patch.shotstack_status }) }) }}","options":{}},"id":"bebd8440-ea3d-47bf-9340-e49de1e7aba2","name":"Callback Backend","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4752,320]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Set Input').item.json.contentIdeaId, skipped: true, reason: $('Validate Render State').item.json.reason } }}","options":{"responseCode":200}},"id":"c10978c7-2b9f-48da-968a-599032c01271","name":"Respond Skipped","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3792,528]}],"connections":{"Webhook":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"Backend Get Content Idea","type":"main","index":0}]]},"Backend Get Content Idea":{"main":[[{"node":"Validate Render State","type":"main","index":0}]]},"Validate Render State":{"main":[[{"node":"Skip if not pending","type":"main","index":0}]]},"Skip if not pending":{"main":[[{"node":"Respond Skipped","type":"main","index":0}],[{"node":"Backend Get Shotstack Status","type":"main","index":0}]]},"Backend Get Shotstack Status":{"main":[[{"node":"Build Update Payload","type":"main","index":0}]]},"Build Update Payload":{"main":[[{"node":"Backend Update Content Idea","type":"main","index":0}]]},"Backend Update Content Idea":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Callback Backend","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"c9361a01-59c4-4cbf-a936-e5b6ac786d03","activeVersionId":"c9361a01-59c4-4cbf-a936-e5b6ac786d03","versionCounter":30,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T13:58:29.041Z","createdAt":"2026-05-02T13:58:29.041Z","role":"workflow:owner","workflowId":"FVCRU7rTMuMCR1J3","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":"Version c9361a01","description":""}}]