n8n-local/backup-render-before-import.json
[{"updatedAt":"2026-05-03T00:34:31.590Z","createdAt":"2026-05-02T13:57:29.602Z","id":"SAn6Iepn4rCpkHJg","name":"render-template-video-with-callback","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"render-template-video","responseMode":"lastNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-980,100]},{"parameters":{"assignments":{"assignments":[{"name":"contentIdeaId","value":"={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}","type":"number"},{"name":"topic","value":"={{ String($json.body.topic || $json.topic || '').trim() }}","type":"string"},{"name":"script","value":"={{ String($json.body.script || $json.script || '').trim() }}","type":"string"},{"name":"caption","value":"={{ String($json.body.caption || $json.caption || '').trim() }}","type":"string"},{"name":"keyword","value":"={{ String($json.body.keyword || $json.keyword || '').trim() }}","type":"string"},{"name":"workflowRunId","value":"={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}","type":"number"}]},"options":{}},"id":"set-input","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,100]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.GROQ_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.1-8b-instant', messages: [ { role: 'user', content: 'Create one realistic visual prompt for a vertical TikTok business video about this topic: ' + $json.topic + '. Script: ' + $json.script + '. Keyword: ' + ($json.keyword || $json.topic) + '. One sentence only.' } ] }) }}","options":{}},"id":"groq-prompt","name":"HTTP Request Image Prompt","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-500,100]},{"parameters":{"url":"={{ (() => { const raw = String($('Set Input').item.json.keyword || $('Set Input').item.json.topic || 'business'); const normalized = raw.replace(/[\"'&]/g, ' ').replace(/[^\\w\\s-]/g, ' ').replace(/\\s+/g, ' ').trim(); const query = (normalized || 'business').split(' ').slice(0, 4).join(' ') || 'business'; return 'https://api.pexels.com/videos/search?query=' + encodeURIComponent(query) + '&per_page=15&orientation=portrait'; })() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $env.PEXELS_API_KEY }}"}]},"options":{}},"id":"pexels","name":"HTTP Request Pexels","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-260,100]},{"parameters":{"jsCode":"const videos = $json.videos || [];\nif (!videos.length) throw new Error('Aucune video Pexels retournee');\nconst buckets = { directPreferred: [], directFallback: [], otherPreferred: [], otherFallback: [] };\nconst classify = (link, width, height) => {\n  let hostname = '';\n  try { hostname = new URL(link).hostname; } catch {}\n  const isDirectPexels = hostname === 'videos.pexels.com';\n  const isPreferred = (width === 1080 && height === 1920) || (width === 720 && height === 1280) || (width === 540 && height === 960);\n  if (isDirectPexels && isPreferred) return buckets.directPreferred;\n  if (isDirectPexels) return buckets.directFallback;\n  if (isPreferred) return buckets.otherPreferred;\n  return buckets.otherFallback;\n};\nfor (const video of videos) {\n  for (const file of video.video_files || []) {\n    if (!file?.link || file.file_type !== 'video/mp4') continue;\n    const width = Number(file.width || video.width || 0);\n    const height = Number(file.height || video.height || 0);\n    if (!width || !height || height <= width) continue;\n    classify(file.link, width, height).push({ link: file.link, width, height });\n  }\n}\nconst byArea = (a, b) => (b.height * b.width) - (a.height * a.width);\nconst pick = buckets.directPreferred[0] || buckets.directFallback.sort(byArea)[0] || buckets.otherPreferred[0] || buckets.otherFallback.sort(byArea)[0];\nif (!pick) throw new Error('Aucune video portrait exploitable retournee par Pexels');\nreturn [{ json: { id: $('Set Input').item.json.contentIdeaId, workflowRunId: $('Set Input').item.json.workflowRunId, topic: $('Set Input').item.json.topic, scripts: $('Set Input').item.json.script, caption: $('Set Input').item.json.caption, image_prompt: String($('HTTP Request Image Prompt').item.json.choices?.[0]?.message?.content || '').trim(), background_video_url: pick.link } }];"},"id":"select-media","name":"Select Portrait Media","type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,100]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_status: 'preparing', final_video_status: 'processing', render_payload: JSON.stringify($json), render_status: 'prepared', pipeline_status: 'rendering_requested' }) }}","options":{}},"id":"update-preparing","name":"Backend Update Preparing","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[220,100]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/shotstack/render' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify((() => { const selected = $('Select Portrait Media').item.json; const cleanText = (value) => String(value || '').normalize('NFKD').replace(/[^\\x20-\\x7E]/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 120); const lines = String(selected.scripts || '').split('\\n').map((line) => cleanText(line)).filter(Boolean); const fallbackTopic = cleanText(selected.topic || $('Set Input').item.json.topic || 'Video business'); const textLines = (lines.length ? lines : [fallbackTopic]).slice(0, 3); const titleClips = textLines.filter(Boolean).map((line, index) => ({ asset: { type: 'title', text: line, style: 'minimal', color: '#ffffff', background: 'rgba(15,15,15,0.55)' }, start: index * 3, length: 3, position: 'center' })); return { timeline: { background: '#0f0f0f', tracks: [ { clips: [ { asset: { type: 'video', src: selected.background_video_url }, start: 0, length: 15, fit: 'cover' } ] }, ...(titleClips.length ? [{ clips: titleClips }] : []) ] }, output: { format: 'mp4', aspectRatio: '9:16', resolution: 'hd' } }; })()) }}","options":{}},"id":"shotstack-render","name":"HTTP Request Shotstack Render","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[460,100]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('Select Portrait Media').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ shotstack_render_id: $json.response?.id || $json.id, shotstack_status: 'queued', final_video_status: 'processing', pipeline_status: 'rendering_requested' }) }}","options":{}},"id":"update-render-id","name":"Backend Update Render Id","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[700,100]},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Set Input').item.json.workflowRunId || 0);\nif (!baseUrl) throw new Error('APP_VIDEO_OPS_BACKEND_BASE_URL manquante');\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({ status: 'SUCCEEDED', message: 'Render Shotstack demande.', responsePayload: JSON.stringify({ contentIdeaId: Number($('Set Input').item.json.contentIdeaId || 0), shotstackRenderId: $('HTTP Request Shotstack Render').item.json.response?.id || $('HTTP Request Shotstack Render').item.json.id || '' }) });\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\nconst sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt += 1) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({ protocol: url.protocol, hostname: url.hostname, port: url.port || (url.protocol === 'https:' ? 443 : 80), path: url.pathname + url.search, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body), 'X-Video-Ops-Callback-Secret': callbackSecret } }, (res) => { let data = ''; res.on('data', (chunk) => { data += chunk; }); res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data })); });\n      req.on('error', reject);\n      req.write(body);\n      req.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback backend refuse: ' + response.statusCode;\n    if (response.statusCode !== 404 || attempt === 6) throw new Error(lastError);\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt === 6) throw error;\n  }\n  await sleep(500 * attempt);\n}\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError || 'Callback backend refuse.');\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"},"id":"callback","name":"Callback Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,100]}],"connections":{"Webhook":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"HTTP Request Image Prompt","type":"main","index":0}]]},"HTTP Request Image Prompt":{"main":[[{"node":"HTTP Request Pexels","type":"main","index":0}]]},"HTTP Request Pexels":{"main":[[{"node":"Select Portrait Media","type":"main","index":0}]]},"Select Portrait Media":{"main":[[{"node":"Backend Update Preparing","type":"main","index":0}]]},"Backend Update Preparing":{"main":[[{"node":"HTTP Request Shotstack Render","type":"main","index":0}]]},"HTTP Request Shotstack Render":{"main":[[{"node":"Backend Update Render Id","type":"main","index":0}]]},"Backend Update Render Id":{"main":[]},"Callback Success":{"main":[]}},"settings":{},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"367b065d-4e95-4edf-96d2-57686428d2ac","activeVersionId":"367b065d-4e95-4edf-96d2-57686428d2ac","versionCounter":53,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T13:57:29.605Z","createdAt":"2026-05-02T13:57:29.605Z","role":"workflow:owner","workflowId":"SAn6Iepn4rCpkHJg","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":"render-template-video-with-callback","description":null}}]