n8n-local/backup-script-before-import.json
[{"updatedAt":"2026-05-02T23:21:10.264Z","createdAt":"2026-05-02T13:56:56.059Z","id":"aynirSUsBIS10A7S","name":"script-generation-single-llm","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"script-generation","responseMode":"responseNode","options":{}},"id":"3ac70054-bb36-4cbb-8223-14567ad1a9fc","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[48,48],"webhookId":"fc5f5230-ba22-46a3-8a13-a958651b6ed0"},{"parameters":{"assignments":{"assignments":[{"name":"contentIdeaId","value":"={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}","type":"number"},{"name":"topic","value":"={{ String($json.body.topic || $json.topic || '').trim() }}","type":"string"},{"name":"category","value":"={{ String($json.body.category || $json.category || '').trim() }}","type":"string"},{"name":"workflowRunId","value":"={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}","type":"number"}]},"options":{}},"id":"c4fe4465-afb5-42fa-9f61-6de828f76a0d","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,48]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.GROQ_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.7, messages: [ { role: 'system', content: 'Tu generes du contenu TikTok. Retourne uniquement un JSON valide avec les cles script, caption, background_keyword.' }, { role: 'user', content: 'Categorie: ' + $json.category + '\\nTopic: ' + $json.topic + '\\nContraintes:\\n- script: francais, naturel, court, pret pour une video TikTok\\n- caption: concise avec hashtags\\n- background_keyword: un seul mot-cle visuel exploitable\\nRetourne uniquement le JSON.' } ] }) }}","options":{}},"id":"e2440650-2651-4feb-9c9b-0846a2410278","name":"HTTP Request Groq","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[576,48]},{"parameters":{"jsCode":"const raw = String($json.choices?.[0]?.message?.content || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i,'').replace(/^```/i,'').replace(/```$/i,'').trim();\nlet parsed;\ntry { parsed = JSON.parse(cleaned); } catch(e) { throw new Error('Reponse LLM non parseable: ' + cleaned.slice(0,200)); }\nreturn [{ json: { contentIdeaId: Number($('Set Input').item.json.contentIdeaId||0), workflowRunId: Number($('Set Input').item.json.workflowRunId||0), script: String(parsed.script||'').trim(), caption: String(parsed.caption||'').trim(), background_keyword: String(parsed.background_keyword||'').trim() } }];"},"id":"154d5fe5-fb66-4407-9174-56b33a75c5a4","name":"Parse JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,48]},{"parameters":{"method":"PATCH","url":"=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ scripts: $json.script, script_status: 'done', caption: $json.caption, background_keyword: $json.background_keyword, pipeline_status: 'script_ready' }) }}","options":{}},"id":"b5c9f615-ac01-4ef0-8916-f3f0edde2bef","name":"Backend Update Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1136,48]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Parse JSON').item.json.contentIdeaId, workflowRunId: $('Parse JSON').item.json.workflowRunId, status: 'script_ready' } }}","options":{"responseCode":200}},"id":"67e8591e-61f5-4b13-8239-db250d3153b7","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1376,48]},{"parameters":{"jsCode":"const http = require('http');\nconst { URL } = require('url');\nconst baseUrl = 'http://backend:8080';\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Parse JSON').item.json.workflowRunId || 0);\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({ status: 'SUCCEEDED', message: 'Script workflow termine.', responsePayload: JSON.stringify({ contentIdeaId: Number($(\"Parse JSON\").item.json.contentIdeaId || 0) }) });\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nlet response = null; let lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt++) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const rq = http.request({ hostname: url.hostname, port: url.port || 80, path: url.pathname + url.search, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body), 'X-Video-Ops-Callback-Secret': callbackSecret } }, (res) => { let data = ''; res.on('data', (c) => { data += c; }); res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data })); });\n      rq.on('error', reject); rq.write(body); rq.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback refuse: ' + response.statusCode;\n    if (attempt === 6) throw new Error(lastError);\n  } catch (e) { lastError = e.message; if (attempt === 6) throw e; }\n  await sleep(500 * attempt);\n}\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError || 'Callback refuse.');\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"},"id":"2dbff3cb-c846-46b0-a8d9-3208d9758d19","name":"Callback Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,48]}],"connections":{"Webhook":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"HTTP Request Groq","type":"main","index":0}]]},"HTTP Request Groq":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Parse JSON":{"main":[[{"node":"Backend Update Script","type":"main","index":0}]]},"Backend Update Script":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Callback Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"43199c55-f5db-48a0-8f48-e90d423fa5c4","activeVersionId":"43199c55-f5db-48a0-8f48-e90d423fa5c4","versionCounter":31,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-02T13:56:56.064Z","createdAt":"2026-05-02T13:56:56.064Z","role":"workflow:owner","workflowId":"aynirSUsBIS10A7S","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":"Version 43199c55","description":""}}]