n8n-local/check-live.json
{
  "updatedAt": "2026-05-02T13:48:24.882Z",
  "createdAt": "2026-05-02T00:00:00.000Z",
  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
  "name": "check-shotstack-fixed",
  "description": "Robust Shotstack render status check with error handling, retry, and idempotence",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-shotstack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-840, 100]
    },
    {
      "parameters": {
        "jsCode": "const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\n\nif (!contentIdeaId || contentIdeaId <= 0) {\n  throw new Error('contentIdeaId invalide ou manquant: ' + contentIdeaId);\n}\nif (!workflowRunId || workflowRunId <= 0) {\n  throw new Error('workflowRunId invalide ou manquant: ' + workflowRunId);\n}\n\nreturn [{ json: { contentIdeaId, workflowRunId } }];"
      },
      "id": "set-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "X-Video-Ops-Internal-Secret", "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]
        },
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 1000
          },
          "timeout": 20000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "get-idea",
      "name": "HTTP: Get Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-360, 100]
    },
    {
      "parameters": {
        "jsCode": "const idea = $json.body || $json;\nif (!idea || !idea.id) throw new Error('contentIdea introuvable ou invalide');\nif (idea.id !== Number($('Validate Input').item.json.contentIdeaId)) {\n  throw new Error('Mismatch: contentIdeaId does not match');\n}\nif (!idea.shotstack_render_id) throw new Error('Aucun shotstack_render_id pour cette contentIdea');\n\nconst status = String(idea.shotstack_status || '').toLowerCase();\nconst validStatuses = ['queued', 'rendering', 'preparing', 'done', 'failed', 'timeout'];\nif (!validStatuses.includes(status)) {\n  throw new Error('Invalid shotstack_status: ' + status);\n}\n\nif (!['queued', 'rendering', 'preparing'].includes(status)) {\n  return [{ json: { skip: true, reason: 'shotstack_status=' + status + ' — rien a faire', idea } }];\n}\n\nreturn [{ json: { skip: false, renderId: idea.shotstack_render_id, ideaId: idea.id, ideaStatus: idea.pipeline_status, idea } }];"
      },
      "id": "validate-render",
      "name": "Validate Render State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Skip if not pending",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [120, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/shotstack/render/' + $json.renderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "X-Video-Ops-Internal-Secret", "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]
        },
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 1000
          },
          "timeout": 20000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "shotstack-status",
      "name": "HTTP: Get Shotstack Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [360, 100]
    },
    {
      "parameters": {
        "jsCode": "const statusData = $json.body || $json;\nif (!statusData || !statusData.response) throw new Error('Invalid Shotstack response');\n\nconst status = String(statusData.response?.status || '').toLowerCase();\nconst ideaId = $('Validate Render State').item.json.ideaId;\nconst validStatuses = ['queued', 'rendering', 'preparing', 'done', 'failed', 'timeout'];\n\nif (!validStatuses.includes(status)) {\n  throw new Error('Invalid Shotstack status: ' + status);\n}\n\nif (status === 'done') {\n  if (!statusData.response?.url) throw new Error('No video URL in completed Shotstack response');\n  return [{ json: {\n    noUpdate: false,\n    ideaId,\n    patch: {\n      shotstack_status: 'done',\n      shotstack_url: statusData.response.url,\n      final_video_status: 'ready',\n      pipeline_status: 'render_ready'\n    },\n    callbackStatus: 'SUCCEEDED',\n    callbackMessage: 'Render Shotstack termine.'\n  } }];\n}\n\nif (status === 'failed' || status === 'timeout') {\n  return [{ json: {\n    noUpdate: false,\n    ideaId,\n    patch: {\n      shotstack_status: status,\n      final_video_status: 'failed',\n      pipeline_status: 'failed'\n    },\n    callbackStatus: 'FAILED',\n    callbackMessage: 'Render Shotstack en echec (' + status + ').'\n  } }];\n}\n\nreturn [{ json: {\n  noUpdate: true,\n  ideaId,\n  shotstackStatus: status,\n  message: 'Render Shotstack toujours en cours.'\n} }];"
      },
      "id": "map-update",
      "name": "Build Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pending-check",
              "leftValue": "={{ $json.noUpdate }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pending",
      "name": "Pending without update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [840, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.ideaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Video-Ops-Internal-Secret", "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patch) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 1000
          },
          "timeout": 20000
        }
      },
      "id": "update-row",
      "name": "HTTP: Update Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1080, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Validate Input').item.json.contentIdeaId, shotstackStatus: $('Build Update Payload').item.json.patch.shotstack_status } }}",
        "options": {"responseCode": 200}
      },
      "id": "respond",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Validate Input').item.json.contentIdeaId, pending: true, shotstackStatus: $json.shotstackStatus, message: $json.message } }}",
        "options": {"responseCode": 200}
      },
      "id": "respond-pending",
      "name": "Respond: Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1080, 280]
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst status = $json.callbackStatus;\nconst message = $json.callbackMessage;\nconst contentIdeaId = $json.ideaId;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing config for callback');\n}\n\nconst body = JSON.stringify({\n  status: status,\n  message: message,\n  responsePayload: JSON.stringify({\n    contentIdeaId: contentIdeaId,\n    shotstackStatus: $json.patch?.shotstack_status\n  })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 3;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(err);\n      }\n    });\n\n    req.setTimeout(20000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        reject(new Error('Callback timeout'));\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Callback failed: ' + response.statusCode + ' ' + response.body);\n}\n\nreturn [{ json: { ok: true, callbackStatusCode: response.statusCode } }];"
      },
      "id": "callback",
      "name": "Callback: Backend (with retry)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Validate Input').item.json.contentIdeaId, skipped: true, reason: $('Validate Render State').item.json.reason } }}",
        "options": {"responseCode": 200}
      },
      "id": "respond-skip",
      "name": "Respond: Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [360, 300]
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst contentIdeaId = Number($('Validate Input').item.json.contentIdeaId || 0);\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config for error callback' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Shotstack check failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve, reject) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed: ' + err.message });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)', statusCode: response.statusCode } }];"
      },
      "id": "callback-error",
      "name": "Callback: Error (best effort)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.message || 'Unknown error' } }}",
        "options": {"responseCode": 500}
      },
      "id": "respond-error",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [600, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Validate Input", "type": "main", "index": 0}]]
    },
    "Validate Input": {
      "main": [[{"node": "HTTP: Get Content Idea", "type": "main", "index": 0}]],
      "error": [[{"node": "Callback: Error (best effort)", "type": "main", "index": 0}]]
    },
    "HTTP: Get Content Idea": {
      "main": [[{"node": "Validate Render State", "type": "main", "index": 0}]],
      "error": [[{"node": "Callback: Error (best effort)", "type": "main", "index": 0}]]
    },
    "Validate Render State": {
      "main": [[{"node": "Skip if not pending", "type": "main", "index": 0}]],
      "error": [[{"node": "Callback: Error (best effort)", "type": "main", "index": 0}]]
    },
    "Skip if not pending": {
      "main": [
        [{"node": "Respond: Skipped", "type": "main", "index": 0}],
        [{"node": "HTTP: Get Shotstack Status", "type": "main", "index": 0}]
      ]
    },
    "HTTP: Get Shotstack Status": {
      "main": [[{"node": "Build Update Payload", "type": "main", "index": 0}]],
      "error": [[{"node": "Callback: Error (best effort)", "type": "main", "index": 0}]]
    },
    "Build Update Payload": {
      "main": [[{"node": "Pending without update?", "type": "main", "index": 0}]],
      "error": [[{"node": "Callback: Error (best effort)", "type": "main", "index": 0}]]
    },
    "Pending without update?": {
      "main": [
        [{"node": "Respond: Pending", "type": "main", "index": 0}],
        [{"node": "HTTP: Update Content Idea", "type": "main", "index": 0}]
      ]
    },
    "HTTP: Update Content Idea": {
      "main": [[{"node": "Respond: Success", "type": "main", "index": 0}]],
      "error": [[{"node": "Callback: Error (best effort)", "type": "main", "index": 0}]]
    },
    "Respond: Success": {
      "main": [[{"node": "Callback: Backend (with retry)", "type": "main", "index": 0}]]
    },
    "Callback: Backend (with retry)": {
      "main": [],
      "error": [[{"node": "Callback: Error (best effort)", "type": "main", "index": 0}]]
    },
    "Respond: Skipped": {
      "main": []
    },
    "Callback: Error (best effort)": {
      "main": [[{"node": "Respond: Error", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {"templateCredsSetupCompleted": true}
}
