n8n-local/creation-live.json
{
  "updatedAt": "2026-04-30T01:59:33.000Z",
  "createdAt": "2026-04-30T01:59:00.930Z",
  "id": "7d540770-0aa9-419f-a5ed-618d6bccb605",
  "name": "creation-ideas",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "creation-ideas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1080,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst category = String(body.category || '').trim();\nconst ideaCount = Number(body.ideaCount || 1);\nif (!category) throw new Error('category est obligatoire');\nif (!Number.isInteger(ideaCount) || ideaCount < 1 || ideaCount > 5) throw new Error('ideaCount doit etre entre 1 et 5');\nreturn [{ json: { category, ideaCount, workflowRunId: Number(body.workflowRunId || 0), template_id: body.templateId || null, tiktok_account_open_id: body.tiktokAccountOpenId || null } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn Array.from({ length: input.ideaCount }).map((_, index) => ({ json: { ...input, iteration: index + 1 } }));"
      },
      "id": "expand",
      "name": "Expand Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.1-8b-instant', messages: [ { role: 'user', content: 'Generate exactly one TikTok content idea for category ' + $json.category + '. Return only the idea text, no numbering, no explanation.' } ] } }}",
        "options": {}
      },
      "id": "groq",
      "name": "HTTP Request Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -340,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { topic: String($json.choices?.[0]?.message?.content || '').trim(), category: $('Expand Ideas').item.json.category, workflowRunId: $('Expand Ideas').item.json.workflowRunId, template_id: $('Expand Ideas').item.json.template_id, tiktok_account_open_id: $('Expand Ideas').item.json.tiktok_account_open_id } }];"
      },
      "id": "normalize",
      "name": "Normalize Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.APP_VIDEO_OPS_SUPABASE_URL || '') + '/rest/v1/content_ideas' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "new"
            },
            {
              "name": "topic",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "pipeline_status",
              "value": "idea_created"
            },
            {
              "name": "publish_status",
              "value": "draft"
            },
            {
              "name": "platform",
              "value": "tiktok"
            },
            {
              "name": "template_id",
              "value": "={{ $json.template_id }}"
            },
            {
              "name": "tiktok_account_open_id",
              "value": "={{ $json.tiktok_account_open_id }}"
            },
            {
              "name": "category",
              "value": "={{ $json.category }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-row",
      "name": "HTTP Request Create Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        140,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst workflowRunId = Number($('Validate Input').first().json.workflowRunId || 0);\nreturn [{ json: { workflowRunId, createdCount: items.length } }];"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Summarize').item.json.workflowRunId || 0);\nif (!baseUrl) throw new Error('APP_VIDEO_OPS_BACKEND_BASE_URL manquante');\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: \"Creation ideas terminee.\",\n  responsePayload: JSON.stringify({ createdCount: Number($json.createdCount || 0) }),\n});\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\nconst sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt += 1) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n        },\n      }, (res) => {\n        let data = '';\n        res.on('data', (chunk) => { data += chunk; });\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n      });\n      req.on('error', reject);\n      req.write(body);\n      req.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) {\n      break;\n    }\n    lastError = 'Callback backend refuse: ' + response.statusCode + ' ' + response.body;\n    if (response.statusCode !== 404 || attempt === 6) {\n      throw new Error(lastError);\n    }\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt === 6) {\n      throw error;\n    }\n  }\n  await sleep(500 * attempt);\n}\nif (!response || response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error(lastError || 'Callback backend refuse.');\n}\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"
      },
      "id": "callback",
      "name": "Callback Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, workflowRunId: $('Summarize').item.json.workflowRunId, createdCount: $('Summarize').item.json.createdCount, status: 'idea_created' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        860,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Expand Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Ideas": {
      "main": [
        [
          {
            "node": "HTTP Request Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Idea": {
      "main": [
        [
          {
            "node": "Normalize Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Topic": {
      "main": [
        [
          {
            "node": "HTTP Request Create Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": []
    },
    "HTTP Request Create Row": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3d0f9d66-a6ed-4889-86dd-b08664496a92",
  "activeVersionId": "3d0f9d66-a6ed-4889-86dd-b08664496a92",
  "versionCounter": 7,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-30T01:59:00.933Z",
      "createdAt": "2026-04-30T01:59:00.933Z",
      "role": "workflow:owner",
      "workflowId": "7d540770-0aa9-419f-a5ed-618d6bccb605",
      "projectId": "FguAIXCXAEmDp8ri",
      "project": {
        "updatedAt": "2026-04-30T01:59:12.417Z",
        "createdAt": "2026-04-30T01:11:03.676Z",
        "id": "FguAIXCXAEmDp8ri",
        "name": "naib youssef <youssefnaib47@icloud.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "decd1a7a-b0c1-416f-86c4-a90b89c828b7"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}