n8n-local/init-live-export.json
[{"updatedAt":"2026-04-30T02:49:50.000Z","createdAt":"2026-04-30T01:59:00.936Z","id":"e42c717c-5ced-4501-a1b9-4fdc43b3f54d","name":"init-publish-tiktok-fixed-migrated","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"init-publish-tiktok","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1180,120]},{"parameters":{"assignments":{"assignments":[{"name":"contentIdeaId","value":"={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}","type":"number"},{"name":"workflowRunId","value":"={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}","type":"number"}]},"options":{}},"id":"set-input","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,120]},{"parameters":{"method":"GET","url":"={{ String($env.APP_VIDEO_OPS_SUPABASE_URL || '').replace(/\\/+$/, '') + '/rest/v1/content_ideas?id=eq.' + $json.contentIdeaId + '&select=*&limit=1' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"}]},"options":{}},"id":"get-idea","name":"Supabase Get Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-700,120]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok/account-context' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tiktokAccountOpenId","value":"={{ $('Supabase Get Content Idea').item.json.tiktok_account_open_id }}"},{"name":"includeCreatorInfo","value":"true"}]},"options":{}},"id":"account-context","name":"HTTP Request Account Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-460,120]},{"parameters":{"method":"POST","url":"https://open.tiktokapis.com/v2/post/publish/creator_info/query/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=UTF-8"},{"name":"Authorization","value":"={{ 'Bearer ' + $('HTTP Request Account Context').item.json.accessToken }}"}]},"options":{}},"id":"creator-info","name":"HTTP Request Creator Info","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-220,120]},{"parameters":{"method":"HEAD","url":"={{ $('Supabase Get Content Idea').item.json[0].shotstack_url }}","options":{"response":{"response":{"fullResponse":true}}}},"id":"video-head","name":"HTTP Request Video Head","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[20,120]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok/init-publish-context' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"contentIdeaId","value":"={{ $json.contentIdeaId }}"},{"name":"tiktokAccountOpenId","value":"={{ $('HTTP Request Account Context').item.json.tiktokAccountOpenId }}"},{"name":"accessToken","value":"={{ $('HTTP Request Account Context').item.json.accessToken }}"},{"name":"creatorInfo","value":"={{ $('HTTP Request Creator Info').item.json }}"},{"name":"videoUrl","value":"={{ $('Supabase Get Content Idea').item.json[0].shotstack_url }}"},{"name":"videoSize","value":"={{ $('HTTP Request Video Head').item.headers['content-length'] }}"}]},"options":{}},"id":"init-publish","name":"HTTP Request Init Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[260,120]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_SUPABASE_URL || '').replace(/\\/+$/, '') + '/rest/v1/content_ideas?id=eq.' + $('Supabase Get Content Idea').item.json[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.APP_VIDEO_OPS_SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tiktok_publish_id","value":"={{ $('HTTP Request Init Publish').item.json.data?.publish_id || '' }}"},{"name":"tiktok_upload_url","value":"={{ $('HTTP Request Init Publish').item.json.data?.upload_url || '' }}"},{"name":"tiktok_upload_status","value":"init_done"},{"name":"publish_status","value":"draft"}]},"options":{}},"id":"update-idea","name":"Supabase Update Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[500,120]},{"parameters":{"method":"POST","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/workflow-runs/' + $json.workflowRunId + '/complete' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Callback-Secret","value":"={{ $env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { status: 'SUCCEEDED', message: 'Init publish TikTok termine.', responsePayload: JSON.stringify({ contentIdeaId: $('Supabase Get Content Idea').item.json[0].id, uploadUrl: $('HTTP Request Init Publish').item.json.data?.upload_url }) } }}","options":{}},"id":"callback","name":"Callback Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[740,120]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Supabase Get Content Idea').item.json[0].id, publishId: $('HTTP Request Init Publish').item.json.data?.publish_id, uploadUrl: $('HTTP Request Init Publish').item.json.data?.upload_url, status: 'init_done' } }}","options":{"responseCode":200}},"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[980,120]}],"connections":{"Webhook":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"Supabase Get Content Idea","type":"main","index":0}]]},"Supabase Get Content Idea":{"main":[[{"node":"HTTP Request Account Context","type":"main","index":0}]]},"HTTP Request Account Context":{"main":[[{"node":"HTTP Request Creator Info","type":"main","index":0}]]},"HTTP Request Creator Info":{"main":[[{"node":"HTTP Request Video Head","type":"main","index":0}]]},"HTTP Request Video Head":{"main":[[{"node":"HTTP Request Init Publish","type":"main","index":0}]]},"HTTP Request Init Publish":{"main":[[{"node":"Supabase Update Content Idea","type":"main","index":0}]]},"Supabase Update Content Idea":{"main":[[{"node":"Callback Success","type":"main","index":0}]]},"Callback Success":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"914ad324-0401-47c7-927d-48a8d9dd0b62","activeVersionId":"914ad324-0401-47c7-927d-48a8d9dd0b62","versionCounter":28,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-30T01:59:00.939Z","createdAt":"2026-04-30T01:59:00.939Z","role":"workflow:owner","workflowId":"e42c717c-5ced-4501-a1b9-4fdc43b3f54d","projectId":"FguAIXCXAEmDp8ri","project":{"updatedAt":"2026-04-30T01:59:12.417Z","createdAt":"2026-04-30T01:11:03.676Z","id":"FguAIXCXAEmDp8ri","name":"naib youssef <youssefnaib47@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"decd1a7a-b0c1-416f-86c4-a90b89c828b7"}}],"versionMetadata":{"name":null,"description":null}}]