n8n-local/init-live.json
{
  "name": "init-publish-tiktok-fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "init-publish-tiktok",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fb3c2a77-9dec-4e5f-9c8b-44fdba8d23c7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "e6ee4c2b-55aa-4e5c-854d-429e9be288fa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "contentIdeaId",
              "value": "={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}",
              "type": "number"
            },
            {
              "name": "workflowRunId",
              "value": "={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a2add197-6e82-4c78-b395-6607b1f99ee7",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok/init-publish-context' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contentIdeaId: Number($('Set Input').item.json.contentIdeaId || 0) } }}",
        "options": {}
      },
      "id": "d79d93a2-4b6d-4b70-b53d-93e0e3c9ec11",
      "name": "HTTP Request Init Publish Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $('HTTP Request Init Publish Context').item.json.shotstackUrl }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a655a04f-14ae-4a6d-a48e-6f778d4daa0c",
      "name": "HTTP Request Video Head",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('HTTP Request Init Publish Context').item.json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json; charset=UTF-8",
        "body": "={{ JSON.stringify({ post_info: { title: String($('HTTP Request Init Publish Context').item.json.title || '').trim().slice(0, 150), privacy_level: $('HTTP Request Init Publish Context').item.json.selectedPrivacyLevel || 'SELF_ONLY', disable_duet: true, disable_comment: false, disable_stitch: true, video_cover_timestamp_ms: 1000 }, source_info: { source: 'FILE_UPLOAD', video_size: Number($('HTTP Request Video Head').item.json.headers['content-length'] || 0), chunk_size: Number($('HTTP Request Video Head').item.json.headers['content-length'] || 0), total_chunk_count: 1 } }) }}",
        "options": {}
      },
      "id": "ceae3010-2b20-4960-9597-bd8f1efb9443",
      "name": "HTTP Request Init Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('HTTP Request Init Publish Context').item.json.contentIdeaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tiktok_publish_id: $json.data?.publish_id, tiktok_upload_url: $json.data?.upload_url, tiktok_upload_status: 'init_done', publish_status: 'draft' }) }}",
        "options": {}
      },
      "id": "9e88f4e0-0e04-4c2f-b715-00aa579f1169",
      "name": "Backend Update Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { URL } = require('url');\nconst baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Set Input').item.json.workflowRunId || 0);\nif (!baseUrl) throw new Error('APP_VIDEO_OPS_BACKEND_BASE_URL manquante');\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Init publish TikTok termine.',\n  responsePayload: JSON.stringify({\n    contentIdeaId: Number($('HTTP Request Init Publish Context').item.json.contentIdeaId || 0),\n    publishId: $('HTTP Request Init Publish').item.json.data?.publish_id || '',\n    uploadUrl: $('HTTP Request Init Publish').item.json.data?.upload_url || ''\n  })\n});\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst response = await new Promise((resolve, reject) => {\n  const req = http.request({\n    hostname: url.hostname,\n    port: url.port || 80,\n    path: url.pathname + url.search,\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Content-Length': Buffer.byteLength(body),\n      'X-Video-Ops-Callback-Secret': callbackSecret\n    }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Callback refuse: ' + response.statusCode + ' ' + response.body);\n}\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"
      },
      "id": "bf149218-e9ac-42c8-be8c-5b859ce68245",
      "name": "Callback Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('HTTP Request Init Publish Context').item.json.contentIdeaId, publishId: $('HTTP Request Init Publish').item.json.data?.publish_id || '', uploadUrl: $('HTTP Request Init Publish').item.json.data?.upload_url || '', status: 'init_done' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "df135baa-bf2a-48af-8812-d42b3204a979",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1680,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "HTTP Request Init Publish Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Init Publish Context": {
      "main": [
        [
          {
            "node": "HTTP Request Video Head",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Video Head": {
      "main": [
        [
          {
            "node": "HTTP Request Init Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Init Publish": {
      "main": [
        [
          {
            "node": "Backend Update Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Update Content Idea": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
