n8n-local/script-with-id.json
{"name":"script-generation-maintainable","description":"Script generation with reduced critical logic and clear error paths","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"script-generation","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"script-webhook"},{"parameters":{"assignments":{"assignments":[{"name":"contentIdeaId","value":"={{ Number($json.body?.contentIdeaId || $json.contentIdeaId || 0) }}","type":"number"},{"name":"topic","value":"={{ String($json.body?.topic || $json.topic || '').trim() }}","type":"string"},{"name":"category","value":"={{ String($json.body?.category || $json.category || '').trim().replace(/^null$/i, '') }}","type":"string"},{"name":"workflowRunId","value":"={{ Number($json.body?.workflowRunId || $json.workflowRunId || 0) }}","type":"number"}]},"options":{}},"id":"extract-input","name":"Extract Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond1","leftValue":"={{ Number($json.contentIdeaId || 0) > 0 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"cond2","leftValue":"={{ !!($json.topic && $json.topic.length > 0) }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"cond3","leftValue":"={{ !!($json.category && $json.category.length > 0) }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"cond4","leftValue":"={{ Number($json.workflowRunId || 0) > 0 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"validate-inputs","name":"Validate Inputs","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.GROQ_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.6, max_tokens: 500, messages: [ { role: 'system', content: 'Tu es un expert en création de contenu viral TikTok. Tu generes des scripts courts, punchant et optimisés pour mobile. Retourne UNIQUEMENT un JSON valide sans markdown.' }, { role: 'user', content: 'Categorie: ' + $json.category + '\\nTopic: ' + $json.topic + '\\n\\nGenere un script TikTok professionnel:\\n- Script: 1-3 phrases courtes et impactantes, francais naturel et conversationnel\\n- Caption: 1-2 phrases accrochantes avec 2-3 hashtags pertinents\\n- Hook: une premiere phrase engageante pour accrocher en 1s\\n- Tone: professionnel mais accessible\\n\\nRetourne ce JSON exactement:\\n{\"script\":\"...\",\"caption\":\"...\",\"hook\":\"...\",\"background_keyword\":\"...\"}' } ] }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":30000}},"id":"call-groq","name":"Call Groq API","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[720,0],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const raw = String($json.choices?.[0]?.message?.content || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM_PARSE_ERROR: ' + e.message);\n}\n\nif (!parsed.script) throw new Error('LLM_MISSING_FIELD: script');\nif (!parsed.caption) throw new Error('LLM_MISSING_FIELD: caption');\nif (!parsed.hook) throw new Error('LLM_MISSING_FIELD: hook');\n\nreturn [{ json: { script: parsed.script, caption: parsed.caption, hook: parsed.hook, background_keyword: parsed.background_keyword || '' } }];"},"id":"parse-llm-response","name":"Parse LLM Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0]},{"parameters":{"assignments":{"assignments":[{"name":"script","value":"={{ String($json.script || '').trim().slice(0, 300) }}","type":"string"},{"name":"caption","value":"={{ String($json.caption || '').trim().slice(0, 150) }}","type":"string"},{"name":"hook","value":"={{ String($json.hook || '').trim().slice(0, 100) }}","type":"string"},{"name":"background_keyword","value":"={{ String($json.background_keyword || '').trim().slice(0, 50) }}","type":"string"},{"name":"contentIdeaId","value":"={{ $('Extract Input').item.json.contentIdeaId }}","type":"number"},{"name":"workflowRunId","value":"={{ $('Extract Input').item.json.workflowRunId }}","type":"number"}]},"options":{}},"id":"normalize-output","name":"Normalize Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"script_length","leftValue":"={{ ($json.script || '').length >= 10 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"caption_length","leftValue":"={{ ($json.caption || '').length >= 5 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true},{"id":"hook_length","leftValue":"={{ ($json.hook || '').length >= 5 }}","operator":{"type":"boolean","operation":"equals"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"validate-output","name":"Validate Output Quality","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,0]},{"parameters":{"method":"PATCH","url":"={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.contentIdeaId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Video-Ops-Internal-Secret","value":"={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ scripts: $json.script, script_status: 'done', script_hook: $json.hook, caption: $json.caption, background_keyword: $json.background_keyword, pipeline_status: 'script_ready', llm_model: 'llama-3.3-70b-versatile' }) }}","options":{"retry":{"maxRetries":2,"delayMultiplier":2,"initialDelay":1000},"timeout":20000}},"id":"save-backend","name":"Save to Backend","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,0],"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, contentIdeaId: $('Normalize Output').item.json.contentIdeaId, status: 'script_ready', hook: $('Normalize Output').item.json.hook, script_length: ($('Normalize Output').item.json.script || '').length } }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1920,0]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Normalize Output').item.json.workflowRunId || 0);\nconst contentIdeaId = Number($('Normalize Output').item.json.contentIdeaId || 0);\nconst scriptLength = ($('Normalize Output').item.json.script || '').length;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Script generation complete.',\n  responsePayload: JSON.stringify({ contentIdeaId, scriptLength })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet attempts = 0;\nconst maxAttempts = 2;\n\nconst makeRequest = () => {\n  return new Promise((resolve, reject) => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      res.on('data', () => {});\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0 }));\n    });\n\n    req.on('error', (err) => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(() => makeRequest().then(resolve).catch(reject), Math.pow(2, attempts) * 1000);\n      } else {\n        reject(err);\n      }\n    });\n\n    req.setTimeout(10000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(() => makeRequest().then(resolve).catch(reject), Math.pow(2, attempts) * 1000);\n      } else {\n        reject(new Error('Callback timeout'));\n      }\n    });\n\n    req.write(body);\n    req.end();\n  });\n};\n\nconst response = await makeRequest();\nif (response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error('Success callback failed: ' + response.statusCode);\n}\n\nreturn [{ json: { ok: true, statusCode: response.statusCode, contentIdeaId, workflowRunId } }];"},"id":"callback-success","name":"Callback Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,0]},{"parameters":{"jsCode":"const contentIdeaId = Number($('Extract Input')?.item?.json?.contentIdeaId || 0);\nconst workflowRunId = Number($('Extract Input')?.item?.json?.workflowRunId || 0);\nconst error = $json;\nlet errorMsg = 'Input validation failed';\n\nif (typeof error === 'string' && error.trim()) {\n  errorMsg = error;\n} else if (error?.message) {\n  errorMsg = String(error.message);\n} else if (error?.error) {\n  errorMsg = String(error.error);\n} else if (error && (error.contentIdeaId || error.topic || error.category || error.workflowRunId)) {\n  errorMsg = 'Input validation failed';\n}\n\nreturn [{ json: { contentIdeaId, workflowRunId, error: errorMsg, error_at: new Date().toISOString() } }];"},"id":"prepare-error","name":"Prepare Error Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,200]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\nconst contentIdeaId = Number($json.contentIdeaId || 0);\nconst errorMsg = String($json.error || 'Unknown error');\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { ok: false, error: errorMsg, statusCode: 0 } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Script generation failed: ' + errorMsg.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMsg.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet attempts = 0;\nconst maxAttempts = 2;\n\nconst makeRequest = () => {\n  return new Promise((resolve) => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      res.on('data', () => {});\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0 }));\n    });\n    \n    req.on('error', () => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(() => makeRequest().then(resolve), Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, error: 'Request failed' });\n      }\n    });\n    \n    req.setTimeout(10000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(() => makeRequest().then(resolve), Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0, error: 'Timeout' });\n      }\n    });\n    \n    req.write(body);\n    req.end();\n  });\n};\n\nconst response = await makeRequest();\nreturn [{ json: { ok: response.statusCode >= 200 && response.statusCode < 300, statusCode: response.statusCode, error: errorMsg, contentIdeaId, workflowRunId } }];"},"id":"callback-error","name":"Callback Error Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,200]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: $json.error, action: 'check_logs_and_retry' } }}","options":{"responseCode":500}},"id":"respond-error","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,200]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: false, error: 'Script quality failed (too short)', contentIdeaId: $json.contentIdeaId, action: 'review_llm_quality' } }}","options":{"responseCode":422}},"id":"respond-quality-error","name":"Respond Quality Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1440,200]},{"parameters":{"jsCode":"const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($json.workflowRunId || 0);\nconst contentIdeaId = Number($json.contentIdeaId || 0);\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { ok: false, contentIdeaId, workflowRunId } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Script output quality validation failed',\n  responsePayload: JSON.stringify({ contentIdeaId, reason: 'output_too_short' })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nlet attempts = 0;\nconst maxAttempts = 2;\n\nconst makeRequest = () => {\n  return new Promise((resolve) => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      res.on('data', () => {});\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0 }));\n    });\n    \n    req.on('error', () => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(() => makeRequest().then(resolve), Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0 });\n      }\n    });\n    \n    req.setTimeout(10000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(() => makeRequest().then(resolve), Math.pow(2, attempts) * 1000);\n      } else {\n        resolve({ statusCode: 0 });\n      }\n    });\n    \n    req.write(body);\n    req.end();\n  });\n};\n\nconst response = await makeRequest();\nreturn [{ json: { ok: response.statusCode >= 200 && response.statusCode < 300, contentIdeaId, workflowRunId } }];"},"id":"callback-quality-error","name":"Callback Quality Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,400]}],"connections":{"Webhook":{"main":[[{"node":"Extract Input","type":"main","index":0}]]},"Extract Input":{"main":[[{"node":"Validate Inputs","type":"main","index":0}]]},"Validate Inputs":{"main":[[{"node":"Call Groq API","type":"main","index":0}],[{"node":"Prepare Error Context","type":"main","index":0}]],"error":[[{"node":"Prepare Error Context","type":"main","index":0}]]},"Call Groq API":{"main":[[{"node":"Parse LLM Response","type":"main","index":0}],[{"node":"Prepare Error Context","type":"main","index":0}]]},"Parse LLM Response":{"main":[[{"node":"Normalize Output","type":"main","index":0}]],"error":[[{"node":"Prepare Error Context","type":"main","index":0}]]},"Normalize Output":{"main":[[{"node":"Validate Output Quality","type":"main","index":0}]]},"Validate Output Quality":{"main":[[{"node":"Save to Backend","type":"main","index":0}],[{"node":"Callback Quality Error","type":"main","index":0}]]},"Save to Backend":{"main":[[{"node":"Respond Success","type":"main","index":0}],[{"node":"Prepare Error Context","type":"main","index":0}]]},"Respond Success":{"main":[[{"node":"Callback Success","type":"main","index":0}]]},"Callback Success":{"main":[],"error":[[{"node":"Prepare Error Context","type":"main","index":0}]]},"Prepare Error Context":{"main":[[{"node":"Callback Error Handler","type":"main","index":0}]],"error":[[{"node":"Respond Error","type":"main","index":0}]]},"Callback Error Handler":{"main":[[{"node":"Respond Error","type":"main","index":0}]]},"Respond Error":{"main":[]},"Respond Quality Error":{"main":[]},"Callback Quality Error":{"main":[[{"node":"Respond Quality Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"pinData":{},"meta":{"templateCredsSetupCompleted":true},"id":"4bkv7WDZfakybrD3"}