docs/n8n-workflows/check-shotstack-fixed.json
{
  "name": "check-shotstack-fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-shotstack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -840,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "contentIdeaId",
              "value": "={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}",
              "type": "number"
            },
            {
              "name": "workflowRunId",
              "value": "={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.contentIdeaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "options": {}
      },
      "id": "get-idea",
      "name": "Backend Get Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -360,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const idea = $json;\nif (!idea || !idea.id) throw new Error('contentIdea introuvable.');\nif (!idea.shotstack_render_id) throw new Error('Aucun shotstack_render_id pour cette contentIdea.');\nconst status = String(idea.shotstack_status || '').toLowerCase();\nif (!['queued','rendering','preparing'].includes(status)) {\n  return [{ json: { skip: true, reason: 'shotstack_status=' + status + ' — rien a faire.', idea } }];\n}\nreturn [{ json: { skip: false, renderId: idea.shotstack_render_id, ideaId: idea.id, idea } }];"
      },
      "id": "validate-render",
      "name": "Validate Render State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Skip if not pending",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8080/api/video-ops/internal/shotstack/render/{{ $json.renderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "options": {}
      },
      "id": "shotstack-status",
      "name": "Backend Get Shotstack Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        360,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const status = String($json.response?.status || '').toLowerCase();\nconst ideaId = $('Validate Render State').item.json.ideaId;\nif (status === 'done') {\n  return [{ json: { ideaId, patch: { shotstack_status: 'done', shotstack_url: $json.response?.url || '', final_video_status: 'ready', pipeline_status: 'render_ready' }, callbackStatus: 'SUCCEEDED', callbackMessage: 'Render Shotstack termine.' } }];\n}\nif (status === 'failed') {\n  return [{ json: { ideaId, patch: { shotstack_status: 'failed', final_video_status: 'failed', pipeline_status: 'failed' }, callbackStatus: 'FAILED', callbackMessage: 'Render Shotstack en echec.' } }];\n}\nreturn [];"
      },
      "id": "map-update",
      "name": "Build Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.ideaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patch) }}",
        "options": {}
      },
      "id": "update-row",
      "name": "Backend Update Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        840,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Set Input').item.json.contentIdeaId, shotstackStatus: $('Build Update Payload').item.json.patch.shotstack_status } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1080,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8080/api/video-ops/workflow-runs/{{ $('Set Input').item.json.workflowRunId }}/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Callback-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $('Build Update Payload').item.json.callbackStatus, message: $('Build Update Payload').item.json.callbackMessage, responsePayload: JSON.stringify({ contentIdeaId: $('Set Input').item.json.contentIdeaId, shotstackStatus: $('Build Update Payload').item.json.patch.shotstack_status }) }) }}",
        "options": {}
      },
      "id": "callback",
      "name": "Callback Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1320,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Set Input').item.json.contentIdeaId, skipped: true, reason: $('Validate Render State').item.json.reason } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-skip",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        360,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "Backend Get Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Get Content Idea": {
      "main": [
        [
          {
            "node": "Validate Render State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Render State": {
      "main": [
        [
          {
            "node": "Skip if not pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if not pending": {
      "main": [
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backend Get Shotstack Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Get Shotstack Status": {
      "main": [
        [
          {
            "node": "Build Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Payload": {
      "main": [
        [
          {
            "node": "Backend Update Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Update Content Idea": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Callback Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Backend": {
      "main": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}