docs/n8n-workflows/check-shotstack-fixed.json
{
  "name": "check-shotstack-fixed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-840, 100]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "content_ideas",
        "filters": {
          "conditions": [
            {
              "keyName": "shotstack_render_id",
              "condition": "neq",
              "keyValue": "null"
            },
            {
              "keyName": "final_video_status",
              "condition": "eq",
              "keyValue": "processing"
            }
          ]
        }
      },
      "id": "get-renders",
      "name": "Supabase Get Pending Renders",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-600, 100],
      "credentials": {
        "supabaseApi": {
          "id": "replace-me",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => ['queued', 'rendering', 'preparing'].includes(String(item.json.shotstack_status || '').toLowerCase()));"
      },
      "id": "filter-status",
      "name": "Filter Valid Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 100]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.shotstack.io/v1/render/' + String($json.shotstack_render_id || '').trim() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.SHOTSTACK_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "shotstack-status",
      "name": "HTTP Request Shotstack Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-120, 100]
    },
    {
      "parameters": {
        "jsCode": "const status = String($json.response?.status || '').toLowerCase();\nconst base = $('Filter Valid Status').item.json;\nif (status === 'done') {\n  return [{ json: { id: base.id, shotstack_status: 'done', shotstack_url: $json.response?.url || '', final_video_status: 'ready', pipeline_status: 'render_ready' } }];\n}\nif (status === 'failed') {\n  return [{ json: { id: base.id, shotstack_status: 'failed', final_video_status: 'failed', pipeline_status: 'failed' } }];\n}\nreturn [];"
      },
      "id": "map-update",
      "name": "Build Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "content_ideas",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "shotstack_status",
              "fieldValue": "={{ $json.shotstack_status }}"
            },
            {
              "fieldId": "shotstack_url",
              "fieldValue": "={{ $json.shotstack_url || '' }}"
            },
            {
              "fieldId": "final_video_status",
              "fieldValue": "={{ $json.final_video_status }}"
            },
            {
              "fieldId": "pipeline_status",
              "fieldValue": "={{ $json.pipeline_status }}"
            }
          ]
        }
      },
      "id": "update-row",
      "name": "Supabase Update Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [360, 100],
      "credentials": {
        "supabaseApi": {
          "id": "replace-me",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Supabase Get Pending Renders", "type": "main", "index": 0 }]]
    },
    "Supabase Get Pending Renders": {
      "main": [[{ "node": "Filter Valid Status", "type": "main", "index": 0 }]]
    },
    "Filter Valid Status": {
      "main": [[{ "node": "HTTP Request Shotstack Status", "type": "main", "index": 0 }]]
    },
    "HTTP Request Shotstack Status": {
      "main": [[{ "node": "Build Update Payload", "type": "main", "index": 0 }]]
    },
    "Build Update Payload": {
      "main": [[{ "node": "Supabase Update Row", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
