docs/n8n-workflows/creation-ideas.json
{
  "name": "creation-ideas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "creation-ideas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1080,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst category = String(body.category || '').trim();\nconst ideaCount = Number(body.ideaCount || 1);\nif (!category) throw new Error('category est obligatoire');\nif (!Number.isInteger(ideaCount) || ideaCount < 1 || ideaCount > 5) throw new Error('ideaCount doit etre entre 1 et 5');\nreturn [{ json: { category, ideaCount, workflowRunId: Number(body.workflowRunId || 0), templateId: body.templateId || null, tiktokAccountOpenId: body.tiktokAccountOpenId || null } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn Array.from({ length: input.ideaCount }).map((_, i) => ({ json: { ...input, iteration: i + 1 } }));"
      },
      "id": "expand",
      "name": "Expand Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.1-8b-instant', messages: [ { role: 'user', content: 'Generate exactly one TikTok content idea for category ' + $json.category + '. Return only the idea text, no numbering, no explanation.' } ] } }}",
        "options": {}
      },
      "id": "groq",
      "name": "HTTP Request Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -340,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { topic: String($json.choices?.[0]?.message?.content || '').trim(), category: $('Expand Ideas').item.json.category, workflowRunId: $('Expand Ideas').item.json.workflowRunId, templateId: $('Expand Ideas').item.json.templateId, tiktokAccountOpenId: $('Expand Ideas').item.json.tiktokAccountOpenId } }];"
      },
      "id": "normalize",
      "name": "Normalize Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8080/api/video-ops/internal/content-ideas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ category: $json.category, topic: $json.topic, status: 'new', pipelineStatus: 'idea_created', publishStatus: 'draft', platform: 'tiktok', templateId: $json.templateId || null, tiktokAccountOpenId: $json.tiktokAccountOpenId || null }) }}",
        "options": {}
      },
      "id": "create-row",
      "name": "Backend Create Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        140,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst workflowRunId = Number($('Validate Input').first().json.workflowRunId || 0);\nreturn [{ json: { workflowRunId, createdCount: items.length } }];"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, workflowRunId: $('Summarize').item.json.workflowRunId, createdCount: $('Summarize').item.json.createdCount, status: 'idea_created' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        620,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { URL } = require('url');\nconst baseUrl = 'http://backend:8080';\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Summarize').item.json.workflowRunId || 0);\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({ status: 'SUCCEEDED', message: 'Creation ideas terminee.', responsePayload: JSON.stringify({ createdCount: Number($json.createdCount || 0) }) });\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nlet response = null; let lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt++) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const rq = http.request({ hostname: url.hostname, port: url.port || 80, path: url.pathname + url.search, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body), 'X-Video-Ops-Callback-Secret': callbackSecret } }, (res) => { let data = ''; res.on('data', (c) => { data += c; }); res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data })); });\n      rq.on('error', reject); rq.write(body); rq.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback refuse: ' + response.statusCode;\n    if (attempt === 6) throw new Error(lastError);\n  } catch (e) { lastError = e.message; if (attempt === 6) throw e; }\n  await sleep(500 * attempt);\n}\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError || 'Callback refuse.');\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"
      },
      "id": "callback",
      "name": "Callback Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Expand Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Ideas": {
      "main": [
        [
          {
            "node": "HTTP Request Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Idea": {
      "main": [
        [
          {
            "node": "Normalize Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Topic": {
      "main": [
        [
          {
            "node": "Backend Create Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Create Content Idea": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}