docs/n8n-workflows/render-template-video-with-callback.json
{
  "name": "render-template-video-with-callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-template-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -980,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "contentIdeaId",
              "value": "={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}",
              "type": "number"
            },
            {
              "name": "topic",
              "value": "={{ String($json.body.topic || $json.topic || '').trim() }}",
              "type": "string"
            },
            {
              "name": "script",
              "value": "={{ String($json.body.script || $json.script || '').trim() }}",
              "type": "string"
            },
            {
              "name": "caption",
              "value": "={{ String($json.body.caption || $json.caption || '').trim() }}",
              "type": "string"
            },
            {
              "name": "keyword",
              "value": "={{ String($json.body.keyword || $json.keyword || '').trim() }}",
              "type": "string"
            },
            {
              "name": "workflowRunId",
              "value": "={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.1-8b-instant', messages: [ { role: 'user', content: 'Create one realistic visual prompt for a vertical TikTok business video about: ' + $json.topic + '. One sentence only.' } ] }) }}",
        "options": {}
      },
      "id": "groq-prompt",
      "name": "HTTP Request Image Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -500,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{ (() => { const raw = String($('Set Input').item.json.keyword || $('Set Input').item.json.topic || 'business'); const q = raw.replace(/[^\\w\\s-]/g,' ').replace(/\\s+/g,' ').trim().split(' ').slice(0,4).join(' ') || 'business'; return 'https://api.pexels.com/videos/search?query=' + encodeURIComponent(q) + '&per_page=15&orientation=portrait'; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.PEXELS_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "pexels",
      "name": "HTTP Request Pexels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -260,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const videos = $json.videos || [];\nif (!videos.length) throw new Error('Aucune video Pexels retournee');\nconst isDirectPexels = (link) => { try { return new URL(link).hostname === 'videos.pexels.com'; } catch { return false; } };\nconst preferred = []; const fallback = [];\nfor (const video of videos) {\n  for (const file of video.video_files || []) {\n    if (!file || !file.link || file.file_type !== 'video/mp4') continue;\n    if (!isDirectPexels(file.link)) continue;\n    const width = Number(file.width || video.width || 0);\n    const height = Number(file.height || video.height || 0);\n    if (!width || !height || height <= width) continue;\n    const item = { link: file.link, width, height };\n    const isPref = (width===1080&&height===1920)||(width===720&&height===1280)||(width===540&&height===960);\n    if (isPref) { preferred.push(item); } else { fallback.push(item); }\n  }\n}\nconst pick = preferred[0] || fallback.sort((a,b)=>(b.height*b.width)-(a.height*a.width))[0];\nif (!pick) throw new Error('Aucune video portrait disponible sur videos.pexels.com. Essayez un autre keyword.');\nreturn [{ json: {\n  id: $('Set Input').item.json.contentIdeaId,\n  workflowRunId: $('Set Input').item.json.workflowRunId,\n  topic: $('Set Input').item.json.topic,\n  scripts: $('Set Input').item.json.script,\n  caption: $('Set Input').item.json.caption,\n  image_prompt: String($('HTTP Request Image Prompt').item.json.choices?.[0]?.message?.content || '').trim(),\n  background_video_url: pick.link\n} }];"
      },
      "id": "select-media",
      "name": "Select Portrait Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ shotstack_status: 'preparing', final_video_status: 'processing', render_payload: JSON.stringify($json), render_status: 'prepared', pipeline_status: 'rendering_requested' }) }}",
        "options": {}
      },
      "id": "update-preparing",
      "name": "Backend Update Preparing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8080/api/video-ops/internal/shotstack/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => {\n  const selected = $('Select Portrait Media').item.json;\n  const cleanText = (v) => String(v||'').normalize('NFKD').replace(/[^\\x20-\\x7E]/g,' ').replace(/\\s+/g,' ').trim().slice(0,120);\n  const lines = String(selected.scripts||'').split('\\n').map(l=>cleanText(l)).filter(Boolean);\n  const fallback = cleanText(selected.topic||$('Set Input').item.json.topic||'Video business');\n  const textLines = (lines.length?lines:[fallback]).slice(0,3);\n  const titleClips = textLines.map((line,i)=>({asset:{type:'title',text:line,style:'minimal',color:'#ffffff',background:'rgba(15,15,15,0.55)'},start:i*3,length:3,position:'center'}));\n  return {\n    timeline:{background:'#0f0f0f',tracks:[\n      {clips:[{asset:{type:'video',src:selected.background_video_url},start:0,length:15,fit:'cover'}]},\n      ...(titleClips.length?[{clips:titleClips}]:[])\n    ]},\n    output:{format:'mp4',aspectRatio:'9:16',resolution:'hd'}\n  };\n})()) }}",
        "options": {}
      },
      "id": "shotstack-render",
      "name": "HTTP Request Shotstack Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        460,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:8080/api/video-ops/internal/content-ideas/{{ $('Select Portrait Media').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ shotstack_render_id: $json.response?.id || $json.id, shotstack_status: 'queued', final_video_status: 'processing', pipeline_status: 'rendering_requested' }) }}",
        "options": {}
      },
      "id": "update-render-id",
      "name": "Backend Update Render Id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Set Input').item.json.contentIdeaId, shotstackRenderId: $('HTTP Request Shotstack Render').item.json.response?.id || $('HTTP Request Shotstack Render').item.json.id, status: 'render_requested' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        940,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { URL } = require('url');\nconst baseUrl = 'http://backend:8080';\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Set Input').item.json.workflowRunId || 0);\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({ status: 'SUCCEEDED', message: 'Render Shotstack demande.', responsePayload: JSON.stringify({ contentIdeaId: Number($('Set Input').item.json.contentIdeaId||0), shotstackRenderId: $('HTTP Request Shotstack Render').item.json.response?.id || $('HTTP Request Shotstack Render').item.json.id || '' }) });\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nlet response = null; let lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt++) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const rq = http.request({ hostname: url.hostname, port: url.port || 80, path: url.pathname + url.search, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body), 'X-Video-Ops-Callback-Secret': callbackSecret } }, (res) => { let data = ''; res.on('data', (c) => { data += c; }); res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data })); });\n      rq.on('error', reject); rq.write(body); rq.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback refuse: ' + response.statusCode;\n    if (attempt === 6) throw new Error(lastError);\n  } catch (e) { lastError = e.message; if (attempt === 6) throw e; }\n  await sleep(500 * attempt);\n}\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError || 'Callback refuse.');\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"
      },
      "id": "callback",
      "name": "Callback Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "HTTP Request Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request Pexels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Pexels": {
      "main": [
        [
          {
            "node": "Select Portrait Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Portrait Media": {
      "main": [
        [
          {
            "node": "Backend Update Preparing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Update Preparing": {
      "main": [
        [
          {
            "node": "HTTP Request Shotstack Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Shotstack Render": {
      "main": [
        [
          {
            "node": "Backend Update Render Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Update Render Id": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": []
    },
    "Callback Success": {
      "main": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}