docs/n8n-workflows/script-generation-single-llm.json
{
  "name": "script-generation-single-llm",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "script-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-script",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -840,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "contentIdeaId",
              "value": "={{ Number($json.body.contentIdeaId || $json.contentIdeaId || 0) }}",
              "type": "number"
            },
            {
              "name": "topic",
              "value": "={{ String($json.body.topic || $json.topic || '').trim() }}",
              "type": "string"
            },
            {
              "name": "category",
              "value": "={{ String($json.body.category || $json.category || '').trim() }}",
              "type": "string"
            },
            {
              "name": "workflowRunId",
              "value": "={{ Number($json.body.workflowRunId || $json.workflowRunId || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.7, messages: [ { role: 'system', content: 'Tu generes du contenu TikTok. Retourne uniquement un JSON valide avec les cles script, caption, background_keyword.' }, { role: 'user', content: 'Categorie: ' + $json.category + '\\nTopic: ' + $json.topic + '\\nContraintes:\\n- script: francais, naturel, court, pret pour une video TikTok\\n- caption: concise avec hashtags\\n- background_keyword: un seul mot-cle visuel exploitable\\nRetourne uniquement le JSON.' } ] }) }}",
        "options": {}
      },
      "id": "http-groq",
      "name": "HTTP Request Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.choices?.[0]?.message?.content || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i,'').replace(/^```/i,'').replace(/```$/i,'').trim();\nlet parsed;\ntry { parsed = JSON.parse(cleaned); } catch(e) { throw new Error('Reponse LLM non parseable: ' + cleaned.slice(0,200)); }\nreturn [{ json: { contentIdeaId: Number($('Set Input').item.json.contentIdeaId||0), workflowRunId: Number($('Set Input').item.json.workflowRunId||0), script: String(parsed.script||'').trim(), caption: String(parsed.caption||'').trim(), background_keyword: String(parsed.background_keyword||'').trim() } }];"
      },
      "id": "code-parse",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:8080/api/video-ops/internal/content-ideas/{{ $json.contentIdeaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "2nDq4MoyD9CVHiUq4toqv3_Rl2K05Eqs7Fpjf09iPuM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scripts: $json.script, script_status: 'done', caption: $json.caption, background_keyword: $json.background_keyword, pipeline_status: 'script_ready' }) }}",
        "options": {}
      },
      "id": "backend-update",
      "name": "Backend Update Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Parse JSON').item.json.contentIdeaId, workflowRunId: $('Parse JSON').item.json.workflowRunId, status: 'script_ready' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { URL } = require('url');\nconst baseUrl = 'http://backend:8080';\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Parse JSON').item.json.workflowRunId || 0);\nif (!callbackSecret) throw new Error('APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET manquante');\nif (!workflowRunId) throw new Error('workflowRunId manquant');\nconst body = JSON.stringify({ status: 'SUCCEEDED', message: 'Script workflow termine.', responsePayload: JSON.stringify({ contentIdeaId: Number($(\"Parse JSON\").item.json.contentIdeaId || 0) }) });\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nlet response = null; let lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt++) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const rq = http.request({ hostname: url.hostname, port: url.port || 80, path: url.pathname + url.search, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body), 'X-Video-Ops-Callback-Secret': callbackSecret } }, (res) => { let data = ''; res.on('data', (c) => { data += c; }); res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data })); });\n      rq.on('error', reject); rq.write(body); rq.end();\n    });\n    if (response.statusCode >= 200 && response.statusCode < 300) break;\n    lastError = 'Callback refuse: ' + response.statusCode;\n    if (attempt === 6) throw new Error(lastError);\n  } catch (e) { lastError = e.message; if (attempt === 6) throw e; }\n  await sleep(500 * attempt);\n}\nif (!response || response.statusCode < 200 || response.statusCode >= 300) throw new Error(lastError || 'Callback refuse.');\nreturn [{ json: { ...$json, callbackStatusCode: response.statusCode } }];"
      },
      "id": "callback-success",
      "name": "Callback Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "HTTP Request Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Groq": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Backend Update Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Update Script": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}