docs/n8n-workflows/tiktok-account-context-example.json
{
  "name": "tiktok-account-context-example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktok-account-context-example",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-account-context",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-760, 120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tiktokAccountOpenId",
              "value": "={{ String($json.body.tiktokAccountOpenId || $json.tiktokAccountOpenId || '').trim() }}",
              "type": "string"
            },
            {
              "name": "includeCreatorInfo",
              "value": "={{ Boolean($json.body.includeCreatorInfo ?? $json.includeCreatorInfo ?? true) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-500, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/tiktok/account-context' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tiktokAccountOpenId: $json.tiktokAccountOpenId, includeCreatorInfo: $json.includeCreatorInfo } }}",
        "options": {}
      },
      "id": "http-account-context",
      "name": "HTTP Request Account Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-200, 120]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  tiktokAccountOpenId: String($json.tiktokAccountOpenId || '').trim(),\n  tiktokAccessToken: String($json.accessToken || '').trim(),\n  tiktokAuthorizationHeader: [String($json.tokenType || 'Bearer').trim(), String($json.accessToken || '').trim()].filter(Boolean).join(' '),\n  tiktokScope: String($json.scope || '').trim(),\n  privacyLevelOptions: Array.isArray($json.privacyLevelOptions) ? $json.privacyLevelOptions : [],\n  selectedPrivacyLevel: String($json.selectedPrivacyLevel || '').trim()\n}}];"
      },
      "id": "map-output",
      "name": "Map Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, accountContext: $json } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [340, 120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "HTTP Request Account Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Account Context": {
      "main": [
        [
          {
            "node": "Map Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
