n8n-local/backup-before-codex-import/SAn6Iepn4rCpkHJg.json
{
  "updatedAt": "2026-05-04T15:33:58.127Z",
  "createdAt": "2026-04-30T02:10:00.000Z",
  "id": "SAn6Iepn4rCpkHJg",
  "name": "render-professional-quality",
  "description": "Professional quality video rendering with quality gates and advanced media selection",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-template-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -980,
        100
      ],
      "webhookId": "6cfd2b39-f9a6-4c0b-ab55-7f1b6d67518d"
    },
    {
      "parameters": {
        "jsCode": "const contentIdeaId = Number($json.body?.contentIdeaId || $json.contentIdeaId || 0);\nconst topic = String($json.body?.topic || $json.topic || '').trim();\nconst script = String($json.body?.script || $json.script || '').trim();\nconst derivedHook = String(script.split(/[.!?\\n]/)[0] || topic || '').trim();\nconst hook = String($json.body?.hook || $json.hook || derivedHook).trim().slice(0, 100);\nconst caption = String($json.body?.caption || $json.caption || '').trim();\nconst keyword = String($json.body?.keyword || $json.keyword || topic).trim();\nconst workflowRunId = Number($json.body?.workflowRunId || $json.workflowRunId || 0);\n\nif (!contentIdeaId || contentIdeaId <= 0) throw new Error('contentIdeaId invalide');\nif (!script) throw new Error('script manquant');\nif (!hook) throw new Error('hook manquant');\nif (!workflowRunId || workflowRunId <= 0) throw new Error('workflowRunId invalide');\n\nif (script.length > 500) throw new Error('script trop long');\n\nreturn [{ json: { contentIdeaId, topic, script, hook, caption, keyword, workflowRunId } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/groq/chat-completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.5, max_tokens: 150, messages: [ { role: 'system', content: 'Tu generes des descriptions visuelles professionnelles pour des videos TikTok business. Une seule phrase, concrete, prete pour synthese visuelle.' }, { role: 'user', content: 'Topic: ' + $json.topic + '\\nScript: ' + $json.script.slice(0, 100) + '\\nKeyword: ' + $json.keyword + '\\n\\nGenere UNE SEULE ligne descriptive de l\\'aesthetic visuel (modern, corporate, lifestyle, tech, etc) pour cette video.' } ] }) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 1000
          },
          "timeout": 20000
        }
      },
      "id": "groq-visual-prompt",
      "name": "HTTP: LLM Visual Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -500,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const aesthetic = String($json.choices?.[0]?.message?.content || '').trim().slice(0, 100);\nif (!aesthetic) throw new Error('Aesthetic description failed');\nreturn [{ json: { aesthetic } }];"
      },
      "id": "validate-aesthetic",
      "name": "Validate Aesthetic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{ (() => {\n  const raw = String($('Validate Input').item.json.keyword || $('Validate Input').item.json.topic || 'business');\n  const normalized = raw.replace(/[\"'&]/g, ' ').replace(/[^\\w\\s-]/g, ' ').replace(/\\s+/g, ' ').trim();\n  const query = (normalized || 'business').split(' ').slice(0, 4).join(' ') || 'business';\n  return 'https://api.pexels.com/videos/search?query=' + encodeURIComponent(query) + '&per_page=50&orientation=portrait';\n})() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.PEXELS_API_KEY }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 1000
          },
          "timeout": 20000
        }
      },
      "id": "pexels-search",
      "name": "HTTP: Pexels Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -40,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const videos = $json.videos || [];\nif (!videos.length) throw new Error('Aucune video Pexels trouvee');\n\nconst PEXELS_HOST = 'videos.pexels.com';\nconst MIN_DURATION = 5; // 5 secondes min\nconst MAX_DURATION = 60; // 60 secondes max\n\nconst extractHostname = (value) => {\n  const match = String(value || '').match(/^https?:\\/\\/([^\\/?#]+)/i);\n  return match ? match[1].toLowerCase() : '';\n};\n\nconst scoreVideo = (video, file) => {\n  const width = Number(file.width || video.width || 0);\n  const height = Number(file.height || video.height || 0);\n  const duration = Number(video.duration || 0);\n  const hostname = extractHostname(file.link);\n  \n  let score = 0;\n  \n  // Host preference (Pexels direct = +100)\n  if (hostname === PEXELS_HOST) score += 100;\n  else score += 30;\n  \n  // Portrait format (height > width)\n  if (height > width) score += 50;\n  else return 0; // Reject landscape\n  \n  // Resolution preference (1080x1920 ideal)\n  if (width === 1080 && height === 1920) score += 150;\n  else if (width === 720 && height === 1280) score += 100;\n  else if (width === 540 && height === 960) score += 50;\n  else if (width > 1080) score += 80;\n  else if (width > 540) score += 60;\n  else score += 20;\n  \n  // Duration preference (8-20 secondes = optimal)\n  if (duration >= MIN_DURATION && duration <= MAX_DURATION) {\n    const ideal = duration <= 15 ? 150 : duration <= 30 ? 120 : 80;\n    score += ideal;\n  } else return 0; // Reject too short or too long\n  \n  // File type (mp4 is standard)\n  if (file.file_type === 'video/mp4') score += 40;\n  \n  return score;\n};\n\nconst candidates = [];\nfor (const video of videos) {\n  for (const file of video.video_files || []) {\n    if (!file?.link) continue;\n    const score = scoreVideo(video, file);\n    if (score > 0) {\n      candidates.push({\n        link: file.link,\n        width: Number(file.width || video.width || 0),\n        height: Number(file.height || video.height || 0),\n        duration: Number(video.duration || 0),\n        photographer: video.user?.name || 'Unknown',\n        score\n      });\n    }\n  }\n}\n\nif (!candidates.length) throw new Error('Aucune video portrait de qualite trouvee');\n\ncandidates.sort((a, b) => b.score - a.score);\n\nconst selected = candidates[0];\nif (selected.score < 50) throw new Error('Media quality too low (score: ' + selected.score + ')');\n\nreturn [{ json: {\n  id: $('Validate Input').item.json.contentIdeaId,\n  workflowRunId: $('Validate Input').item.json.workflowRunId,\n  topic: $('Validate Input').item.json.topic,\n  script: $('Validate Input').item.json.script,\n  hook: $('Validate Input').item.json.hook,\n  caption: $('Validate Input').item.json.caption,\n  aesthetic: $('Validate Aesthetic').item.json.aesthetic,\n  background_video_url: selected.link,\n  media_score: selected.score,\n  media_quality: selected.score > 200 ? 'premium' : selected.score > 100 ? 'high' : 'standard',\n  media_duration: selected.duration,\n  media_resolution: selected.width + 'x' + selected.height\n} }];"
      },
      "id": "select-media-scored",
      "name": "Select Media (Scored)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ shotstack_status: 'preparing', final_video_status: 'processing', render_payload: JSON.stringify($json), render_status: 'prepared', pipeline_status: 'rendering_requested', media_quality: $json.media_quality, media_score: $json.media_score }) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 1000
          },
          "timeout": 20000
        }
      },
      "id": "update-preparing",
      "name": "HTTP: Update Preparing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        460,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/shotstack/render' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => {\n  const selected = $('Select Media (Scored)').item.json;\n  const cleanText = (value) => String(value || '').normalize('NFKD').replace(/[^\\x20-\\x7E]/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 120);\n  const scriptLines = String(selected.script || '').split('\\n').map((line) => cleanText(line)).filter(Boolean);\n  const fallbackTopic = cleanText(selected.topic || 'Video business');\n  const textLines = [];\n  if (selected.hook) textLines.push(cleanText(selected.hook));\n  for (const line of scriptLines) {\n    if (!textLines.includes(line)) textLines.push(line);\n  }\n  const finalLines = (textLines.length ? textLines : [fallbackTopic]).slice(0, 3);\n  const titleClips = finalLines.map((line, index) => ({\n    asset: {\n      type: 'title',\n      text: line,\n      style: 'minimal',\n      color: '#ffffff',\n      background: 'rgba(15,15,15,0.55)'\n    },\n    start: index * 3,\n    length: 3,\n    position: 'center'\n  }));\n\n  return {\n    timeline: {\n      background: '#0f0f0f',\n      tracks: [\n        {\n          clips: [\n            {\n              asset: {\n                type: 'video',\n                src: selected.background_video_url\n              },\n              start: 0,\n              length: 15,\n              fit: 'cover'\n            }\n          ]\n        },\n        ...(titleClips.length ? [{ clips: titleClips }] : [])\n      ]\n    },\n    output: {\n      format: 'mp4',\n      aspectRatio: '9:16',\n      resolution: 'hd'\n    }\n  };\n})()) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 2000
          },
          "timeout": 45000
        }
      },
      "id": "shotstack-render",
      "name": "HTTP: Shotstack Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '') + '/api/video-ops/internal/content-ideas/' + $('Select Media (Scored)').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{ $env.APP_VIDEO_OPS_INTERNAL_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ shotstack_render_id: $json.response?.id || $json.id, shotstack_status: 'queued', final_video_status: 'processing', pipeline_status: 'rendering_requested', render_quality: 'professional' }) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "delayMultiplier": 2,
            "initialDelay": 1000
          },
          "timeout": 20000
        }
      },
      "id": "update-render-id",
      "name": "HTTP: Update Render ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        940,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, contentIdeaId: $('Select Media (Scored)').item.json.id, workflowRunId: $('Select Media (Scored)').item.json.workflowRunId, status: 'rendering_requested', media_quality: $('Select Media (Scored)').item.json.media_quality, shotstackRenderId: $('HTTP: Shotstack Render').item.json.response?.id || $('HTTP: Shotstack Render').item.json.id } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1180,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst workflowRunId = Number($('Select Media (Scored)').item.json.workflowRunId || 0);\nconst contentIdeaId = $('Select Media (Scored)').item.json.id;\nconst shotstackRenderId = $('HTTP: Shotstack Render').item.json.response?.id || $('HTTP: Shotstack Render').item.json.id || '';\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  throw new Error('Missing callback config');\n}\n\nconst body = JSON.stringify({\n  status: 'SUCCEEDED',\n  message: 'Professional render requested from Shotstack.',\n  responsePayload: JSON.stringify({\n    contentIdeaId,\n    shotstackRenderId,\n    mediaQuality: $('Select Media (Scored)').item.json.media_quality,\n    mediaScore: $('Select Media (Scored)').item.json.media_score\n  })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\nconst sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));\n\nlet response = null;\nlet lastError = null;\nfor (let attempt = 1; attempt <= 6; attempt += 1) {\n  try {\n    response = await new Promise((resolve, reject) => {\n      const req = client.request({\n        protocol: url.protocol,\n        hostname: url.hostname,\n        port: url.port || (url.protocol === 'https:' ? 443 : 80),\n        path: url.pathname + url.search,\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(body),\n          'X-Video-Ops-Callback-Secret': callbackSecret,\n          'X-Request-Timestamp': Date.now().toString()\n        }\n      }, (res) => {\n        let data = '';\n        res.on('data', (chunk) => { data += chunk; });\n        res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n      });\n\n      req.on('error', reject);\n      req.setTimeout(20000, () => req.destroy(new Error('Callback timeout')));\n      req.write(body);\n      req.end();\n    });\n\n    if (response.statusCode >= 200 && response.statusCode < 300) {\n      break;\n    }\n\n    lastError = 'Callback failed: ' + response.statusCode;\n    if (response.statusCode !== 404 || attempt === 6) {\n      throw new Error(lastError);\n    }\n  } catch (error) {\n    lastError = error.message || String(error);\n    if (attempt === 6) {\n      throw error;\n    }\n  }\n\n  await sleep(500 * attempt);\n}\n\nif (!response || response.statusCode < 200 || response.statusCode >= 300) {\n  throw new Error(lastError || 'Callback failed');\n}\n\nreturn [{ json: { ok: true, contentIdeaId, shotstackRenderId, mediaQuality: $('Select Media (Scored)').item.json.media_quality, callbackStatusCode: response.statusCode } }];"
      },
      "id": "callback-success",
      "name": "Callback: Success (with retry)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = String($env.APP_VIDEO_OPS_BACKEND_BASE_URL || '').replace(/\\/+$/, '');\nconst callbackSecret = String($env.APP_VIDEO_OPS_WORKFLOW_CALLBACK_SECRET || '');\nconst contentIdeaId = Number($('Validate Input').item.json.contentIdeaId || 0);\nconst workflowRunId = Number($('Validate Input').item.json.workflowRunId || 0);\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\nif (typeof error === 'string') errorMessage = error;\nelse if (error.message) errorMessage = error.message;\nelse if (error.error?.message) errorMessage = error.error.message;\n\nif (!baseUrl || !callbackSecret || !workflowRunId) {\n  return [{ json: { status: 'FAILED', message: 'Missing config' } }];\n}\n\nconst body = JSON.stringify({\n  status: 'FAILED',\n  message: 'Render failed: ' + errorMessage.slice(0, 200),\n  responsePayload: JSON.stringify({ contentIdeaId, error: errorMessage.slice(0, 500) })\n});\n\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\nconst url = new URL(baseUrl + '/api/video-ops/workflow-runs/' + workflowRunId + '/complete');\nconst client = url.protocol === 'https:' ? https : http;\n\nconst response = await new Promise((resolve) => {\n  let attempts = 0;\n  const maxAttempts = 2;\n\n  const tryRequest = () => {\n    const req = client.request({\n      protocol: url.protocol,\n      hostname: url.hostname,\n      port: url.port || (url.protocol === 'https:' ? 443 : 80),\n      path: url.pathname + url.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': Buffer.byteLength(body),\n        'X-Video-Ops-Callback-Secret': callbackSecret,\n        'X-Request-Timestamp': Date.now().toString()\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, body: data }));\n    });\n\n    req.on('error', () => {\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback failed' });\n      }\n    });\n\n    req.setTimeout(15000, () => {\n      req.destroy();\n      attempts++;\n      if (attempts < maxAttempts) {\n        setTimeout(tryRequest, 2000);\n      } else {\n        resolve({ statusCode: 0, body: 'Error callback timeout' });\n      }\n    });\n\n    req.write(body);\n    req.end();\n  };\n\n  tryRequest();\n});\n\nreturn [{ json: { status: 'FAILED', message: 'Error callback sent (best effort)' } }];"
      },
      "id": "callback-error",
      "name": "Callback: Error (best effort)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.message || 'Unknown error' } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Slack alert payload from upstream node error context\nconst errRaw = $input.item.json;\nconst errMsg = errRaw?.error?.message || errRaw?.message || errRaw?.error || JSON.stringify(errRaw).slice(0,500);\nconst fatalKw = ['401','403','token','expired','unauthorized','forbidden','invalid_grant'];\nconst isFatal = fatalKw.some(k => String(errMsg).toLowerCase().includes(k));\nlet validateInput = {};\ntry { validateInput = $('Validate Input').item.json || {}; } catch(e) {}\nreturn [{\n  json: {\n    workflowType: $workflow.name,\n    runId: validateInput.workflowRunId ? String(validateInput.workflowRunId) : null,\n    contentIdeaId: validateInput.contentIdeaId ? String(validateInput.contentIdeaId) : null,\n    errorMessage: String(errMsg).slice(0, 900),\n    node: errRaw?.error?.node?.name || $('error').first?.()?.node?.name || 'unknown',\n    attempt: validateInput.attemptNumber || 1,\n    maxAttempts: 3,\n    fatal: isFatal,\n    severity: 'CRITICAL',\n    n8nUrl: ($env.N8N_BASE_URL || 'http://localhost:5678') + '/workflow/' + $workflow.id + '/executions/' + $execution.id,\n    _origError: errRaw,\n  }\n}];"
      },
      "name": "Build Alert Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        500
      ],
      "id": "be30eb78-216f-4716-941b-2eeedf81e8f0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_VIDEO_OPS_BACKEND_BASE_URL}}/api/video-ops/internal/alerts/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Video-Ops-Internal-Secret",
              "value": "={{$env.APP_VIDEO_OPS_INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  workflowType: $json.workflowType,\n  runId: $json.runId,\n  contentIdeaId: $json.contentIdeaId,\n  errorMessage: $json.errorMessage,\n  node: $json.node,\n  attempt: $json.attempt,\n  maxAttempts: $json.maxAttempts,\n  fatal: $json.fatal,\n  severity: $json.severity,\n  n8nUrl: $json.n8nUrl\n}) }}",
        "options": {
          "timeout": 8000
        }
      },
      "name": "HTTP: Alert Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        500
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true,
      "id": "6e3f04a6-873b-445e-85fc-2f6857dbfc73"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "HTTP: LLM Visual Description",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: LLM Visual Description": {
      "main": [
        [
          {
            "node": "Validate Aesthetic",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Aesthetic": {
      "main": [
        [
          {
            "node": "HTTP: Pexels Search",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Pexels Search": {
      "main": [
        [
          {
            "node": "Select Media (Scored)",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Media (Scored)": {
      "main": [
        [
          {
            "node": "HTTP: Update Preparing",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Preparing": {
      "main": [
        [
          {
            "node": "HTTP: Shotstack Render",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Shotstack Render": {
      "main": [
        [
          {
            "node": "HTTP: Update Render ID",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Render ID": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: Success": {
      "main": [
        [
          {
            "node": "Callback: Success (with retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Success (with retry)": {
      "main": [],
      "error": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Error (best effort)": {
      "main": [
        [
          {
            "node": "Respond: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Payload": {
      "main": [
        [
          {
            "node": "HTTP: Alert Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Alert Backend": {
      "main": [
        [
          {
            "node": "Callback: Error (best effort)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "62482e3d-b917-4860-bdf8-8124322505be",
  "activeVersionId": "62482e3d-b917-4860-bdf8-8124322505be",
  "versionCounter": 110,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-02T13:57:29.605Z",
      "createdAt": "2026-05-02T13:57:29.605Z",
      "role": "workflow:owner",
      "workflowId": "SAn6Iepn4rCpkHJg",
      "projectId": "FguAIXCXAEmDp8ri",
      "project": {
        "updatedAt": "2026-04-30T01:59:12.417Z",
        "createdAt": "2026-04-30T01:11:03.676Z",
        "id": "FguAIXCXAEmDp8ri",
        "name": "naib youssef <youssefnaib47@icloud.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "decd1a7a-b0c1-416f-86c4-a90b89c828b7"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}